<!-- begin nav -->
<nav class="nav nav--main">
	<ul class="nav__list">
		<li class="nav__item">
			<a href="#" class="nav__link">Каталог</a>
		</li>	
		<li class="nav__item is-active">
			<a href="#" class="nav__link">Оплата</a>
		</li>	
		<li class="nav__item">
			<a href="#" class="nav__link">Доставка</a>
		</li>	
		<li class="nav__item cs-dropdown cs-dropdown--hover">
			<a href="#" class="nav__link">Личный кабинет</a>
			<ul class="cs-dropdown__list">
				<li class="cs-dropdown__item">
					<a href="#enter" class="cs-dropdown__link" data-fancybox>Вход</a>
				</li>
				<li class="cs-dropdown__item">
					<a href="#register" class="cs-dropdown__link" data-fancybox>Регистрация</a>
				</li>
			</ul>
		</li>				
	</ul>
</nav>
<!-- end nav -->