<!-- begin nav -->
<nav class="nav nav--main is-auth">
	<ul class="nav__list">
		<li class="nav__item">
			<a href="payment.html" class="nav__link">Удобная оплата</a>
		</li>
		<li class="nav__item is-active">
			<a href="delivery.html" class="nav__link">Бесплатная доставка</a>
		</li>
		<li class="nav__item">
			<a href="#" class="nav__link">Легкий возврат</a>
		</li>
		<li class="nav__item nav__item--last">
			<a href="getsale.html" class="nav__link">Получить скидку</a>
		</li>
		<li class="nav__item">
			<a href="shops.html" class="nav__link">Магазины</a>
		</li>
	</ul>
</nav>
<!-- end nav -->
