<!-- begin mobile-nav -->
<nav class="mobile-nav js-mobile-nav md-only">
	{{mixin.icon('cs-close', 'mobile-nav__close js-mobile-nav--close')}}
	<!-- end search -->
	<ul class="mobile-nav__list">
		<li class="mobile-nav__item">
			<a class="mobile-nav__link mobile-nav__link--home" href="#">Главная</a>
		</li>
		<li class="mobile-nav__item">
			<a class="mobile-nav__link mobile-nav__link--catalog js-mobile-nav-sub--open" href="#">Каталог</a>
			<ul class="mobile-nav--sub">
				<li class="mobile-nav__item">
					<a class="mobile-nav__link mobile-nav__link--back js-mobile-nav-sub--close" href="#">Назад</a>
				</li>
				{% import "data/data.html" as submenu %}
				{% for item in submenu.filterType %}
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" href="#">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		<li class="mobile-nav__item">
			<a class="mobile-nav__link mobile-nav__link--pay" href="#">Оплата</a>
		</li>
		<li class="mobile-nav__item">
			<a class="mobile-nav__link mobile-nav__link--delivery" href="#">Доставка</a>
		</li>

		<li class="mobile-nav__item mobile-nav__item--not-auth cs-dropdown js-dropdown">
			<span class="mobile-nav__link mobile-nav__link--lk">Личный кабинет</span>
			<ul class="cs-dropdown__list">
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" data-fancybox href="#enter">Вход</a>
				</li>
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" data-fancybox href="#register">Регистрация</a>
				</li>
			</ul>
		</li>

		<li class="mobile-nav__item mobile-nav__item--auth cs-dropdown js-dropdown">
			<a class="mobile-nav__link mobile-nav__link--lk" href="#">Валерий Иванов</a>
			<ul class="cs-dropdown__list">
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" href="lk-user.html">Мои заказы</a>
				</li>
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" href="lk-order.html">Пресональные скидки</a>
				</li>
				<li class="mobile-nav__item">
					<a class="mobile-nav__link" href="lk-sale.html">Выход</a>
				</li>
			</ul>
		</li>
	</ul>

	<ul class="mobile-nav__list">
		{% import "data/data.html" as manu %}
		{% for item in manu.menuMobileBottom %}
		<li class="mobile-nav__item {{ item.class }}">
			<a class="mobile-nav__link" href="{{ item.link }}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
		<li class="mobile-nav__item">
			<a class="mobile-nav__link" href="img/general/catalog.pdf" target="blank">
				Каталог PDF
			</a>
		</li>
	</ul>

	<!-- begin phone -->
	<div class="phone phone--icon">
		<a class="phone__link" href="#" itemprop="telephone">8 800 555 25 40</a>
	</div>
	<!-- end phone -->

	{% include "partials/components/_social.html" %}

</nav>
<!-- end mobile-nav -->
