=cs-scroll
	+scroll
	+scrollbar
		width: 4px
	+scrollbar-track
		width: 4px
	+scrollbar-thumb
		background-color: #c4c4c4

=bdrs
	border-radius: $border-radius

=bd
	border: 1px solid $color-border--lighten
	border-radius: $border-radius

=flex
	display: flex

=flexCenter
	display: flex
	align-items: center

=flexColumn
	display: flex
	flex-direction: column

%textLight
	font-family: $f-light
	font-weight: 300

%inputStyle
	display: inline-block
	background-color: #fff
	border: 1px solid $gray--light
	border-radius: $border-radius
	+placeholder
		color: $gray--light
		font-size: 14px

	&:hover
		border-color: #a0a0a0

	&:focus
		border-color: $color-border

%responsMobile
	+r(480)
		max-width: 425px
		width: 100%
	+r(425)
		max-width: 414px
	+r(414)
		max-width: 375px
	+r(375)
		max-width: 355px
	+r(320)
		max-width: 300px

%shadow
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.1)

%box
	background: #fff
	border: 0.25px solid #C4C4C4
	border-radius: $border-radius
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
