//Variables
$breakpoints: (
    i5: 320px,
    i7: 375px,
    i8: 414px,
    xs: 480px,
    sm: 768px,
    md: 1024px,
    lg: 1366px
);

$breakpointsMin: (
    i5: 321px,
    i7: 376px,
    i8: 415px,
    xs: 481px,
    sm: 769px,
    md: 1025px,
    lg: 1367px
);

//z-index
$z-index: (
    bottom: -9999,
    down: -1,
    default: 1,
    fixed: 10,
    success: 50,
    successBtnClose: 51,
    dropdown: 333,
    overlay: 999,
    menu: 1000,
    modal: 1001
);

//FONT
$f          :roboto-400, sans-serif;
$f-i       :roboto-400i, sans-serif;
$f-light    :roboto-300, sans-serif;
$f-light-i    :roboto-300i, sans-serif;
$f-medium   :roboto-500, sans-serif;
$f-bold     :roboto-600, sans-serif;
$f-black    :roboto-700, sans-serif;

$font-size-base  : 16px;
$font-family-base: $f;
$line-height-base: 1.5;
$font-weight-base: 400;

//Отступы
$base-indent   : 30px;
$half-indent   : $base-indent / 2;
$section-indent: 60px;
$gutter        : $base-indent;

//Base Variebles
$color-accent              :#ffba01;
$color-secondary           :#40139A;
$color-error               :#FD0000;
$color-success             :#27AE60;

$gradient : linear-gradient(170.49deg, #12026D 3.82%, #11022D 35.68%, rgba(84, 0, 113, 0.69) 98.37%);
$gradientTwo : linear-gradient(275.07deg, #FE6CB8 -36.19%, #A40C95 99.51%);;

//gray
$gray--lighten      :#e3dede;
$gray--light          :#bdbdbd;
$gray                     :#707070;
$gray--dark           :#8c8c8c;
$gray--darken       :#272727;

//text
$color-text                :$gray--darken;
$color-text--light      :#8c8c8c;
$color-text--header  :#000;

//bg
$color-bg--dark            :#191919;
$color-bg                      :#eee;
$color-bg--light           :#f5f5f5;
$color-bg--lighten       :#f2f2f2;

//border
$color-border--darken      :$gray--darken;
$color-border                    :$gray;
$color-border--light         :$gray--lighten;
$color-border--lighten     :#e5e5e5;
$color-border--lightest    :#d5d1d1;

$border-radius                  : 5px;


$color-placeholder            : $gray;


$bxs-box: 0 5px 25px rgba(0, 0, 0, 0.08);
$bxs-box--hover: 0px 5px 25px rgba(0, 0, 0, 0.15);
$bxs-hover: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
$bxs-header: 0px 20px 35px rgba(0, 0, 0, 0.25);

$button-colors: (
    accent: $color-accent,
    secondary: $color-secondary,
    error: $color-error,
	success: $color-success,
	gray--dark: $gray--darken,
	gray: $gray,
	gray-light: $gray--light,
	white: #fff
);
