.breadcrumbs
	padding: 20px 0 30px

	+r-max(xs)
		padding-bottom: 20px

	//breadcrumbs__wrap
	&__wrap
		+flexCenter
		.button-link--exit
			margin-left: auto
			text-decoration: none
			border-bottom: 0
		+r(480)
			display: none

	//breadcrumbs__list
	&__list
		+flexCenter

	//breadcrumbs__item
	&__item
		position: relative
		& + &
			margin-left: 30px
		&::after
			content: '\f105'
			font-family: fontawesome
			font-size: 14px
			line-height: 1
			position: absolute
			top: 6.5px
			right: -15px
		&:last-child
			+r(480)
				max-width: 335px
				+text-overflow
			+r(375)
				max-width: 285px
				+text-overflow
			+r(320)
				max-width: 235px
				+text-overflow
			&::after
				display: none

	//breadcrumbs__link
	&__link
		font-family: $f
		font-size: 14px
		.breadcrumbs__title
			color: $color-text--light
			&:hover
				color: $color-text

	//breadcrumbs__title
	&__title
		font-size: 15px
		color: $color-text

	//breadcrumbs--icon
	&--icon
		.breadcrumbs
			&__list
				+flexCenter
				justify-content: spase-between
				+r(480)
					justify-content: center
			&__item
				margin: auto
				&.is-active, &.is-checked
					.breadcrumbs__link
						color: $color-text
					.icon
						fill: $color-text
				&:last-child
					.breadcrumbs__link
						&::before
							display: none
				&::after
					display: none
				+i8-l
					&:not(.is-active)
						display: none
					.breadcrumbs__link
						font-size: 16px
				+r(480)
					&:not(.is-active)
						display: none
					.breadcrumbs__link
						font-size: 16px
			&__link
				padding: 0 35px 0 45px
				color: $color-text
				font-size: 18px
				line-height: 1
				position: relative
				+r(768)
					padding: 0 22px 0 30px
					font-size: 15px
				&::before
					content: '\f105'
					font-family: fontawesome
					font-size: 18px
					+vy
					right: 0
					+r(768)
						display: none
				.icon
					fill: $gray--light
					+vy
					left: 0
					&-cart
						width: 21px
					&-user
						width: 20px
					&-delivery--transparent
						width: 27px
					&-pay
						width: 23px
					&-check
						width: 18px
//breadcrumbs
