.btn
	display: inline-block
	padding: 14px 35px
	font-family: $f
	font-size: 15px
	line-height: 1
	text-align: center
	text-decoration: none
	border: 0
	outline: none
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
	border-radius: $border-radius
	position: relative
	+tr(.35s)

	+r(480)
		font-size: 16px

	&:hover
		color: #fff

	@each $theme, $color in $button-colors
		&-#{$theme}
			color: #fff
			background-color: $color
			border: 1px solid $color

			&:hover
				color: #fff
				background-color: lighten($color, 5%)
				border-color: lighten($color, 5%)

			&:active
				background-color: darken($color, 7%)
				border-color: darken($color, 7%)
				box-shadow: none

		&-outline-#{$theme}
			color: $color
			border: 1px solid $color
			box-shadow: none
			background-color: transparent

			&:hover
				color: #fff
				background-color: $color
				box-shadow: none

			&:active
				background-color: darken($color, 5%)
				box-shadow: none

	&--icon
		position: relative
		+flexCenter
		justify-content: center
		.btn
			&__icon
				+centre('y')
				left: 18px

		&.btn-accent
			.btn__icon
				width: 19px
				height: 19px
				fill: #fff

	//.btn--white
	&--white
		color: $color-text
		text-align: center
		box-shadow: $bxs-box
		background-color: #fff
		&:hover
			color: $color-text
			box-shadow: $bxs-box--hover

	//.btn--apply
	&--apply
		width: 126px
		height: 36px
		padding: 0
		font-family: $f-light
		color: #fff
		background-color: $color-accent
		border-radius: 0 4px 4px 0
		box-shadow: $bxs-box
		outline: none
		+centre('y')
		right: -145px
		z-index: z(dropdown)
		&::before
			content: ''
			+tr
			+arr(20, 36, $color-accent, l)
			+centre('y')
			left: -20px
		&:hover
			box-shadow: $bxs-box--hover
			transform: translate(10px, -50%)

		+r(768)
			max-width: 232px
			width: 100%
			height: 42px
			line-height: 42px
			font-size: 16px
			font-family: $f
			border-radius: $border-radius
			box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2)
			position: fixed
			top: auto
			left: 50%
			bottom: 20px
			transform: translate(-50%, 0)
			&::before
				display: none

	//.btn-transparent
	&--transparent
		color: #000
		border: 1px solid $color-border--light
		background-color: transparent
		box-shadow: none
		&:hover
			color: #000
			border: 1px solid #8C8C8C
			background-color: #fff
			box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05), 0 1px 7px 0 rgba(0,0,0,0.1), 0 3px 1px -1px rgba(0,0,0,0.05)

	//.btn-back
	&--back
		&::before
			content: '\f177'
			+fa('light')
			+vy
			left: 20px

	//.btn--filter
	&--filter
		max-width: 200px
		width: 100%
		padding: 15px 25px
		text-align: center
		font-size: 16px
		color: #fff
		background-color: $color-accent
		border-radius: 35px
		box-shadow: $bxs-box
		outline: none
		justify-content: center
		position: fixed
		bottom: 30px
		right: 20px
		z-index: z(fixed)

	//.btn__wrap
	&__wrap
		width: 100%
		height: 30px
		position: absolute
		left: 0
		right: 0
		bottom: -3px
		z-index: z(fixed)
		background-image: linear-gradient(170.49deg,#44275a 3.82%,#603576 35.68%,#9156a6 98.37%)

	//.btnlink
	&-link
		font-size: 14px
		color: $color-accent
		padding: 0
		border-left: 0
		border-right: 0
		border-top: 0
		background-color: transparent
		box-shadow: none
		text-decoration: underline
		outline: none
		position: relative

		&:hover
			text-decoration: none

		@each $theme, $color in $button-colors
			&-#{$theme}
				color: $color
				&:hover
					color: $color

		&--exit
			padding-left: 25px
			color: $color-text
			text-decoration: none
			+flexCenter
			&::before
				content: '\f08b'
				+fa
				font-size: 16px
				position: absolute
				top: -1px
				left: 0
			span
				// border-bottom: 1px dashed $color-accent
			&:hover
				border-bottom: none
				span
					border-bottom: none

		//.btn--icon
		&--icon
			padding: 0
			text-decoration: none
			border: 0
			+flexCenter

			.btn-link
				&__icon
					width: 35px
					height: 35px
					margin-right: 10px

					&.icon-cs-sale
						width: 27px
						height: 27px

	//.btn--small
	&--small
		padding: 4px 25px 5px
		font-size: 14px

	//.btn--big
	&--big
		min-width: 210px
		padding: 23px 50px

		&.btn--icon
			padding-left: 65px
			.icon
				left: 25px

	&--gr
		// min-width: 110px
		// height: 40px
		// line-height: 40px
		// padding: 0
		color: #fff
		// letter-spacing: .3px
		// border: 0
		// border-radius: $border-radius
		border: 0
		background: linear-gradient(275.07deg, #FE6CB8 -36.19%, #A40C95 99.51%)
		position: relative
		z-index: 3

		&::after
			content: ''
			display: block
			+coverdiv
			z-index: -100
			opacity: 0
			border-radius: inherit
			background: linear-gradient(275.07deg, #A40C95 -35.44%, #A40C95 99.51%)
			+tr

		&_icon
			margin: auto
			fill: $color-text--light

		&:hover
			&::after
				opacity: 1

	&.w100
		width: 100%
//.btn end

//.button-box
.button-box
	display: flex
	align-items: center

	&--right
		justify-content: flex-end

	&--center
		justify-content: center

	&--end
		justify-content: flex-end

	&--column
		flex-direction: column

	.btn
		& + .btn
			margin-left: 30px

	.btn-link
		font-family: $f-medium
		font-weight: 500
		color: $color-text
		text-decoration: none

	p
		margin-bottom: 0
		font-family: $f-light
		color: $color-text--light
		line-height: 1.3
		flex-grow: 1

		+r(768)
			margin-bottom: 20px

		+r(480)
			margin-bottom: 15px
			font-size: 12px

		strong
			font-family: $f-medium
			font-weight: 500
			color: $color-text

//.btn-icon
.btn-icon
	width: 60px
	height: 60px
	background-color: #fff
	border: 1px solid $gray--lighten
	border-radius: 50%
	outline: none
	position: relative
	+flexCenter
	justify-content: center

	//. &::after
	//. 	content: ''
	//. 	display: block
	//. 	width: 0
	//. 	height: 0
	//. 	border-radius: 50%
	//. 	+cover

	//.btn-icon__ico
	&__ico
		width: 24px
		height: 24px
		fill: $gray

		&--plus, &--check
			display: none

		&--plus
			width: 13px
			height: 13px
			+rotate(45)

	&--arrow
		&-down
			border: 0
			border-style: 0
			background-color: transparent
			position: relative
			&::before
				content: '\f107'
				+fa('light')
				font-size: 22px
				color: $gray--light
				+tr
				+centre('y')
			&:hover
				&::before
					color: $color-text
			&.is-checked
				&::before
					content: '\f106'

	//.btn-icon--addInCar
	&--addInCart
		.btn-icon__ico
			&--plus
				+r(480)
					display: none
		&:hover
			+rmin(480)
				color: #fff
				border-color: $color-accent
				background-color: $color-accent

				//. &::after
				//. 	width: 100%
				//. 	height: 100%
				//. 	background-color: $color-accent

				.btn-icon__ico
					fill: #fff
					&--cart
						display: none
					&--plus
						display: block

		&.is-checked
			border-color: $gray--lighten
			background-color: #fff
			&:hover
				fill: $color-accent
				border-color: $color-accent
				.btn-icon__ico
					fill: $color-accent

			.btn-icon__ico
				&:hover
					fill: $color-accent

				&--cart, &--plus
					display: none
				&--check
					display: block
//.btn-icon end

.back-to-search
	&::before
		content: '\f002'
		+fa('light')
		+vy
		left: -20px
	&:hover
		&::before
			color: lighten($color-accent, 10%)
//.back-to-search

//.go-top
.go-top
	width: 65px
	height: 65px
	line-height: 38px
	border-radius: 50%
	color: #fff
	font-size: 30px
	background-color: $gray--light
	box-shadow: $bxs-box
	cursor: pointer
	position: fixed
	left: 20px
	bottom: -200%
	+tr
	z-index: z(dropdown)
	+flexCenter
	justify-content: center
	opacity: .5
	+rmin(481)
		display: none

	&.is-visible
		bottom: 20px
//.go-top
