.form

	&.is-success
		.success
			+trfY(0)

	//.form__title
	&__title
		margin-bottom: 10px
		font-family: $f-medium
		font-weight: 500
		font-size: 18px

	//.form__input
	&__input
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0

	//.form__box
	&__box
		margin-bottom: 25px
		+flexCenter
		.password-recovery
			margin-left: auto
			font-family: $f-light
			font-size: 14px
			color: $gray--light
			&:hover
				text-decoration: underline

	//.form__btn
	&__btn
		width: 100%
		margin-bottom: 30px

	//.form__btn
	&__link
		display: block
		text-align: center
		font-size: 15px
		font-family: $f-light
		color: $color-secondary

		&:hover
			text-decoration: underline
			color: $color-secondary

	&__text
		font-size: 14px

    //.form__enter
	&__enter
		max-width: 375px
		display: flex
		flex-direction: column

		.pedit
			&__title
				min-width: 65px

		.button-box
			margin-top: 15px
			font-size: 14px
			display: flex
			justify-content: space-between
			.password-recovery
				margin-left: auto

		.form
			&__checkbox
				margin-bottom: 20px

	&--small
		max-width: 320px

	.cs-checkbox
		&__title
			font-family: $f-light
//.form

.success
	text-align: center
	background-color: #fff
	+coverdiv
	+trfY(-200%)
	+tr
	z-index: (z-success)
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

	//.success__text
	&__text
		margin: auto
		text-transform: uppercase
		font-family: $f-bold
		font-size: 23px
		color: #000
		&--small
			text-transform: initial
			font-family: $f
			font-size: 15px
//.success

