.form
	
	//form__input
	&__input
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0

	//form__box
	&__box
		margin-bottom: 25px
		@extend %flexCenter
		.password-recovery
			margin-left: auto
			font-family: $f-light
			font-size: 14px
			color: $gray--light
			&:hover
				text-decoration: underline

	//form__btn
	&__btn
		width: 100%
//form

.cs-input
	@extend %inputStyle
	width: 100%
	position: relative

	&.is-invalid
		.cs-input
			&__field
				border: 1px solid $color-error
			&__error
				display: block

	//cs-input__title
	&__title
		color: $gray--light
		font-size: 16px
		+vy
		left: 15px
		+tr

	//cs-input__field
	&__field
		width: 100%
		height: 100%
		padding: 0 15px
		font-size: 15px
		border: 1px solid $gray--light
		border-radius: $border-radius
		&:focus
			border-color: $color-border

	//cs-input__error
	&__error
		display: none
		white-space: nowrap
		font-family: $f-medium
		font-size: 13px
		line-height: 1
		color: $color-error
		position: absolute
		bottom: -15px
		left: 0

	//cs-input--select
	&--select
		width: 100%
		height: 100%
		line-height: 26px
		&.is-invalid
			border: 0
			.select2-container .select2-selection--single
				border: 1px solid $color-error
//cs-input