.c-select {
	min-width: auto;
	height: 50px;
	background-color: #fff;
	border-radius: $border-radius;
	cursor: pointer;
	position: relative;
	@include flexCenter;

	&__wrap {
		@include flexCenter;

		@include r-max(sm) {
			width: 100%;
			position: relative;
			justify-content: center;

			.c-select {
				position: static;
			}
		}
	}//.c-select__wrap

	&__btn {
		width: 100%;
		height: 100%;
		padding: 0 20px 0 50px;
		border-radius: $border-radius;
		position: relative;
		@include tr;
		@include flexCenter;

		@include r-max(xs) {
			padding: 0 20px 0 40px;
		}

		@include landscape() {
			padding: 0 20px 0 40px;
		}

		&:hover {
			background-color: $color-bg--light;

			@include r-max(sm) {
				background-color: transparent;
			}
		}
	}//.c-select__btn

	&__reset {
		width: 22px;
		height: 22px;
		margin-left: auto;
		padding: 5px;
		fill: $gray--light;

		&:hover {
			fill: $gray;
		}
	}//.c-select__reset

	&__icon {
		width: 22px;
		height: 22px;
		margin-right: 15px;
		fill: $color-secondary;

		&--close {
			width: 17px;
			height: 17px;
		}
	}//.c-select__icon

	&__val {
		font-size: 14px;
		@include nosel;
	}//.c-select__val

	&__dropdown {
		min-width: max-content;
		padding: 20px;

		@include r-max(sm) {
			columns: auto !important;
			max-height: 400px;
			overflow-y: auto;
		}

		@include landscape() {
			max-width: 650px;
		}
	}//.c-select__dropdown

	&__list {
		columns: auto 3;

		@include r-max(sm) {
			columns: auto;
		}
	}//.c-select__list

	&__item {
		padding: 0 10px 0 15px;
		line-height: 40px;
		font-size: 14px;
		color: $color-text;
		white-space: nowrap;
		border-radius: $border-radius;
		position: relative;
		@include flexCenter;

		&.is-checked {
			.c-select__link {
				color: #000;
				background-color: $color-bg--light;
			}
		}
	}//.c-select__item

	&__link {
		display: inline-block;
		padding: 0 10px 0 15px;
		line-height: 40px;
		font-size: 14px;
		color: $color-text;
		white-space: nowrap;
		border-radius: $border-radius;
		transition: initial;

		&:hover {
			color: #000;
			background-color: $color-bg--light;
		}
	}//.c-select__link

	&.w2 {

		.c-select {

			&__dropdown {
				columns: auto 2;
			}
		}
	}

	.toggle {
		width: 50px;
		height: 46px;
		margin-top: 4px;
		padding: 13px;
		position: absolute;
		top: 0;
		left: 0;

		@include r-max(xs) {
			width: 25px;
			height: 17px;
			margin-top: 17px;
			padding: 0;
		}

		span {
			background-color: $color-secondary;

			&::before , &::after {
				background-color: $color-secondary;
			}
		}
	}

	&.is-active {
		z-index: z(modal);

		.c-select {

			&__dropdown {
				visibility: visible;
				opacity: 1;
				top: 75px;
				pointer-events: auto;
				z-index: z(modal);
			}

			&__btn {
				background-color: $color-accent;

				@include r-max(sm) {
					background-color: transparent;
				}
			}

			&__icon {
				fill: #fff;
			}

			&__val {
				color: #fff;
			}//.c-select__val
		}

		.toggle {
			pointer-events: none;

			span {
				background-color: transparent;

				&::before , &::after {
					background-color: #fff;
				}
			}
		}
	}

	&--product {
		.c-dropdown {
			&__list {
				@include r-max(sm) {
					&::before {
						left: 32%;
					}
				}
				@include r-max(xs) {
					&::before {
						left: 22%;
					}
				}
				@include r-max(i7) {
					&::before {
						left: 19%;
					}
				}
			}
		}
	}//.c-select--product

	&--avto {
		.c-dropdown {
			&__list {
				@include r-max(sm) {
					&::before {
						left: 52%;
					}
				}
				@include r-max(xs) {
					&::before {
						left: 51%;
					}
				}
			}
		}
	}//.c-select--avto

}//.c-select

.cs-select {
    position: relative;
    padding: 0;

    &::before {
        content: '\f107';
        @include fa('light');
        font-size: 18px;
        color: $gray;
        @include vy;
        right: 10px;
    }

    @include r-max(i5) {
		width: auto;
		padding-right: 28px;

		select {
			width: 100%;
			padding-right: 0;
		}
    }

    select {
        width: 100%;
        height: 100%;
        font-family: $f;
        color: $gray;
        appearance: none;
		font-size: 15px;
		border: 1px solid $gray--light;
		border-radius: $border-radius;
		@extend %inputStyle;

        &:focus {
            border-color: $color-border--lighten;
            box-shadow: none;
        }
    } //.bb-select select

    option {
        padding: 0 10px;
    } //.bb-select option
} //.bb-select
