.cs-slider
	position: relative

	//.cs-slider__arrow
	&__arrow
		width: 30px
		height: 30px
		text-align: center
		border-radius: 50%
		overflow: hidden
		opacity: .3
		cursor: pointer
		display: none
		+tr
		+vy

		&[aria-disabled="false"]
			display: flex !important

		+r-min(sm)
			background-color: darken($color-bg--light, 5%)

		+r(1200)
			z-index: z(dropdown)

		+r(768)
			height: 90%
			flex-direction: column
			justify-content: center
			align-items: center

		&.is-disable
			display: none

		&:hover
			opacity: .7

			&::before
				color: #000
				opacity: 1

			+r-min(sm)
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

		&::before
			display: block
			margin: 0
			+fa('light')
			font-size: 22px
			line-height: 1
			+centre()

			+r(480)
				font-size: 30px

		&--next
			right: -50px
			z-index: 1

			+r(1200)
				right: -15px

			+r(768)
				right: -10px

			&::before
				content: '\f105'
				margin-left: 1px

		&--prev
			left: -50px
			z-index: 1

			+r(1200)
				left: -15px

			+r(768)
				left: -10px

			&::before
				content: '\f104'
				margin-right: 1px

		&[aria-disabled="true"]
			display: none !important

	//.cs-slider__slide
	&__slide
		&_inner
			display: flex
			align-items: flex-start

	//.cs-slider__title
	&__title
		font-family: $f-medium
		font-size: 36px
		color: $gray--darken

	//.cs-slider__desc
	&__desc
		margin-bottom: 50px

	//.cs-slider__text
	&__text
		margin-top: 30px

	//.cs-slider .slick-dots
	.slick-dots
		text-align: center
		bottom: -25px
		display: flex
		justify-content: center
		align-items: center

		//.cs-slider .slick-dots li
		li
			display: flex

			//.cs-slider .slick-dots li button
			button
				&::before
					height: 1px
					+tr

			&.slick-active
				button
					&::before
						height: 2px

	//.cs-slider .slick-prev
	.slick-prev
		+s('angel--left')
		left: -10px

	//.cs-slider .slick-next
	.slick-next
		+s('angel--right')
		right: -10px

	//.cs-slider--expanded
	&--expanded
		.cs-slider__arrow
			&--next
				right: -150%
			&--prev
				left: -150%
		&:hover
			.cs-slider__arrow
				&--next
					right: 0
				&--prev
					left: 0

		.slick-dots
			left: 15px
			bottom: 10px
		.slick-list, .slick-slider
			position: static

	//.cs-slider--home
	&--home
		.cs-slider__slide
			+r-min(xs)
				&:not(.news__item--link)
					display: block !important
					margin: auto

		.slick-track
			padding: 15px 0

		.slick-list
			+r(1200)
				padding-right: 20px
			+r(480)
				padding-right: 0

		.slick-slide

			+r-max(sm)
				margin: 0 10px

			& > div
				+r-max(xs)
					height: 100%
					display: flex
					justify-content: center

		+r-max(xs)
			.cs-slider
				&__arrow
					&--prev
						left: 0
					&--next
						right: 0

	//.cs-slider--hero
	&--hero
		position: relative

		.slick-slider
			.slick-track
				transform: translate3d(0,0,0) !important

		.slick-slide
			border-radius: $border-radius
			background-color: #fff

		.slick-dots
			bottom: 10px
			li
				button
					padding: 0
					margin: 0 5px
					width: 5px
					height: 5px
					border-radius: 50%
					&::before
						width: 5px
						height: 5px
						border-radius: 50%
						background: #c4c4c4
						transition: initial
				&.slick-active
					button
						width: 9px
						height: 9px
						&::before
							width: 9px
							height: 9px
							box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3)
							background: linear-gradient(272.35deg, #FE6CB8 -36.19%, #A40C95 99.51%)

		&::before, &::after
			content: ''
			display: block
			width: 100%
			height: 30px
			background: #F2F2F2
			border-radius: $border-radius
			+centre('x')

		&::before
			width: 96%
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1)
			bottom: -15px
			z-index: -1

		&::after
			width: 92%
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1)
			bottom: -30px
			z-index: -2

		.cs-slider
			&__slides

				&::before
					content: ''
					display: block
					max-width: 1185px
					width: 100%
					height: 100%
					background-color: #fff
					border-radius: $border-radius
					position: absolute
					top: 0
					left: 7px
					right: 0

			&__slide
				padding: 30px 120px 0 70px
				background: linear-gradient(90deg, #FDFBFB 0.73%, #EBEDEE 100%)
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
				border-radius: $border-radius
				position: relative

				+r-max(sm)
					padding: 30px 50px 0 50px

			&__text
				max-width: 320px
			&__img
				margin-left: auto
			&__arrow
				background-color: transparent
				&--prev
					left: 20px

					+r(768)
						left: 10px
				&--next
					right: 20px

					+r(768)
						right: 10px

	//.cs-slider--card
	&--card
		.cs-slider
			&__arrow
				background-color: transparent
				&--next
					right: 10px
				&--prev
					left: 10px
			&__slides
				max-width: 340px
				margin: auto

		.slick-dots
			bottom: 15px
			li
				button
					padding: 0
					margin: 0 5px
					width: 5px
					height: 5px
					border-radius: 50%
					&::before
						width: 5px
						height: 5px
						border-radius: 50%
						background: #c4c4c4
						transition: initial
				&.slick-active
					button
						width: 9px
						height: 9px
						&::before
							width: 9px
							height: 9px
							box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3)
							background-color: #828282

	//.cs-slider--delivery
	&--delivery
		width: 100%

		.cs-card__img
			+r(768)
				width: 50%
			+r(480)
				width: 70%

		.cs-slider
			&__arrow
				background-color: transparent
				+r(768)
					top: 80px
				+r(480)
					height: 13%
					top: 65px
				&:hover
					box-shadow: none

				&--next
					+r(768)
						right: -30px
					+r(480)
						right: -10px
				&--prev
					+r(768)
						left: -30px
					+r(480)
						left: -10px

			&__slides
				margin-top: 15px
				+r(480)
					margin-top: 0

		.slick-slide
			margin: 0 2px

		.slick-dots
			bottom: -20px
			+r(480)
				display: none !important
			li
				button
					padding: 0
					margin: 0 5px
					width: 5px
					height: 5px
					border-radius: 50%
					&::before
						width: 5px
						height: 5px
						border-radius: 50%
						background: #c4c4c4
						transition: initial
				&.slick-active
					button
						width: 9px
						height: 9px
						&::before
							width: 9px
							height: 9px
							box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3)
							background: linear-gradient(272.35deg, #FE6CB8 -36.19%, #A40C95 99.51%)
	//.cs-slider end

.news-slider
	.slick-slide
		& > div
			height: 100%
