#stories {
	position: relative;
	max-width: 414px;
	width: 100%;
	height: 100vh;
	background: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }

  .time {
	padding: 10px;
	display: flex;
	justify-content: space-around;
  }

  .time-item {
	flex: 1 1 auto;
	border-radius: 5px;
	margin-right: 5px;
	height: 10px;
	background-color: rgba(0,0,0,0.10);
	position: relative;
	overflow: hidden;
  }

  .time-item:last-child {
	margin-right: 0;
  }

  .time-item > div {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
  }

  .content {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.15) 100%);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
  }
  .texts {
	padding: 7%;
  }

  #back, #next {
	position: absolute;
	top: 0;
  }

  #back {
	left: 0;
	height: 100%;
	width: 50%;
  }

  #next {
	left: 50%;
	height: 100%;
	width: 50%;
  }
