---
title: О компании
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper about">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">О компании</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<div class="container">

		<div class="cs-card about__cs-card">

			<h1 class="h1 page-title">{{ title }}</h1>

			<div class="about__desc">
				<p>CS20 - молодой Российский бренд автозапчастей, который 8 лет производит износостойкие автозапчасти из полиуретана, силикона и резины. Производство и склады располагаются в России, в городе Балаково, Саратовской области, поэтому мы знаем какими должны быть автозапчасти для отечественных автомобилей.</p>

				<p>Главная идеология бренда - это доработанные, неломающиеся узлы автомобиля с активной гарантией от производителя. Это значит что при соблюдении условий установки автовладельцы в любой момент смогут заменить вышедшую в течении 2-ух лет запчасть на новую совершенно бесплатно.</p>
			</div>

			<div class="quote about__quote js-quote">
				<blockquote class="quote__text">“Конечный результат радует покупателя, <br> а это высшая оценка для меня и компании.”</blockquote>
				<div class="quote__author">Генеральный директор Михельсон И.С.</div>
			</div>

			<div class="block-image block-image--general">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/about/about-1.jpg" alt="Генеральный директор Михельсон И.С.">
					</div>
					<div class="block-image__desc">
						<p>Современному руководителю, чтобы результативно управлять компанией, важно, в своей деятельности сочетать множество ролей. </p>

						<p>Только окончательно разбираясь в рабочих тонкостях и пройдя путь: выбор материала, изготовление, процесс сбыта, логистика, маркетинг - понимаешь, как сделать продукт востребованным, высококачественным и конкурентноспособным.</p>
					</div>
				</div>
			</div>

			<h2 class="h1 page-title">Технологии</h2>

			<div class="block-image block-image--reverse">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/about/about-2.jpg" alt="Технологии">
					</div>
					<div class="block-image__desc">
						<p>Применение заливочного оборудования позволяет оптимизировать технологический процесс и обеспечить качественное изготовление износостойких автокомпонентов CS20. За кажущейся простотой процессов производства кроется строгое соблюдение регламентов подготовки оснастки, арматуры и компонентов материала к заливке, полимеризации и термостатированию.</p>

						<p>Сырье для заливочной машины извлекают из сырой нефти путём сложных технологических процессов. Полученные жидкие компоненты дополняются вспомогательными присадками, которые улучшают морозостойкость, возвратность и сводят к нулю остаточную деформацию. Для получения реакционноспособной смеси, составы смешивают. Изменяя рецептуру и соотношение компонентов регулируется спектр свойств образующегося полиуретана.</p>


						<a href="tehnology.html" class="card__more-info block-image__link">
							<i class="fal fa-list-ul"></i>
							<span>Подробнее о технологиях</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end home -->

{% endblock %}
