---
title: Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН 
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper card">

	<!-- begin card__top-line -->
	<div class="container">
		<div class="card__top-line">

			<!-- begin breadcrumbs -->
			<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Главная</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Каталог</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Патрубки / Шланги</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__title" itemprop="title">10843</span>
					</li>
				</ul>
			</div>
			<!-- end breadcrumbs -->

			<a href="#" class="back-to-search button-link">Вернуться к поиску</a>

		</div>
	</div>
	<!-- end card__top-line -->

	<!-- begin card__content -->
	<div class="container">
		<div class="card__content">
			<!-- begin card__img -->
			<div class="card__img">
				<!-- <img src="img/cart/product.png" al	t="Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН "> -->
				<div class="cs-slider cs-slider--expanded card__slider">
					<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
					<div class="cs-slider__arrow cs-slider__arrow--next"></div>
					<div class="cs-slider__slides js-cs-slider--card">
						{% for i in range(0, 2) %}
						<div class="cs-slider__slided">
							<img class="cs-slider__img zoom" src="img/cart/product.png" alt="Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН ">
						</div>
						{% endfor %}﻿
					</div>
				</div>
			</div>
			<!-- end card__img -->
			<!-- begin card__desc -->
			<div class="card__desc">
				<h1 class="card__title">Комплект патрубков 2170 (7 шт) <span>profi синий силикон</span> Состав: код 8811/6535/8049/10098/10102</h1>
				<div class="card__sum">
					<div class="card__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
						<meta itemprop="price" content="2232">
						<meta itemprop="priceCurrency" content="RUB" />
					</div>
					<div class="card__counter counter">
						<span class="counter__control counter__control--minus js-counter--minus">—</span>
						<input type="text" class="counter__field" value="1">
						<span class="counter__control counter__control--plus js-counter--plus">+</span>
					</div>
				</div>
				<div class="button-box">
					<button class="button button--accent card__btn">Добавить в корзину</button>
					<button class="button button--transparent card__btn" data-src="#buy-one-click" data-fancybox>Купить в 1 клик</button>
				</div>

				<span class="price__stock">Есть в наличии</span>	

				<div class="card__info-block">
					<div class="info-block__items">
						<div class="info-block__item">
							{{mixin.icon('delivery', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Бесплатная доставка</span>
								<p class="info-block__desc">При заказе в интернет-магазине от 1000 рублей. По России.</p>
							</div>
						</div>
						<div class="info-block__item">
							{{mixin.icon('garanty', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Расширенная гарантия</span>
								<p class="info-block__desc">Обмен товара на аналогичный в течении 2 лет</p>
							</div>
						</div>
						<div class="info-block__item">
							{{mixin.icon('giftbox', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Подарок каждому</span>
								<p class="info-block__desc">Прочные перчатки в подарок к каждому заказу</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end card__desc -->
		</div>
	</div>
	<!-- end card__content -->

	<!-- begin card-info -->
	<section class="card-info card__card-info">
		<div class="container">	

			<div class="tab tab--transform js-tab--transform">
				<div class="tab__wrap">
					<div class="tab__titles js-tab">
						<div class="tab__title is-active" data-tab="0">
							О товаре
						</div>
						<div class="tab__title" data-tab="1">
							Характеристики
						</div>
						<div class="tab__title" data-tab="2">
							Где применяется
						</div>
						<div class="tab__title" data-tab="3">
							Сертификаты
						</div>
						<div class="tab__title" data-tab="4">
							Отзывы
						</div>
						<div class="tab__title" data-tab="5">
							Обзоры
						</div>
					</div>
					<div class="tab__contentes">
						<div class="tab__content" style="display: block;" data-tab-content="0">
							<p>Патрубки и шланги являются неотъемлемый частью системы охлаждения двигателя и отопления автомобиля. Они обеспечивают циркуляцию охлаждающей жидкости (тосол, антифриз).</p>
						</div>

						<div class="tab__content" data-tab-content="1">					
							<div class="product-info">
								<ul class="product-info__list">
									<li class="product-info__item">Артикул:
										<span>05748</span>
									</li>
									<li class="product-info__item">Модель Авто:
										<span>2170 Приора</span>
									</li>
									<li class="product-info__item">Каталожный номер:
										<span>3105-1203132</span>
									</li>
									<li class="product-info__item">Состав комплекта:
										<span>8811/6535/8049/10098/10102</span>
									</li>
									<li class="product-info__item">Упаковка:
										<span>Пакет</span>
									</li>
									<li class="product-info__item">Пакет:
										<span>4627131277727</span>
									</li>
								</ul>
							</div>
						</div>

						<div class="tab__content" data-tab-content="2">
							<p>Модель Авто 2170 Приора</p>
						</div>

						<div class="tab__content" data-tab-content="3">
							<div class="sertificate">
								<div class="sertificate__items">
									<div class="sertificate__item">
										<div class="sertificate__download">
											{{ mixin.icon('pdf') }}
											<a href="img/general/sertificate/1.png" download><span>Скачать сертификаты соответствия	</span>	(4,45 МВ)
											</a>
										</div>
									</div>
									<div class="sertificate__item">
										<img src="img/general/sertificate/1.png" alt="Сертифика соответствия">
									</div>
									<div class="sertificate__item">
										<img src="img/general/sertificate/2.png" alt="Сертифика соответствия">
									</div>
									<div class="sertificate__item">
										<img src="img/general/sertificate/3.png" alt="Сертифика соответствия">
									</div>
								</div>
							</div>
						</div>

						<div class="tab__content" data-tab-content="4">

						</div>

						<div class="tab__content" data-tab-content="5">

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- end card-info -->
	
	<!-- begin card__recomended -->
	<section class="card__recomended">
		<div class="container">

			<h2 class="h2 cs-section__title">Вместе с этим товаром покупают</h2>

			<div class="product-item__wrap">
				{% for i in range(0, 4) %}
				<a href="#" class="product-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
					<div class="product-item__img">
						<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
					</div>
					<div class="product-item__desc">
						<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
					</div>
					<div class="product-item__footer">
						<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
							<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
							<meta itemprop="price" content="2232">
							<meta itemprop="priceCurrency" content="RUB" />
							<span class="price__stock">Есть в наличии</span>
						</div>
						<div class="product-item__buttons">
							<button class="button button--accent product-item__btn">Добавить в корзину</button>
						</div>
					</div>
				</a>
				{% endfor %}﻿
			</div>

		</div>		
	</section>
	<!-- end card__recomended -->

</div>	
<!-- end home -->

{% endblock %}
