---
title: Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН 
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper card">

	<!-- begin card__top-line -->
	<div class="container">
		<div class="card__top-line">

			<!-- begin breadcrumbs -->
			<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Главная</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Каталог</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Патрубки / Шланги</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__title" itemprop="title">10843</span>
					</li>
				</ul>
			</div>
			<!-- end breadcrumbs -->

			<a href="#" class="back-to-search button-link">Вернуться к поиску</a>

		</div>
	</div>
	<!-- end card__top-line -->

	<!-- begin card__content -->
	<div class="container">
		<div class="card__content">
			<!-- begin card__img -->
			<div class="card__img">
				<!-- <img src="img/cart/product.png" al	t="Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН "> -->
				<div class="cs-slider cs-slider--expanded card__slider">
					<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
					<div class="cs-slider__arrow cs-slider__arrow--next"></div>
					<div class="cs-slider__slides js-cs-slider--card">
						{% for i in range(0, 2) %}
						<div class="cs-slider__slided">
							<img class="cs-slider__img zoom" src="img/cart/product.png" alt="Комплект патрубков 2170 PROFI СИНИЙ СИЛИКОН ">
						</div>
						{% endfor %}﻿
					</div>
				</div>
			</div>
			<!-- end card__img -->
			<!-- begin card__desc -->
			<div class="card__desc">
				<h1 class="card__title">Комплект патрубков 2170 (7 шт) <span>profi синий силикон</span> Состав: код 8811/6535/8049/10098/10102</h1>
				<div class="card__sum">
					<div class="card__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
						<meta itemprop="price" content="2232">
						<meta itemprop="priceCurrency" content="RUB" />
					</div>
					<div class="card__counter counter">
						<span class="counter__control counter__control--minus js-counter--minus">—</span>
						<input type="text" class="counter__field" value="1">
						<span class="counter__control counter__control--plus js-counter--plus">+</span>
					</div>
				</div>
				<div class="button-box">
					<button class="button button--accent card__btn">Оформить заказ</button>
					<button class="button button--transparent card__btn" data-src="#buy-one-click" data-fancybox>Купить в 1 клик</button>
				</div>
				<div class="card__info cs-accordeon js-cs-accordeon">
					<span class="price__stock">Есть в наличии</span>						
					<div class="card__product-info cs-accordeon__item">
						<div class="cs-accordeon__title">Все характеристики</div>
						<div class="cs-accordeon__content">						
							<div class="product-info">
								<ul class="product-info__list">
									<li class="product-info__item">О товаре:
										<span>Патрубки и шланги являются неотъемлемый частью системы охлаждения двигателя и отопления автомобиля. Они обеспечивают циркуляцию охлаждающей жидкости (тосол, антифриз)</span>
									</li>
									<li class="product-info__item">Артикул:
										<span>05748</span>
									</li>
									<li class="product-info__item">Модель Авто:
										<span>2170 Приора</span>
									</li>
									<li class="product-info__item">Каталожный номер:
										<span>3105-1203132</span>
									</li>
									<li class="product-info__item">Состав комплекта:
										<span>8811/6535/8049/10098/10102</span>
									</li>
									<li class="product-info__item">Упаковка:
										<span>Пакет</span>
									</li>
									<li class="product-info__item">Пакет:
										<span>4627131277727</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end card__desc -->
		</div>
	</div>
	<!-- end card__content -->

	<!-- begin card__content -->
	<div class="container">
		<div class="card__content card__content--center">

			<!-- begin card__left -->
			<div class="card__left card__left--no-border">

				<h2 class="h2 cs-section__title">Вместе с этим товаром покупают</h2>
				
				<div class="product-item__wrap">
					{% for i in range(0, 3) %}
					<a href="#" class="product-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
						<div class="product-item__img">
							<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
						</div>
						<div class="product-item__desc">
							<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
						</div>
						<div class="product-item__footer">
							<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
								<meta itemprop="price" content="2232">
								<meta itemprop="priceCurrency" content="RUB" />
								<span class="price__stock">Есть в наличии</span>
							</div>
							<div class="product-item__buttons">
								<button class="button button--accent product-item__btn">Добавить в корзину</button>
							</div>
						</div>
					</a>
					{% endfor %}﻿
				</div>

			</div>
			<!-- end card__left -->
			<!-- begin card__right -->
			<div class="card__right">

				<div class="info-block">
					<div class="info-block__items">
						<div class="info-block__item">
							{{mixin.icon('delivery', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Бесплатная доставка</span>
								<p class="info-block__desc">При заказе в интернет-магазине <br> от 1000 рублей. По России.</p>
							</div>
						</div>
						<div class="info-block__item">
							{{mixin.icon('garanty', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Расширенная гарантия</span>
								<p class="info-block__desc">Обмен товара на аналогичный <br> в течении 2 лет</p>
							</div>
						</div>
						<div class="info-block__item">
							{{mixin.icon('giftbox', 'info-block__icon')}}
							<div class="info-block__text">
								<span class="info-block__title">Подарок каждому</span>
								<p class="info-block__desc">Прочные перчатки в подарок <br> к каждому заказу</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- end card__right -->
		</div>
	</div>
	<!-- end card__content -->

</div>	
<!-- end home -->

{% endblock %}
