---
wrapClass: page-cart
title: Корзина
cartTitle: Подтвердите место доставки
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin cart -->
	<div class="container">
		<div class="cart-box">
			<div class="cart-box__header">
				<h1 class="h1 cart-box__title">{{ cartTitle }}</h1>
				{% include "blocks/cart/_breadcrumbs.html" %}
			</div>
			<div class="cart-box__content">

				<div class="cart-box__inner">
					<div class="row row--end js-select--box">
						<div class="col-4 col-sm-6 col-xs-12">
							<div class="pedit__item">
								<div class="pedit__title">Укажите ваш адрес:<i>*</i></div>
								<div class="pedit__field">
									<select class="js-select js-select--country" data-placeholder="Выбор страны">
										<option></option>
										{% for i in range(0, 5) %}
										<option value="{{ i+1 }}">{{ i+1 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="col-4 col-sm-6 col-xs-12">
							<div class="pedit__item">
								<div class="pedit__field">
									<select class="js-select js-select--region" data-placeholder="Выбор региона" disabled>
										<option></option>
										{% for i in range(0, 5) %}
										<option value="{{ i+1 }}">{{ i+1 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="col-4 col-sm-6 col-xs-12">
							<div class="pedit__item">
								<div class="pedit__field">
									<select class="js-select js-select--city" data-placeholder="Выбор  города" disabled>
										<option></option>
										{% for i in range(0, 5) %}
										<option value="{{ i+1 }}">{{ i+1 }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>

						<div class="col-4 col-sm-6 col-xs-12">
							<div class="pedit__item">
								<div class="pedit__field">
									{{item.input(type='number', placeholder='Индекс')}}
								</div>
							</div>
						</div>

						<div class="col-8 col-sm-12">
							<div class="pedit__item">
								<div class="pedit__field">
									{{item.input(type='text', placeholder='Улица, дом, офис, кв.')}}
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="cart-box__bottom">
				<div class="button-box button-box--end">
					<p>Нажимая на кнопку "Далее", я даю <a class="btn-link" href="privacy.html">согласие на обработку персональных данных</a></p>
					<a href="#" class="btn btn-outline-gray-light cart-box__btn">Назад</a>
					<a href="#" class="btn btn-accent cart-box__btn">Далее</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

</div>
<!-- end home -->

{% endblock %}
