---
title: Доставка | Интернет-магазин износостойких автокомпонентов с доставкой по РФ

breadcrumbs:
 - title: Корзина
   icon: cart
   class: is-checked
 - title: Авторизация
   icon: cart__user
   class: is-checked
 - title: Способ доставки
   icon: delivery--transparent
   class: is-checked
 - title: Способ оплаты
   icon: pay
   class: is-active
 - title: Подтверждение заказа
   icon: cart__check
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs breadcrumbs--icon">
			<ul class="breadcrumbs__list">
				{% for item in breadcrumbs %}
				<li class="breadcrumbs__item {{item.class}}">
					<a href="#" class="breadcrumbs__link">
						<svg class="icon icon-{{item.icon}} ">
							<use xlink:href="img/sprite.svg#{{item.icon}}"></use>
						</svg>
						{{item.title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin cart -->
	<div class="container">

		<div class="cart__wrap">
			<h1 class="cart__title">Выберите способ оплаты</h1>

			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
                    {{ mixin.icon('pay') }} 
                    <span class="cs-checkbox__box"></span>
              	</div>
              	<div class="delivery-item__text">
              		<span class="delivery-item__title">Оплата на складе при получении</span>
              		<div class="delivery-item__desc">При оплате на складе Вы лично или Ваше доверенное лицо забираете товар с нашего склада и оплачиваете его на месте. Склад находится по адресу: г. Балаково, ул. Транспортная 6/1, время работы: Пн-Пт 8:00-17:00, телефон: 8-800-555-25-40</div>
              	</div>
			</div>
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
                    <img class="delivery-item__img" src="img/general/robokassa.png" alt="Оплата банковской картой">
                    <span class="cs-checkbox__box"></span>
              	</div>
              	<div class="delivery-item__text">
              		<span class="delivery-item__title">Оплата банковской картой</span>
              		<div class="delivery-item__desc">Оплата происходит через систему Робокасса. Данный вид оплаты является самым простым и распространенным, ведь система Робокасса включает в себя более 40 способов оплаты.</div>
              	</div>
			</div>
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
                    {{ mixin.icon('pay-bank') }} 
                    <span class="cs-checkbox__box"></span>
              	</div>
              	<div class="delivery-item__text">
              		<span class="delivery-item__title">Безналичный платеж через банк</span>
              		<div class="delivery-item__desc">Этот способ предназначен только для Юридических лиц. Ваши реквизиты для выставления счета Вы можете указать в комментариях к данному заказу или выслать на нашу эл. почту <a href="mailto:info@cs-20.ru">info@cs-20.ru</a> с указанием номера заказа. Во время отгрузки вместе с товаром будут высланы все необходимые отчетные документы.</div>
              	</div>
			</div>

			<textarea class="cart__textarea" placeholder="Комментарии к заказу..."></textarea>
			
			<div class="button-box cart__button-box">
				<a href="#" class="button button--transparent button--back">Вернуться назад</a>
				<a href="#" class="button button--accent">Далее</a>
			</div>
		</div>

	</div>
	<!-- end cart -->

</div>	
<!-- end home -->

{% endblock %}
