---
wrapClass: page-cart
title: Корзина
cartTitle: Заказ №87 успешно оформлен!
firstCheckBox: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin cart -->
	<div class="container">
		<div class="cart-box">
			<div class="cart-box__header">
				<h1 class="h1 cart-box__title">{{ cartTitle }}</h1>
				{% include "blocks/cart/_breadcrumbs.html" %}
			</div>
			<div class="cart-box__content">
				<div class="row row--center">
					<div class="col-5 col-xs-12">
						<ul class="list list--dot">
							<li class="list__item list__item--light">
								<span>Сумма заказа: </span>
								<span>4 567 р.</span>
							</li>
							<li class="list__item list__item--light">
								<span>Скидка: </span>
								<span>229 р.</span>
							</li>
							<li class="list__item list__item--light">
								<span>Стоимость доставки:: </span>
								<span>450 руб.</span>
							</li>
							<li class="list__item list__item--bold">
								<span>Итого: </span>
								<span>4 338 р.</span>
							</li>
						</ul>
					</div>
					<div class="col-7 col-sm-12">
						<button class="btn btn-link btn-link-gray mt-30 js-text--show">Дополнительная информация</button>
						<div class="cart-box__text cart-box__text--offset js-text xs-hide"><p>В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа.</p> <p>Вы можете следить за выполнением своего заказа в Личном кабинете.</p> <p>Отправка заказа производится только после платы. Товар бронируется на складе в течении двух рабочих дней.</p></div>
					</div>
				</div>
			</div>
			<div class="cart-box__bottom cart-box__bottom--column">
				<div class="button-box button-box--end">
					<a href="catalog.html" class="btn btn-outline-gray-light cart-box__btn pos-xs-2">Вернуться в магазин</a>
					<button class="btn btn-accent cart-box__btn pos-xs-1">Оплатить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

</div>
<!-- end home -->

{% endblock %}
