---
title: Доставка | Интернет-магазин износостойких автокомпонентов с доставкой по РФ

breadcrumbs:
 - title: Корзина
   icon: cart
   tabTitleCount: tabs-1
 - title: Авторизация
   icon: cart__user
   tabTitleCount: tabs-2
 - title: Способ доставки
   icon: delivery--transparent
   tabTitleCount: tabs-3
 - title: Способ оплаты
   icon: pay
   tabTitleCount: tabs-4
 - title: Подтверждение заказа
   icon: cart__check
   tabTitleCount: tabs-5
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin cart -->


	<!-- begin tabs -->
	<div class="container">
		<div id="cart-tab" class="cart-tab">
			<ul class="cart-tab__list">
				{% for item in breadcrumbs %}
				<li class="cart-tab__item">
					<a class="cart-tab__link" href="#{{ item.tabTitleCount }}">				
						<svg class="icon icon-{{ item.icon }}">
							<use xlink:href="img/sprite.svg#{{ item.icon }}"></use>
						</svg>
						{{ item.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
			
			<!-- begin tabs-1 -->
			<div id="tabs-1">

				<div class="cart__inner">
					<!-- begin cart__left -->
					<div class="cart__left">
						<div class="cart__items js-cart-items">
							<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
								<div class="product-item__img">
									<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
								</div>
								<div class="product-item__desc">
									<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
									<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
										<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
										<meta itemprop="price" content="2232">
										<meta itemprop="priceCurrency" content="RUB" />
									</div>
									<div class="product-item__counter counter">
										<span class="counter__control counter__control--minus js-counter--minus">—</span>
										<input type="text" class="counter__field" value="1">
										<span class="counter__control counter__control--plus js-counter--plus">+</span>
									</div>
								</div>
								<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>
							</a>

							<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
								<div class="product-item__img">
									<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
								</div>
								<div class="product-item__desc">
									<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
									<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
										<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
										<meta itemprop="price" content="2232">
										<meta itemprop="priceCurrency" content="RUB" />
									</div>
									<div class="product-item__counter counter">
										<span class="counter__control counter__control--minus js-counter--minus">—</span>
										<input type="text" class="counter__field" value="1">
										<span class="counter__control counter__control--plus js-counter--plus">+</span>
									</div>
								</div>
								<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>						
							</a>
							
							<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
								<div class="product-item__img">
									<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
								</div>
								<div class="product-item__desc">
									<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
									<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
										<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
										<meta itemprop="price" content="2232">
										<meta itemprop="priceCurrency" content="RUB" />
									</div>
									<div class="product-item__counter counter">
										<span class="counter__control counter__control--minus js-counter--minus">—</span>
										<input type="text" class="counter__field" value="1">
										<span class="counter__control counter__control--plus js-counter--plus">+</span>
									</div>
								</div>
								<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>
							</a>
						</div>
					</div>
					<!-- end cart__left -->
					<!-- begin cart__right -->
					<div class="cart__right js-cart-sticky">
						<div class="cart__sum">
							<span class="cart__sum-title">Итого: 300 <i class="fa fa-rub"></i></span>
							<div class="button-box">
								<button class="button button--accent product-item__btn">Оформить заказ</button>
								<button class="button button--transparent product-item__btn" data-src="#buy-one-click" data-fancybox>Купить в 1 клик</button>
							</div>
						</div>
					</div><!-- end cart__right -->
				</div>

				<!-- begin cs-section -->
				<section class="cs-section adv">

					<h2 class="h2 cs-section__title">При покупке этих товаров вы получаете</h2>

					<div class="info-block">
						<div class="info-block__items">
							<div class="info-block__item">
								{{mixin.icon('delivery', 'info-block__icon')}}
								<div class="info-block__text">
									<span class="info-block__title">Бесплатная доставка</span>
									<p class="info-block__desc">При заказе в интернет-магазине <br> от 1000 рублей. По России.</p>
								</div>
							</div>
							<div class="info-block__item">
								{{mixin.icon('garanty', 'info-block__icon')}}
								<div class="info-block__text">
									<span class="info-block__title">Расширенная гарантия</span>
									<p class="info-block__desc">Обмен товара на аналогичный <br> в течении 2 лет</p>
								</div>
							</div>
							<div class="info-block__item">
								{{mixin.icon('giftbox', 'info-block__icon')}}
								<div class="info-block__text">
									<span class="info-block__title">Подарок каждому</span>
									<p class="info-block__desc">Прочные перчатки в подарок <br> к каждому заказу</p>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end cs-section -->
			</div><!-- end tabs-1 -->

			<!-- begin tabs-2 -->
			<div id="tabs-2">	
				<div class="cart__wrap">
					<h1 class="cart__title">Информация о получателе</h1>
					
					<form class="cart__form pedit">
						<div class="row">
							<div class="col-2">
								<div class="pedit__item">
									<div class="pedit__title">Фамилия Имя Отчество:<i>*</i></div>
									<div class="pedit__field">
										{{item.input('text', 'Например Петров Иван Петрович')}}
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Эл. почта:<i>*</i></div>
									<div class="pedit__field">
										<div class="cs-input">
											<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="cs-input__field" placeholder="exampel@mail.ru">
											<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
										</div>
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Телефон:<i>*</i></div>
									<div class="pedit__field">
										<div class="cs-input is-invalid">
											<input type="num" class="cs-input__field js-phone-mask" placeholder="+7 (927) 000-00-00">
											<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
										</div>
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Индекс:<i>*</i></div>
									<div class="pedit__field">
										{{item.input('num', 'Например 413800')}}
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Город доставки:<i>*</i></div>
									<div class="pedit__field">
										<div class="cs-input cs-input--select is-invalid">
											<select class="js-select">
												<option value="Выберите город..." disabled selected>Выберите город...</option>
												{% for i in range(0, 11) %}
												<option value="Балаково">Балаково</option>
												{% endfor %}﻿		 				
											</select>
											<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
										</div>
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Адрес доставки:<i>*</i></div>
									<div class="pedit__field">
										{{item.input('num', 'Например Набережная Леонова д.2 оф.15')}}
									</div>
								</div>
							</div>
						
							<div class="col-2">
								<div class="pedit__item">
									<div class="pedit__title">Серия паспорта:</div>
									<div class="pedit__field">
										{{item.input('num')}}
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Номер паспорта:</div>
									<div class="pedit__field">
										{{item.input('num')}}
									</div>
								</div>
								<div class="pedit__item">
									<div class="pedit__title">Дата выдачи:</div>
									<div class="pedit__field">
										{{item.input('num')}}
									</div>
								</div>
								<div class="pedit__item">
									{{item.checkbox('Я юридическое лицо', 'pedit__checkbox')}}
								</div>			
							</div>
						</div>
					
						<div class="button-box cart__button-box">
							<a href="#" class="button button--transparent button--back">Вернуться назад</a>
							<a href="#" class="button button--accent">Далее</a>
						</div>
					</form>
				</div>
			</div><!-- end tabs-2 -->
			
			<!-- begin tabs-3 -->
			<div id="tabs-3">
				<div class="cart__wrap">
					<h1 class="cart__title">Выберите способ доставки</h1>
					
					<div class="row">
						<div class="col-2">
							<div class="delivery-item">
								<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
			                        {{ mixin.icon('delivery') }} 
			                        <span class="cs-checkbox__box"></span>
			                  	</div>
			                  	<div class="delivery-item__text">
			                  		<span class="delivery-item__title">Самовывоз</span>
			                  		<div class="delivery-item__desc">Вы можете самостоятельно забрать заказ с нашего склада по адресу:  г. Балаково, ул. Транспортная 6/1.</div>
			                  	</div>
							</div>
							<div class="delivery-item">
								<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
			                        <img class="delivery-item__img" src="img/general/delivery/pr.png" alt="Почта России">
			                        <span class="cs-checkbox__box"></span>
			                  	</div>
			                  	<div class="delivery-item__text">
			                  		<span class="delivery-item__title">Почта России</span>
			                  		<div class="delivery-item__desc">При сумме заказа от 1000 рублей доставка почтой России за счёт продавца. Если сумма заказа менее 1000 рублей, то получатель самостоятельно оплачивает доставку в отделении почтовой связи при получении.</div>
			                  	</div>
							</div>
							<div class="delivery-item">
								<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
			                        <img class="delivery-item__img" src="img/general/delivery/dl.png" alt="Транспортная компания Деловые Линии">
			                        <span class="cs-checkbox__box"></span>
			                  	</div>
			                  	<div class="delivery-item__text">
			                  		<span class="delivery-item__title">Деловые линии</span>
			                  		<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
			                  	</div>
							</div>
						</div>
					
						<div class="col-2">
							<div class="delivery-item">
								<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
			                        <img class="delivery-item__img" src="img/general/delivery/energy.png" alt="Транспортная компания Энергия">
			                        <span class="cs-checkbox__box"></span>
			                  	</div>
			                  	<div class="delivery-item__text">
			                  		<span class="delivery-item__title">Энергия</span>
			                  		<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
			                  	</div>
							</div>
							<div class="delivery-item">
								<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
			                        <img class="delivery-item__img" src="img/general/delivery/pek.png" alt="Транспортная компания ПЭК">
			                        <span class="cs-checkbox__box"></span>
			                  	</div>
			                  	<div class="delivery-item__text">
			                  		<span class="delivery-item__title">ПЭК</span>
			                  		<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
			                  	</div>
							</div>
						</div>
					</div>
					
					<div class="button-box cart__button-box">
						<a href="#" class="button button--transparent button--back">Вернуться назад</a>
						<a href="#" class="button button--accent">Далее</a>
					</div>
				</div>
			</div><!-- end tabs-3 -->

			<!-- begin tabs-4 -->
			<div id="tabs-4">
				<div class="cart__wrap">
					<h1 class="cart__title">Выберите способ оплаты</h1>

					<div class="delivery-item">
						<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
		                    {{ mixin.icon('pay') }} 
		                    <span class="cs-checkbox__box"></span>
		              	</div>
		              	<div class="delivery-item__text">
		              		<span class="delivery-item__title">Оплата на складе при получении</span>
		              		<div class="delivery-item__desc">При оплате на складе Вы лично или Ваше доверенное лицо забираете товар с нашего склада и оплачиваете его на месте. Склад находится по адресу: г. Балаково, ул. Транспортная 6/1, время работы: Пн-Пт 8:00-17:00, телефон: 8-800-555-25-40</div>
		              	</div>
					</div>
					<div class="delivery-item">
						<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
		                    <img class="delivery-item__img" src="img/general/robokassa.png" alt="Оплата банковской картой">
		                    <span class="cs-checkbox__box"></span>
		              	</div>
		              	<div class="delivery-item__text">
		              		<span class="delivery-item__title">Оплата банковской картой</span>
		              		<div class="delivery-item__desc">Оплата происходит через систему Робокасса. Данный вид оплаты является самым простым и распространенным, ведь система Робокасса включает в себя более 40 способов оплаты.</div>
		              	</div>
					</div>
					<div class="delivery-item">
						<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
		                    {{ mixin.icon('pay-bank') }} 
		                    <span class="cs-checkbox__box"></span>
		              	</div>
		              	<div class="delivery-item__text">
		              		<span class="delivery-item__title">Безналичный платеж через банк</span>
		              		<div class="delivery-item__desc">Этот способ предназначен только для Юридических лиц. Ваши реквизиты для выставления счета Вы можете указать в комментариях к данному заказу или выслать на нашу эл. почту <a href="mailto:info@cs-20.ru">info@cs-20.ru</a> с указанием номера заказа. Во время отгрузки вместе с товаром будут высланы все необходимые отчетные документы.</div>
		              	</div>
					</div>

					<textarea class="cart__textarea" placeholder="Комментарии к заказу..."></textarea>
					
					<div class="button-box cart__button-box">
						<a href="#" class="button button--transparent button--back">Вернуться назад</a>
						<a href="#" class="button button--accent">Далее</a>
					</div>
				</div>
			</div><!-- end tabs-4 -->

			<!-- begin tabs-5 -->
			<div id="tabs-5">
				<div class="cart-success__wrap">

					<h1 class="cart-success__title">Заказ успешно оформлен. Спасибо!</h1>

					<div class="cart-success__inner">
						<span class="cart-success__subtitle">Ваш заказ: №490 от 01.05.2018 14:58</span>
						
						<div class="cart-success__text">
							В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа. <br>
							Вы можете следить за выполнением своего заказа в <a href="#">Личном кабинете</a>. <br>
							Отправка заказа производится только после платы. <br>
							Товар бронируется на складе в течении трех рабочих дней.
						</div>
						
						<span class="cart-success__subtitle mb-10">Счет: <span>№492</span> от 01.05.2018 14:58</span>
						
						<span class="cart-success__subtitle">Сумма к оплате по счету: <span>3254</span> <i class="fa fa-rub"></i></span>
					</div>
					
					<div class="button-box">
						<a href="#" class="button button--transparent button--back">Вернуться в магазин</a>
						<a href="#" class="button button--accent">Оплатить</a>
					</div>
				</div>
			</div><!-- end tabs-5 -->
		</div>
	</div>
	<!-- end cart -->

</div>	
<!-- end home -->

{% endblock %}
