---
wrapClass: page-cart
title: Корзина
cartTitle: Доставка
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin cart -->
	<div class="container">
		<div class="cart-box">
			<div class="cart-box__header">
				<h1 class="h1 cart-box__title">{{ cartTitle }}</h1>
				{% include "blocks/cart/_breadcrumbs.html" %}
			</div>
			<div class="cart-box__content">

				<div class="delivery-item__wrap">
					{% import "data/data-lk.html" as delivery %}
					{% for item in delivery.deliveryItem %}
					<div class="delivery-item {% if item.class %} delivery-item--{{ item.class }} {% endif %} cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox" data-info-delivery="{{ item.data }}">
						<div class="delivery-item__info js-tooltip" title="Является одним из крупнейших грузоперевозчиков России. Доставка занимает от 1 до 45 дней, всё зависит от веса груза и адреса доставки. Подробнее можете узнать на сайте отправителя pecom.ru">
							<i class="fal fa-info-circle"></i>
						</div>
						<img class="delivery-item__img" src="img/general/delivery/logos/{{ item.icon }}.png" alt="{{ item.title }}">
						<h5 class="delivery-item__title">{{ item.title }}</h5>
					</div>
					{% endfor %}
				</div>

			</div>
			<div class="cart-box__bottom js-fix-block">

				<div class="info-text js-info-text" data-info-delivery-text="mail" style="display: none;"><span>Стоимость доставки:</span> 450 руб.</div>

				<div class="info-text" data-info-delivery-text="auto" style="display: none;"><span>Стоимость доставки:</span> Автоматический расчет не доступен. Стоимость доставки оплачивается отдельно при получении.</div>

				<div class="button-box button-box--end">
					<a href="#" class="btn btn-outline-gray-light cart-box__btn">Назад</a>
					<a href="#" class="btn btn-accent cart-box__btn">Далее</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

</div>
<!-- end home -->

{% endblock %}
