---
wrapClass: page-cart
title: Корзина
cartTitle: Самовывоз
firstCheckBox: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin cart -->
	<div class="container">
		<div class="cart-box">
			<div class="cart-box__header">
				<h1 class="h1 cart-box__title">{{ cartTitle }}</h1>
				{% include "blocks/cart/_breadcrumbs.html" %}
			</div>
			<div class="cart-box__content">
				<div class="row">
					<div class="col-3 col-xs-12">
						<p class="cart-box__text">Вы можете самостоятельно забрать заказ с нашего склада</p>
					</div>
					<div class="col-9 col-xs-12">
						<ul class="list list--text list--light">
							<li class="list__item">
								<span>Адрес:</span>
								<strong>г. Балаково, ул. Транспортная 6/1</strong>
							</li>
							<li class="list__item">
								<span>Время работы:</span>
								<strong>Пн-Пт 8:00-17:00</strong>
							</li>
							<li class="list__item">
								<span>Телефон: </span>
								<strong><a href="tel:88005552540">8-800-555-25-40</a></strong>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cart-box__bottom">
				<div class="button-box button-box--end">
					<a href="#" class="btn btn-outline-gray-light cart-box__btn">Назад</a>
					<button class="btn btn-accent cart-box__btn">Далее</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

</div>
<!-- end home -->

{% endblock %}
