---
title: Доставка | Интернет-магазин износостойких автокомпонентов с доставкой по РФ

breadcrumbs:
 - title: Корзина
   icon: cart
   class: is-active
 - title: Авторизация
   icon: cart__user
 - title: Способ доставки
   icon: delivery--transparent
 - title: Способ оплаты
   icon: pay
 - title: Подтверждение заказа
   icon: cart__check
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper cart">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs breadcrumbs--icon">
			<ul class="breadcrumbs__list">
				{% for item in breadcrumbs %}
				<li class="breadcrumbs__item {{item.class}}">
					<a href="#" class="breadcrumbs__link">
						<svg class="icon icon-{{item.icon}} ">
							<use xlink:href="img/sprite.svg#{{item.icon}}"></use>
						</svg>
						{{item.title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin cart -->
	<div class="container">
		<div class="cart__inner">
			<!-- begin cart__left -->
			<div class="cart__left">
				<div class="cart__items js-cart-items">
					<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
						<div class="product-item__img">
							<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
						</div>
						<div class="product-item__desc">
							<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
							<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
								<meta itemprop="price" content="2232">
								<meta itemprop="priceCurrency" content="RUB" />
							</div>
							<div class="product-item__counter counter">
								<span class="counter__control counter__control--minus js-counter--minus">—</span>
								<input type="text" class="counter__field" value="1">
								<span class="counter__control counter__control--plus js-counter--plus">+</span>
							</div>
						</div>
						<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>
					</a>

					<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
						<div class="product-item__img">
							<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
						</div>
						<div class="product-item__desc">
							<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
							<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
								<meta itemprop="price" content="2232">
								<meta itemprop="priceCurrency" content="RUB" />
							</div>
							<div class="product-item__counter counter">
								<span class="counter__control counter__control--minus js-counter--minus">—</span>
								<input type="text" class="counter__field" value="1">
								<span class="counter__control counter__control--plus js-counter--plus">+</span>
							</div>
						</div>
						<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>						
					</a>
					
					<a href="#" class="product-item product-item--wide" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
						<div class="product-item__img">
							<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
						</div>
						<div class="product-item__desc">
							<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
							<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
								<meta itemprop="price" content="2232">
								<meta itemprop="priceCurrency" content="RUB" />
							</div>
							<div class="product-item__counter counter">
								<span class="counter__control counter__control--minus js-counter--minus">—</span>
								<input type="text" class="counter__field" value="1">
								<span class="counter__control counter__control--plus js-counter--plus">+</span>
							</div>
						</div>
						<button class="product-item__dell" title="Убрать из корзины">{{mixin.icon('close')}}</button>
					</a>
				</div>
			</div>
			<!-- end cart__left -->
			<!-- begin cart__right -->
			<div class="cart__right js-cart-sticky">
				<div class="cart__sum">
					<span class="cart__sum-title">Итого: 300 <i class="fa fa-rub"></i></span>
					<div class="button-box">
						<button class="button button--accent product-item__btn">Оформить заказ</button>
						<button class="button button--transparent product-item__btn" data-src="#buy-one-click" data-fancybox>Купить в 1 клик</button>
					</div>
				</div>
			</div>
			<!-- end cart__right -->
		</div>
	</div>
	<!-- end cart -->

	<!-- begin cs-section -->
	<section class="cs-section adv">
		<div class="container">

			<h2 class="h2 cs-section__title">При покупке этих товаров вы получаете</h2>

			<div class="info-block">
				<div class="info-block__items">
					<div class="info-block__item">
						{{mixin.icon('delivery', 'info-block__icon')}}
						<div class="info-block__text">
							<span class="info-block__title">Бесплатная доставка</span>
							<p class="info-block__desc">При заказе в интернет-магазине <br> от 1000 рублей. По России.</p>
						</div>
					</div>
					<div class="info-block__item">
						{{mixin.icon('garanty', 'info-block__icon')}}
						<div class="info-block__text">
							<span class="info-block__title">Расширенная гарантия</span>
							<p class="info-block__desc">Обмен товара на аналогичный <br> в течении 2 лет</p>
						</div>
					</div>
					<div class="info-block__item">
						{{mixin.icon('giftbox', 'info-block__icon')}}
						<div class="info-block__text">
							<span class="info-block__title">Подарок каждому</span>
							<p class="info-block__desc">Прочные перчатки в подарок <br> к каждому заказу</p>
						</div>
					</div>
				</div>
			</div>

		</div>			
	</section>
	<!-- end cs-section -->

</div>	
<!-- end home -->

{% endblock %}
