---
title: Каталог | Интернет-магазин износостойких автокомпонентов с доставкой по РФ

filterType:
 - title: Все категории
   class: is-checked
 - title: Элементы подвески
 - title: Прокладки / Ремкомплекты
 - title: Патрубки / Шланги
 - title: Крепления глушителя
 - title: Подушки двигателя
 - title: Брызговики
 - title: Коврики

filterCar:
 - title: 1118 Калина
 - title: 1119 Калина
 - title: 2101-2107
 - title: 2108-2109
 - title: 2110-2112
 - title: 2113-2115

filterSeries:
 - title: Comfort
 - title: Drive
 - title: Profi
 - title: Original+
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper catalog">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Каталог</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Патрубки / Шланги</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin catalog__topline -->
	<div class="container">
		<div class="catalog__topline">
			<h1 class="h1 catalog__title page-title" itemprop="headline">Патрубки / Шланги</h1>
			<!-- begin sorting -->
			<div class="sorting catalog__sorting">
				<div class="sorting__count">
					<span class="sorting__title">Показывать по:</span>
					<select class="sorting__select js-select no-search">
						{% for i in range(0, 11) %}
						<option value="{{i+1}}">{{i+1}}</option>
						{% endfor %}﻿
					</select>
				</div>
				<div class="sorting__list">
					<button class="sorting__btn sorting__btn--list js-sorting-btn js-sorting-btn--list"></button>
					<button class="sorting__btn sorting__btn--tile js-sorting-btn js-sorting--btn--tile is-active"></button>
				</div>
			</div>
			<!-- end sorting -->
		</div>
	</div>
	<!-- end catalog__topline -->

	<!-- begin catalog__content -->
	<div class="container">
		<div class="catalog__inner">

			<div class="catalog__content">
				<!-- begin catalog__filter -->
				<form class="filter catalog__filter js-filter-sticky">
					<div class="filter__inner">
						<div class="filter__header">
							<span class="filter__title">
								{{mixin.icon('filter', 'filter__icon filter__icon--filter')}}
								Фильтры
							</span>
							{{mixin.icon('close', 'filter__icon filter__icon--close js-filter--close')}}
						</div>
						<div class="filter__body js-cs-accordeon cs-accordeon cs-accordeon--other">

							<div class="filter__item filter__item_type">
								<span class="filter__title">Категории</span>
								<div class="filter__content">
									{% for item in filterType %}
									<a href = "javascript:void(0)" class = "filter__btn js-cs-checkbox--pseudo {{item.class}}">{{item.title}}</a>
									{% endfor %}
								</div>
							</div>

							<div class="filter__item filter__item_price cs-accordeon__item is-open">
								<span class="filter__title cs-accordeon__title">
									Цена
									<i class="cs-accordeon__icon"></i>
								</span>
								<div class="filter__content cs-accordeon__content js-filter-content">
									<div class="range__diapazon">
										<div class="range__from">
											<span id="jsPriceStart"></span>
											<i class="fa fa-rub"></i>
										</div>
										<div class="range__to">
											<span id="jsPriceEnd"></span>
											<i class="fa fa-rub"></i>
										</div>
									</div>
									<div class="filter__range range">
										<div
										class="range__slider"
										id="js-filter-slider"
										data-start="500"
										data-end="15000"></div>
									</div>
								</div>
							</div>

							<div class="filter__item filter__item_car cs-accordeon__item">
								<span class="filter__title cs-accordeon__title">
									Модель авто
									<i class="cs-accordeon__icon"></i>
								</span>
								<div class="filter__content cs-accordeon__content js-filter-content" style="display: none;">
									{% for item in filterCar %}
									<label class="cs-checkbox filter__checkbox js-cs-checkbox">
										<input type="checkbox">
										<span class="cs-checkbox__box"></span>
										<span class="cs-checkbox__title">{{item.title}}</span>
									</label>
									{% endfor %}
									<button class="button-link filter__btn-link js-select-all">Выбрать все</button>
								</div>
							</div>

							<div class="filter__item filter__item_series cs-accordeon__item">
								<span class="filter__title cs-accordeon__title">
									Серия
									<i class="cs-accordeon__icon"></i>
								</span>
								<div class="filter__content cs-accordeon__content js-filter-content" style="display: none;">
									{% for item in filterSeries %}
									<label class="cs-checkbox filter__checkbox js-cs-checkbox">
										<input type="checkbox">
										<span class="cs-checkbox__box"></span>
										<span class="cs-checkbox__title">{{item.title}}</span>
									</label>
									{% endfor %}
									<button class="button-link filter__btn-link js-select-all">Выбрать все</button>
								</div>
							</div>

							<div class="filter__footer">
								<button class="button button--gray">Очистить все</button>
							</div>
						</div>
					</div>
				</form><!-- end catalog__filter -->

				<!-- begin catalog__products -->
				<div class="catalog__products">
					<div class="product-item__wrap js-products">
						{% for i in range(0, 10) %}
						<div class="product-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
							<div class="product-item__img">
								<img src="img/catalog/nipples/1.png" alt="Комплект патрубков ВАЗ-2101-2107 (7 шт) profi синий силикон" itemprop="image">
							</div>
							<div class="product-item__desc">
								<div class="product-item__desc_in">
									<h4 class="product-item__title" itemprop="name">Комплект патрубков ВАЗ-2101-2107 (7 шт) <span>profi синий силикон</span></h4>
									<div class="product-item__product-info product-info">
										<ul class="product-info__list">
											<li class="product-info__item">Артикул: <span>05748</span></li>
											<li class="product-info__item">Каталожный номер: <span>3105-1203132</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="product-item__footer">
								<div class="product-item__price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<span class="price__cost">2232 <i class="fa fa-rub"></i></span>
									<meta itemprop="price" content="2232">
									<meta itemprop="priceCurrency" content="RUB" />
									<span class="price__stock">Есть в наличии</span>
								</div>
								<div class="product-item__buttons">
									<button class="button button--accent product-item__btn">Добавить в корзину</button>
									<button class="button button--transparent product-item__btn" data-src="#buy-one-click" data-fancybox>Купить в 1 клик</button>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="catalog__empty is-hidden">К сожалению, на ваш поисковый запрос ничего не найдено.</div>
				</div><!-- end catalog__products -->

				<button class="button button--filter js-filter--open">{{mixin.icon('filter')}}</button>
			</div>

			<!-- begin pagination -->
			<div class="catalog__pagination pagination">
				<ul class="pagination__list">
					<li class="pagination__item">
						<a href="#" class="pagination__link"><i class="fa fa-angle-left pagination__icon"></i></a>
					</li>
					<li class="pagination__item is-active">
						<a href="#" class="pagination__link">1</a>
					</li>
					{% for i in range(2, 7) %}
					<li class="pagination__item">
						<a href="#" class="pagination__link">{{i}}</a>
					</li>
					{% endfor %}
					<li class="pagination__item">
						<a href="#" class="pagination__link"><i class="fa fa-angle-right pagination__icon"></i></a>
					</li>
				</ul>
			</div><!-- end pagination -->

		</div>
	</div><!-- end catalog__content -->

</div><!-- end home -->

{% endblock %}
