---
title: Каталог | Интернет-магазин износостойких автокомпонентов с доставкой по РФ
btnFilter: true

filterType:
 - title: Все категории
   class: is-checked
 - title: Элементы подвески
 - title: Прокладки / Ремкомплекты
 - title: Патрубки / Шланги
 - title: Крепления глушителя
 - title: Подушки двигателя
 - title: Брызговики
 - title: Коврики

filterCar:
 - title: Largus
 - title: Renault Logan
 - title: Vesta
 - title: X-RAY
 - title: ВАЗ 2118 Калина
 - title: ВАЗ 2101-07
 - title: ВАЗ 2108-99
 - title: ВАЗ 2110-12
 - title: 2113-2115

filterSeries:
 - title: Комфорт
 - title: Профи
 - title: Драйв
 - title: Оригинал +
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper catalog">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Каталог</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Патрубки / Шланги</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin catalog__topline -->
	<div class="container">
		<div class="catalog__topline">
			<h1 class="h1 catalog__title page-title" itemprop="headline">Патрубки / Шланги</h1>
			<!-- begin sorting -->
			<div class="sorting catalog__sorting">
				<div class="sorting__count">
					<select class="sorting__select js-select no-search">
						<option value="Сначала популярное">Сначала популярное</option>
						<option value="Сначала дешевле">Сначала дешевле</option>
						<option value="Сначала дороже">Сначала дороже</option>
						<option value="Со скидками">Со скидками</option>
						<option value="Лучшие оценки">Лучшие оценки</option>
					</select>
				</div>
				<div class="sorting__list sm-only--flex">
					<button class="sorting__btn sorting__btn--list js-sorting-btn is-active" data-sorting="3"></button>
					<button class="sorting__btn sorting__btn--tile js-sorting-btn" data-sorting="2"></button>
				</div>
			</div>
			<!-- end sorting -->
		</div>
	</div>
	<!-- end catalog__topline -->

	<!-- begin catalog__content -->
	<div class="container">
		<div class="catalog__inner">

			<div class="catalog__content">
				<!-- begin catalog__filter -->
				<form class="filter catalog__filter js-filter js-filter-sticky">
					<div class="filter__inner">
						<div class="filter__header">
							<span class="filter__title">
								Фильтры
							</span>
							{{mixin.icon('cs-close', 'filter__icon filter__icon--close js-filter--close')}}
						</div>
						<div class="filter__body js-cs-accordeon cs-accordeon cs-accordeon--other">

							<div class="filter__item filter__item_type cs-accordeon__item is-open">
								<div class="filter__title cs-accordeon__title">
									Категории
									<span class="cs-accordeon__icon"></span>
								</div>
								<div class="filter__content cs-accordeon__content js-filter-content">
									{% for item in filterType %}
									<label class="cs-checkbox filter__checkbox js-cs-checkbox {{ item.class }}">
										<input type="checkbox">
										<span class="cs-checkbox__box"></span>
										<span class="cs-checkbox__title">{{ item.title }}</span>
									</label>
									{% endfor %}
									<button class="btn-link filter__btn-link js-select-all">Выбрать все</button>
								</div>
							</div>

							<div class="filter__item filter__item_price cs-accordeon__item is-open">
								<div class="filter__title cs-accordeon__title">
									Цена
									<span class="cs-accordeon__icon"></span>
								</div>
								<div class="filter__content cs-accordeon__content js-filter-content">
									<div class="range__diapazon">
										<div class="range__from">
											<input type="num" id="jsPriceStart">
											<i class="fa fa-rub"></i>
										</div>
										<div class="range__to">
											<input type="num" id="jsPriceEnd">
											<i class="fa fa-rub"></i>
										</div>
									</div>
									<div class="filter__range range">
										<div
										class="range__slider"
										id="js-filter-slider"
										data-start="500"
										data-end="15000"></div>
									</div>
								</div>
							</div>

							<div class="filter__item filter__item_car cs-accordeon__item">
								<div class="filter__title cs-accordeon__title">
									Модель авто
									<span class="cs-accordeon__icon"></span>
								</div>
								<div class="filter__content cs-accordeon__content js-filter-content" style="display: none;">
									{% for item in filterCar %}
									<label class="cs-checkbox filter__checkbox js-cs-checkbox">
										<input type="checkbox">
										<span class="cs-checkbox__box"></span>
										<span class="cs-checkbox__title">{{item.title}}</span>
									</label>
									{% endfor %}
									<button class="btn-link filter__btn-link js-select-all">Выбрать все</button>
								</div>
							</div>

							<div class="filter__item filter__item_series cs-accordeon__item">
								<div class="filter__title cs-accordeon__title">
									Серия
									<span class="cs-accordeon__icon"></span>
								</div>
								<div class="filter__content cs-accordeon__content js-filter-content" style="display: none;">
									{% for item in filterSeries %}
									<label class="cs-checkbox filter__checkbox js-cs-checkbox">
										<input type="checkbox">
										<span class="cs-checkbox__box"></span>
										<span class="cs-checkbox__title">{{ item.title }}</span>
									</label>
									{% endfor %}
									<button class="btn-link filter__btn-link js-select-all">Выбрать все</button>
								</div>
							</div>

							<div class="filter__footer">
								<button class="btn btn--white btn--shadow filter__btn--reset js-filter-btn--reset">Сбросить фильтр</button>
							</div>
						</div>
					</div>
				</form><!-- end catalog__filter -->

				<!-- begin catalog__products -->
				<div class="catalog__products">
					<div class="product-item__wrap js-products">
						{% for i in range(0, 2) %}
							{% include "partials/_product-item.html" %}
						{% endfor %}
					</div>

					<div class="catalog__empty text-center mt-30" style="display: none;">
						<p class="mb-30">К сожалению, на ваш поисковый запрос ничего не найдено. Попробуйте изменить параметры поиска в фильтре.</p>
						<button class="btn btn-outline-gray">Сбросить фильтр</button>
					</div>
				</div><!-- end catalog__products -->
			</div>

			<div class="catalog__info-view">
				<span>Вы просмотрели 72 из 254 товаров</span>
				<a href="#" class="btn btn--transparent">Показать ещё</a>
			</div>

		</div>
	</div><!-- end catalog__content -->
</div><!-- end home -->

{% endblock %}
