---
title: Вход в личный кабинет
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper">

	<div class="auth">
		<!-- begin breadcrumbs -->
		<div class="container">
			<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Главная</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__title" itemprop="title">Личный кабинет</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- end breadcrumbs -->

	<!-- begin contacts -->
	<div class="container">
		<div class="cs-card">

			<div class="auth__inner">
				<div class="auth__left">

					<h1 class="h1 page-title" itemprop="headline">{{ title }}</h1>

					<form class="form form__register">
						{{item.input('text', 'Логин или e-mail', 'cs-input--light form__input')}}
						{{item.input('password', 'Пароль', 'cs-input--light form__input is-invalid')}}

						<div class="form__box mt-30">
							{{ item.checkbox('Запомнить меня', 'policy__checkbox') }}
						</div>

						<button class="btn btn--gr form__btn" type="submit">Войти</button>

						<div class="success">
							<div class="success__text">Добро пожаловать!</div>
						</div>

						<div class="button-box button-box--column">
							<a class="form__link mb-10" href="registration.html">Регистрация</a>
							<a class="form__link" href="password-recowery.html">Забыли пароль?</a>
						</div>
					</form>
				</div>
				<div class="auth__right">
					<img src="img/general/enter.png" alt="alt">
				</div>
			</div>
		</div>
	</div>
	<!-- end contacts -->


	</div>

</div>
<!-- end home -->

{% endblock %}
