---
title: Гарантия и возврат | Интернет-магазин износостойких автокомпонентов с доставкой по РФ
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper garanty">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Гарантия и возврат</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<div class="container">

		<div class="privacy__wrap">

				<h1 class="h1 page-title" itemprop="headline">Гарантия и возврат</h1>

				<div class="privacy__inner">
					<div class="privacy__left">

						<h2 class="h2 privacy__subtitle">Рекомендации по установке изделий из полиуретана CS-20</h2>

						<p>При установке новых полиуретановых деталей с металлическими элементами, с места крепежа, <strong>требуется удалить ржавчину и остатки резины</strong>.</p>

						<p>Если имеются большие раковины и потертости на крепежных элементах их следует <strong>заменить на новые</strong>. При наличии заусенцев, удалить. При значительных отклонениях геометрии и повреждениях металлических элементов подвески – рекомендуем <strong>заменить повреждённые детали</strong> на новые, для правильной работы новых полиуретановых деталей.</p>

						<p>Перед установкой полиуретановых деталей, <strong>смажьте</strong> места контакта полиуретана с металлическими деталями подвески или кузова автомобиля литиевой смазкой.</p>


						<h3 class="h2 privacy__subtitle">При возникновении гарантийного случая</h3>

						<p>При выходе из строя детали во время ее эксплуатации в период действия гарантии, предоставленной производителем, осуществляется замена вышедшей из строя детали через наш интернет-магазин.</p>

						<p>Для замены вышедшей из строя детали необходимо предоставить:</p>

						<ul>
							<li>1. Гарантийный талон на приобретенное изделие.</li>
							<li>2. Заявление в произвольной форме с указанием контактных данных (ФИО, адрес, номер телефона), детали и описанием дефекта, а также датой установки на автомобиль.</li>
							<li>3. Заключение сертифицированной СТО о причине выхода из строя детали и копию сертификата СТО.</li>
						</ul>

					</div>

					<div class="privacy__right">

						<h2 class="h2 privacy__subtitle">Порядок обмена или возврата товара надлежащего качества</h2>

						<p>Покупатель имеет право обменять купленную деталь надлежащего качества в течении 14 дней, если указанный товар не подошел по форме, габаритам, размеру или комплектации, при условии <strong>соблюдения следующих пунктов</strong>:</p>

						<ul>
							<li>1. Покупателем предоставляется заявление в произвольной форме с контактными данными (ФИО, адрес, номер телефона), указанием детали и причины возврата.</li>

							<li>2. Имеются документы подтверждающие факт покупки (товарная накладная, кассовый или товарный чеки).</li>

							<li>3. Не нарушена заводская упаковка (если она имелась) и сохранен товарный вид приобретенного изделия (отсутствуют следы установки или иных механических, или химических воздействий.</li>

							<li>4. Не нарушена заводская упаковка (если она имелась) и сохранен товарный вид приобретенного изделия (отсутствуют следы установки или иных механических, или химических воздействий.</li>

							<li>5. Не нарушена заводская упаковка (если она имелась) и сохранен товарный вид приобретенного изделия (отсутствуют следы установки или иных механических, или химических воздействий.</li>
						</ul>

						<div class="sertificate__download mt-30">
							{{ mixin.icon('pdf') }}
							<a href="img/general/docs/CS-20.zip" download><span>Скачать сертификаты соответствия</span>
							(4,45 МВ)
							</a>
						</div>

					</div>
				</div>

				<div class="privacy__in js-relative-block" id="privacy__form">

					<h2 class="h2 privacy__subtitle text-center">Вы можете заявить о гарантийном случае, заполнив форму на сайте</h2>

					<p class="text-center mb-30">или позвонив на бесплатный телефон горячей линии 8 800 555 25 40</p>

					<!-- begin garanty__form -->
					<form class="privacy__form pedit">
						<div class="pedit__item">
							<div class="pedit__title">Фамилия Имя Отчество:<i>*</i></div>
							<div class="pedit__field">
								{{item.input('text')}}
							</div>
						</div>
						<div class="row">
							<div class="col-6 col-xs-12">
								<div class="pedit__item">
									<div class="pedit__title">Эл. почта:<i>*</i></div>
									<div class="pedit__field">
										<div class="cs-input">
											<input type="email" class="cs-input__field">
											<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 col-xs-12">
								<div class="pedit__item">
									<div class="pedit__title">Телефон:<i>*</i></div>
									<div class="pedit__field">
										<div class="cs-input is-invalid">
											<input type="num" class="cs-input__field js-phone-mask">
											<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="pedit__item pedit__item--text">
							<div class="pedit__title">Комментарий:<i>*</i></div>
							<div class="pedit__field">
								<textarea class="pedit__textarea"></textarea>
							</div>
						</div>

						<p class="pedit__info-text">* - поля, отмеченные звёздочкой, обязательны для заполнения</p>

						<div class="button-box">
							<button class="btn btn-outline-gray-light pedit__btn">Заявить о гарантийном случае</button>
						</div>
					</form>
					<!-- end garanty__form -->
				</div>

		</div>

	</div>

	<a href="#privacy__form" class="btn btn--filter garanty__btn js-goto js-relative-btn">
		Заявить
	</a>
</div>
<!-- end home -->

{% endblock %}
