---
title: Интернет-магазин износостойких автокомпонентов с доставкой по РФ
wrapClass: page-home
firstscreenTitle: true
firstscreenSelect: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper home">

	<!-- begin cs-section slider -->
	 <section class="cs-section cs-section--slider-hero xs-hide">
		<div class="container mb-30 is-hidden">

			<div class="cs-slider cs-slider--hero js-cs-slider--hero">
				<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
				<div class="cs-slider__arrow cs-slider__arrow--next"></div>

				<div class="cs-slider__slides">
					{% for i in range(0, 3) %}
					<div class="cs-slider__slide">
						<div class="cs-slider__slide_inner">
							<div class="cs-slider__text">
								<h4 class="cs-slider__title">Мы во Вконтакте item{{ i }}</h4>
								<p class="cs-slider__desc">Анонсы мероприятий, новости компании, конкурсы, уникальный контент и многое другое только в сообществе вконтакте </p>
								<a class="btn btn-gray--dark cs-slider__btn" href="#">Открыть сообщество</a>
							</div>
							<div class="cs-slider__img">
								<img src="img/general/vk-info.png" alt="Мы во Вконтакте">
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>

		</div>

		<div class="container">
			<div class="hero-slider">
				<div class="cs-slider__arrow cs-slider__arrow--prev js-hero-slider-btn--prev"></div>
				<div class="cs-slider__arrow cs-slider__arrow--next js-hero-slider-btn--next"></div>

				<div class="hero-slider__slides">

					{% for i in range(0, 3) %}
					<div class="hero-slider__slide" data-card="{{i}}" style="background: linear-gradient(90deg,#fdfbfb .73%,#ebedee 100%);">
						<div class="hero-slider__slide_inner">
							<div class="hero-slider__text">
								<h4 class="hero-slider__title">Мы во Вконтакте</h4>
								<p class="hero-slider__desc">Анонсы мероприятий, новости компании, конкурсы, уникальный контент и многое другое только в сообществе вконтакте </p>
								<a class="btn btn-gray--dark hero-slider__btn" href="#">Открыть сообщество</a>
							</div>
							<div class="hero-slider__img">
								<img src="img/general/vk-info.png" alt="Мы во Вконтакте">
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

	</section><!-- end cs-section slider -->

	<!-- begin cs-section advert -->
	<section class="cs-section cs-section--category">
		<div class="container">
			<h2 class="h2 title title--slider">Категории товаров</h2>

			<div class="cs-slider cs-slider--home js-cs-slider--category">
				<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
				<div class="cs-slider__arrow cs-slider__arrow--next"></div>

				<div class="category-item__wrap cs-slider__slides">
					{% import "data/data.html" as categoryItem %}
					{% for category in categoryItem.category %}
					<a class="category-item cs-slider__slide" href="#">

						<i class="category-item__icon category-item__icon--{{ category.icon }}">
						</i>

						<h5 class="category-item__title js-category-title-equalheight">{{ category.title }}</h5>
					</a>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
	<!-- end cs-section advert -->

	<!-- begin cs-section  -->
	 <section class="cs-section cs-section--storis xs-only">

		<div class="storis js-stories">
			<ul class="storis__list">
				{% import "data/data.html" as storis %}
				{% for item in storis.storis %}
				<li class="storis__item" data-stories-target="1" style="background-image: url('img/stories/1/{{ item.img }}.png');">
					<h5 class="storis__title">
						{{ item.title }}
					</h5>
				</li>
				{% endfor %}
			</ul>

			<div class="stories-container">
				<div class="stories-slider" data-stories-slide="1">

					<div class="cs-slider cs-slider--stories js-cs-slider--stories">
						<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
						<div class="cs-slider__arrow cs-slider__arrow--next"></div>

						<div class="cs-slider__slides">
							{% for i in range(0, 3) %}
							<div class="cs-slider__slide" style="background-image: url('img/stories/1/{{ i + 1 }}.png')">
								<div class="cs-slider__text">
									<p class="cs-slider__desc">К каждому заказу мы дарим прочные перчатки!</p>
									<p class="cs-slider__desc">А при покупке от 3 000 руб. доставим заказ бесплатно в любую точку России!</p>
									<a class="btn btn-accent cs-slider__btn" href="catalog.html">Перейти в каталог</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</div>
	</section><!-- end cs-section  -->

	<!-- begin cs-section advert -->
	<section class="cs-section cs-section--product-popular">
		<div class="container">
			<h2 class="h2 title title--low">Популярные товары</h2>

			<div class="cs-slider cs-slider--home  js-cs-slider" data-slide-count="4">
				<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
				<div class="cs-slider__arrow cs-slider__arrow--next"></div>

				<div class="product-item__wrap cs-slider__slides">
					{% include "partials/_product-item.html" %}
				</div>
			</div>

		</div>
	</section>
	<!-- end cs-section advert -->

	<!-- begin cs-section baner -->
	<section class="cs-section cs-section--baner">
		<div class="container">
			<div class="baner baner--overlay">
				<div class="baner__bg" style="background-image: url(img/general/baner-home.png);">
					<h2 class="baner__title">Не нашли?</h2>
					<div class="baner__desc">Эксперты бесплатно подберут детали для Вашей машины по телефону. Звонок бесплатный!</div>
					<a class="baner__phone" href="#">8 800 555 25 40</a>
				</div>
			</div>
		</div>
	</section>
	<!-- end cs-section baner -->

	<!-- begin cs-section advert -->
	<section class="cs-section cs-section--advert">
		<div class="container">

			{% include "partials/_info-block.html" %}

		</div>
	</section>
	<!-- end cs-section advert -->

	<!-- begin cs-section news -->
	 <section class="cs-section cs-section--news">
		<div class="container">
			<h2 class="h2 title title--low">Новости</h2>

			<div class="news-slider cs-slider cs-slider--home js-cs-slider" data-slide-count="4">
				<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
				<div class="cs-slider__arrow cs-slider__arrow--next"></div>
				<div class="news__inner cs-slider__slides">

					{% for i in range(0, 4) %}
					<div class="news__item cs-card cs-card--transform cs-card--shadow cs-slider__slide">
						<div class="cs-card__in">
							<h5 class="cs-card__title">7 ноября 2018</h5>
							<p class="cs-card__text js-text-overflow" data-text-media="true" data-text-overflow="155">Деталь, которую почти никто никогда не видел, но она есть и мы ее доработали. Речь о чехлах пальцев тормозного суппорта. Теперь они из полиуретана. Несмотря на размер, чехлы прошли все испытания на прочность и уже в продаже во всех официальных магазинах CS20.</p>
						</div>
						<a class="btn btn-outline-gray-light cs-card__btn" href="news-item.html">Читать продолжение</a>
					</div>
					{% endfor %}
					<a class="news__item cs-card news__item--link cs-slider__slide cs-slider__slide--link sm-only" href="news.html">
						<div>
							<span>Смотреть все <br> новости</span>
							<i>{{ mixin.icon('cs-close') }}</i>
						</div>
					</a>

				</div>
			</div>
			<div class="button-box">
				<a class="btn btn-outline-gray news__btn sm-hide" href="news.html">Показать все новости</a>
			</div>
		</div>
	</section><!-- end cs-section news -->

</div>
<!-- end home -->

{% endblock %}
