---
title: Персональные скидки | Интернет-магазин износостойких автокомпонентов с доставкой по РФ
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs__wrap">
			<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Главная</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Личный кабинет</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__title" itemprop="title">Персональные скидки</span>
					</li>
				</ul>
			</div>
			<a href="#" class="button-link button-link--exit"><span>Выход</span></a>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin lk -->
	<div class="lk lk-sale">
		<div class="container">			
			
			<h1 class="h1 page-title" itemprop="headline">Персональные скидки</h1>			

			<div class="lk__top-line">
				<div class="lk-user">
					<div class="lk-user__login">VeronikaSam</div>
					<div class="lk-user__name">Самсонова Вероника Павловна</div>
				</div>
			</div>
			
			<div class="lk__inner">

				{{item.lkNav()}}

				<!-- begin lk__content -->
				<div class="lk__content">
					<h4 class="h4 lk-sale__title">Персональная скидка 5%</h4>

					<p>Вы приобрели товары на сумму 269541 рублей (в том числе сумма неоплаченных заказов составляет 10254 рублей)</p>

					<p>Сейчас Ваша персональная скидка составляет 5%.Для получения скидки 10% вам необходимо закупить товар не сумму не менее 230439 рублей</p>

					<div class="lk-sale__inner">
						<div class="lk-sale__text">
							<h4 class="h4 lk-sale__title">Условия предоставления скидок</h4>

							<p>Здесь должен быть какой-то текст, например такой. Персональная скидка - это скидка, размер которой индивидуален для каждого покупателя. Максимальная скидка - скидка, которую компания может предоставить клиенту (при данном объеме продаж валовая прибыль от сделки со скидкой будет равна валовой прибыли от сделки без скидкой, с вилу меньшего объема закупаемой продукции). Определение макмимальной скидки - это ответ на вопрос при какой скидке увеличеный объем продажи  товаров (в силу более выгодной цены - объем продажи возрастает) принесет точно такую же (не меньшую) прибыль, чем продажа пусть и меньшей партии товара но без скидки.</p>
						</div>
						<div class="lk-sale__data">
							<ul class="lk-sale__list">
								<li>Объем покупки, &nbsp;<i class="fa fa-rub"></i> <span>Скидка</span></li>
								<li>до 200000 <span>0%</span></li>
								<li>200000 - 500000 <span>5%</span></li>
								<li>500000 - 800000 <span>10%</span></li>
								<li>800000 - 1000000 <span>15%</span></li>
								<li>1000000 - 1500000 <span>20%</span></li>
								<li>более 1500000 <span>25%</span></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end lk__content -->

			</div>
			
		</div>
	</div>
	<!-- end ;l -->

</div>	
<!-- end home -->

{% endblock %}