---
title: Личный кабинет
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper lk">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs__wrap">
			<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="#" class="breadcrumbs__link" itemprop="url">
							<span class="breadcrumbs__title" itemprop="title">Главная</span>
						</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__title" itemprop="title">{{ title }}</span>
					</li>
				</ul>
			</div>
			<a href="#" class="btn-link btn-link--exit"><span>Выход</span></a>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<div class="container">
		<!-- begin lk__inner -->
		<div class="lk__inner tab js-lk-tabs">

			<!-- begin lk__nav -->
			<aside class="lk__nav tab__titles js-lk-sticky">
				<ul class="lk-nav__list">
					<li class="lk-nav__item tab__title">
						<a href="#lk-user" class="lk-nav__link">
							<span class="lk-nav__text lk-nav__text--dark">Petrov_1977</span>
							<i class="fas fa-cog lk-nav__icon"></i>
						</a>
					</li>
					<li class="lk-nav__item tab__title">
						<a href="#lk-order" class="lk-nav__link">
							<span class="lk-nav__text">ООО “Азбука”</span>
							<i class="fas fa-pencil lk-nav__icon" title="редактировать"></i>
						</a>
					</li>

					<li class="lk-nav__item tab__title is-hidden">
						<a  href="#add-profile-user" class="lk-nav__link">
							<span class="lk-nav__text">Частное лицо</span>
							<i class="fas fa-pencil lk-nav__icon" title="редактировать"></i>
						</a>
					</li>

					<li class="lk-nav__item tab__title is-hidden">
						<a  href="#add-profile-company" class="lk-nav__link">
							<span class="lk-nav__text">Компания</span>
							<i class="fas fa-pencil lk-nav__icon" title="редактировать"></i>
						</a>
					</li>

					<li class="lk-nav__item lk-nav__item--add">
						<a  data-src="#new-profile" class="lk-nav__link" data-fancybox>
							<span class="lk-nav__text">Добавить профиль</span>
							<i class="fas fa-plus-circle lk-nav__icon"></i>
						</a>
					</li>

					<li class="lk-nav__item lk-nav__item--devider"></li>

					<li class="lk-nav__item tab__title">
						<a href="#lk-order" class="lk-nav__link">Мои заказы</a>
					</li>
					<li class="lk-nav__item tab__title">
						<a href="#" class="lk-nav__link">Пресональные скидки</a>
					</li>
				</ul>

			</aside><!-- end lk__nav -->

			<div class="tab__content lk__content" id="lk-user">
				{% include "blocks/lk/_user.html" %}
			</div>

			<div class="tab__content lk__content" id="lk-order">
				{% include "blocks/lk/_odrer.html" %}
			</div>

			<div class="tab__content lk__content" id="add-profile-user">
				{% include "blocks/lk/_profile-user.html" %}
			</div>

			<div class="tab__content lk__content" id="add-profile-company">
				{% include "blocks/lk/_profile-company.html" %}
			</div>

		</div><!-- end lk__inner -->
	</div>

</div>
<!-- end home -->

{% endblock %}
