---
title: Магазины
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin map -->
<div class="content-wrapper map">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a class="breadcrumbs__link" href="#" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">{{ title }}</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<div class="container">

		<div class="map__inner">
			<div class="map__left js-map-filter">
				<div class="map__title">Найти ближайший магазин</div>

				<div class="row js-select--box">
					<div class="col-4 col-md-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--country" data-placeholder="Выбор страны">
									<option></option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="col-4 col-md-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--region" data-placeholder="Выбор региона" disabled>
									<option></option>
									<option value="Архангельская область">Архангельская область</option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="col-4 col-md-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--city" data-placeholder="Выбор  города" disabled>
									<option></option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="map-address__wrap js-map-address js-scroll">
					<div class="map-address__back js-map-address--back xs-only--flex">
						<i class="fal fa-angle-left"></i>
						Изменить город
					</div>
					<div class="map-address">
						{% for i in range(0, 2) %}
						<div class="map-address__item">
							<div class="map-address__title">AUTOSPORT <span>оф.диллер</span></div>

								<div class="map-address__desc">ул. Адмирала Павла Нахимова, 11, офис 713, Ижевск</div>
								<div class="map-address__phone">
									<a class="phone__link" href="tel:+73412658080">+7 (3412) 65-80-80</a>
								</div>

							<button class="map-address__btn xs-only">
								{{ mixin.icon('cs-route') }}
							</button>
						</div>
						{% endfor %}
					</div>
				</div>

				<div class="map__desc xs-hide">Если вы не нашли нужный товар в магазинах вашего города, закажите его через наш сайт. Мы доставляем детали по всему миру и бесплатно по России при заказе от 3000 руб.</div>

				<div class="map__empty" style="display: none;">К сожалению, в вашем городе пока нет официальных партнеров CS-20. Воспользуйтесь нашим интернет магазином, мы доставляем детали бесплатно по России при заказе от 3000 руб.</div>
			</div>

			<div class="map__right map-box">
				<div class="map-box__inner js-map-shops"></div>
			</div>
		</div>

	</div>
</div>
<!-- end map -->

{% endblock %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnkTBYnYseWFYqDk3wb4-eWn4507c7CSw" async defer></script>

<script>
	window.onload = function() {
		var $mapShops = $('.js-map-shops');

		if ($mapShops.length) {
			_initMapShops();
		}

		function _initMapShops() {
			var cords = { lat: 51.9958, lng: 47.8191 };
			var map = new google.maps.Map(
				document.querySelector('.js-map-shops'),
				{
					zoom: 17,
					center: cords,
					autocloseinfo: true,
					streetViewControl: false,
					mapTypeControl: false,
					scaleControl: false,
					fullscreenControl: false
				}
			);
			// var marker = new google.maps.Marker({
			// 	position: { lat: 51.99577, lng: 47.81935 },
			// 	map: map,
			// 	icon: 'img/general/pin.png'
			// });
		}
	}
</script>
{% endblock %}
