---
title: Новости | Интернет-магазин износостойких автокомпонентов с доставкой по РФ
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Новости</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin news -->
	<section class="news">
		<div class="container">

			<h1 class="h1 page-title" itemprop="headline">Новости</h1>

			<div class="news__inner">
				<!-- begin news__content -->
				<div class="news__content">
					<article class="news-item">
						<h3 class="news-item__title">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</h3>
						<span class="news-item__date">15 марта 2018</span>
						<p class="news-item__text">Вместе с серьезным обновлением интернет-магазина, наша компания подготовила четкую визуализацию каждого продукта. Теперь поиск необходимых запчастей будет улучшен качественными фотографиями деталей и упаковок.</p>
						<div class="news-item__img">
							<img src="img/news/1.png" alt="Новые качественные фотографии деталей и упаковок в нашем интернет-магазине">
						</div>
					</article>
				</div>
				<!-- end news__content -->

				<!-- begin news__sidebar -->
				<sidebar class="news__sidebar js-sticky--news">
					<div class="cs-slider news__slider">
						<div class="cs-slider__arrow cs-slider__arrow--prev"></div>
						<div class="cs-slider__arrow cs-slider__arrow--next"></div>
						<div class="cs-slider__slides js-cs-slider--news">
							<a href="#" class="cs-slider__slide news-item-preview is-checked">
								<span class="news-item-preview__date">04 мая 2018</span>
								<div class="news-item-preview__text">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</div>
							</a>
							{% for i in range(0, 10) %}
							<a href="#" class="cs-slider__slide news-item-preview">
								<span class="news-item-preview__date">04 мая 2018</span>
								<div class="news-item-preview__text">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</div>
							</a>
							{% endfor %}﻿
						</div>
					</div>
				</sidebar>
				<!-- end news__sidebar -->

			</div>
			
		</div>
	</section>
	<!-- end news -->

</div>	
<!-- end home -->

{% endblock %}
