---
title: Новости
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper news">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">{{ title }}</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin news -->
	<div class="container">

		<h1 class="h1 page-title">{{ title }}</h1>

		<div class="news__item news-item cs-card px2 js-cs-card">
			<span class="news-item__date">19 ноября 2018</span>
			<div class="cs-card__inner news-item__inner">
				<div class="news-item__desc">
					<h5 class="cs-card__title news-item__title">Рады представить Вам нашего нового героя</h5>

					<p class="cs-card__text">Автомеханика, который с этого дня станет неотъемлемой частью мультяшного мира CS20!</p>

					<p class="cs-card__text">Всем привет! Меня зовут Александр, мне 33 года и уже как 9 лет я реанимирую Ваши автомобили, меняю масло, ремонтирую подвеску и двигатели. Когда-нибудь я выплачу кредит, куплю дом на волге и навсегда забуду про автосервис, а пока я покажу Вам мои трудовые будни, познакомлю с друзьями и расскажу то, что другие механики просто скрывают от Вас. Но все по порядку. Рад был познакомиться, очень скоро увидимся.</p>

					<p class="cs-card__text">Автомеханика, который с этого дня станет неотъемлемой частью мультяшного мира CS20! Когда-нибудь я выплачу кредит, куплю дом на волге и навсегда забуду про автосервис, а пока я покажу Вам мои трудовые будни, познакомлю с друзьями.</p>
				</div>
				<div class="news-item__img js-news--img">
					<img src="img/news/1.png" alt="alt">
				</div>
			</div>

			<p class="cs-card__text">Всем привет! Меня зовут Александр, мне 33 года и уже как 9 лет я реанимирую Ваши автомобили, меняю масло, ремонтирую подвеску и двигатели. Когда-нибудь я выплачу кредит, куплю дом на волге и навсегда забуду про автосервис, а пока я покажу Вам мои трудовые будни, познакомлю с друзьями и расскажу то, что другие механики просто скрывают от Вас. Но все по порядку. Рад был познакомиться, очень скоро увидимся...</p>

			<div class="cs-card__bottom">
				<div class="cs-card__bottom_left">
						Еще больше новостей в нашей <a class="cs-card__link" href="#">группе Вконтакте</a>
				</div>
				<div class="cs-card__bottom_right">
					<a class="cs-card__link cs-card__link--prev" href="#">Предыдущая новость</a>
					<a class="cs-card__link cs-card__link--next" href="#">Следующая новость</a>
				</div>
			</div>
		</div>

	</div>
	<!-- end news -->

</div>
<!-- end home -->

{% endblock %}
