---
title: Новости
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper news">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Новости</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin news -->
	<div class="container">

		<h1 class="h1 page-title">{{ title }}</h1>

		<div class="news__layout">
			{% import "data/data-news.html" as newsList %}
			{% for item in newsList.news %}
			<article class="news__item cs-card {{ item.class }}">
				<spqn class="cs-card__date">{{ item.date }}</spqn>
				<h5 class="cs-card__title">{{ item.title }}</h5>
				<p class="cs-card__text js-text-overflow">{{ item.p1 }}</p>
				<p class="cs-card__text js-text-overflow">{{ item.p2 }}</p>
				{% if item.p3.lenght %}
				<p class="cs-card__text js-text-overflow">{{ item.p1 }}</p>
				{% endif %}
				<a class="btn btn-outline-gray-light cs-card__btn" href="cs-card.html">Читать полностью</a>
			</article>
			{% endfor %}
		</div>

	</div>
	<!-- end news -->

</div>
<!-- end home -->

{% endblock %}
