---
title: Новые качественные фотографии деталей и упаковок в нашем интернет-магазине
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Новости</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin news -->
	<section class="news">
		<div class="container">

			<h1 class="h1 page-title" itemprop="headline">Новости</h1>

			<div class="news__inner js-news-tab">
				<!-- begin news__content -->
				<div class="news__content">
				{% for i in range(0, 1) %}
				<article class="news-item" id="tab-{{i}}">
					<h3 class="news-item__title">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</h3>
					<span class="news-item__date">15 марта 2018</span>
					<p class="news-item__text">Вместе с серьезным обновлением интернет-магазина, наша компания подготовила четкую визуализацию каждого продукта. Теперь поиск необходимых запчастей будет улучшен качественными фотографиями деталей и упаковок.</p>
					<div class="news-item__img">
						<img src="img/news/1.png" alt="Новые качественные фотографии деталей и упаковок в нашем интернет-магазине">
					</div>
				</article>
				{% endfor %}
				<article class="news-item" id="tab-1">
					<h3 class="news-item__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, consectetur.</h3>
					<span class="news-item__date">15 марта 2018</span>
					<p class="news-item__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, cum. Nobis aliquid, deleniti nisi, ea adipisci vero officiis, inventore laudantium dolorem quae et ab minima sint! Vero distinctio veniam dignissimos.</p>
					<div class="news-item__img">
						<img src="img/news/1.png" alt="Новые качественные фотографии деталей и упаковок в нашем интернет-магазине">
					</div>
				</article>
				</div>
				<!-- end news__content -->

				<!-- begin news__sidebar -->
				<ul class="news__sidebar">
					{% for i in range(0, 2) %}
					<li class="news-item-preview">
						<a class="news-item-preview__link" href="#tab-{{i}}">
							<span class="news-item-preview__date">04 мая 2018</span>
							<div class="news-item-preview__text">Новые качественные фотографии деталей и упаковок в нашем интернет-магазине</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<!-- end news__sidebar -->

			</div>

		</div>
	</section>
	<!-- end news -->

</div>
<!-- end home -->

{% endblock %}
