---
title: Варианты оплаты | Интернет-магазин износостойких автокомпонентов с доставкой по РФ
firstscreenSelectClass: sm-hide
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper payment">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">Оплата</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<!-- begin payment -->
	<div class="container">
		<div class="payment__items">
			<div class="payment__item">
				<div class="payment__item__in">
					<div class="payment__text">
						<h2 class="h2 payment__title">Оплата на складе при получении:</h2>
						<div class="payment__desc">При оплате на складе Вы лично или Ваше доверенное лицо забираете товар с нашего склада и оплачиваете его на месте. Склад находится по адресу: г. Балаково, ул. Транспортная 6/1, время работы: Пн-Пт 8:00-17:00, телефон: 8-800-555-25-40</div>
					</div>
					<div class="payment__img">
						<img src="img/general/payment/payment-1.png" alt="Оплата на складе при получении">
					</div>
				</div>
			</div>
			<div class="payment__item">
				<div class="payment__item__in">
					<div class="payment__img">
						<img src="img/general/payment/pay-method.png" alt="Способы оплыты">
					</div>
					<div class="payment__text">
						<h2 class="h2 payment__title">Оплата банковской картой</h2>
						<div class="payment__desc">Оплата происходит через систему Робокасса. Данный вид оплаты является самым простым и распространенным, ведь система Робокасса включает в себя более 40 способов оплаты.</div>
					</div>
				</div>
			</div>
			<div class="payment__item">
				<div class="payment__item__in">
					<div class="payment__text">
						<h2 class="h2 payment__title">Безналичный платеж через банк</h2>
						<div class="payment__desc">Этот способ предназначен только для Юридических лиц. Ваши реквизиты для выставления счета Вы можете указать в комментариях при оформлении заказа или выслать на нашу эл. почту info@cs-20.ru с указанием номера заказа. Во время отгрузки вместе с товаром будут высланы все необходимые отчетные документы.</div>
					</div>
					<div class="payment__img">
						<img src="img/general/payment/payment-2.png" alt="Безналичный платеж через банк">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end payment -->

</div>
<!-- end home -->

{% endblock %}
