---
title: Попап окна на сайте
headerClass: bg--dark
---
{% extends "layouts/_layout.html" %}

{% block content %}


	<style>
		main{padding: 100px;}
		h1{margin-bottom: 50px;}
		.popup__list a{display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;}
		.popup__list a:hover{color: #2d6cb4;text-decoration: underline;}
		@media screen and (max-width: 480px){
			main{margin: 10px;}
		}
	</style>

	<!-- begin home -->
	<main class="main">

		<h1>Попап окна на сайте</h1>

		<div class="container popup__list">
			<a href="#ak-window__owner-report" data-fancybox>Жалоба</a>
			<a href="#auth-form" data-fancybox>Форма регистрации</a>
			<a href="#phone-confirm" data-fancybox>Подтверждение телефона</a>
			<a href="#avatar-add" data-fancybox>Личный кабинет аватар</a>
			<a href="#disable-category" data-fancybox>Отключение услуги</a>
			<a href="#become-master" data-fancybox>Стать мастером</a>
			<a href="#album-create" data-fancybox>Создать альбом</a>
			<a href="#album-edit" data-fancybox>Переместиь фото</a>
		</div>

	</main>	
	<!-- end home -->

{% endblock %}
