---
title: Попап окна на сайте
headerClass: bg--dark
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- begin home -->
	<main class="content-wrapper" style="padding: 100px;}">

		<h1 style="margin: 50px 0;">Попап окна на сайте</h1>

		<div class="container popup__list">
			<a style="display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;" href="#register" data-fancybox>Регистрация</a>
			<a style="display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;" href="#enter" data-fancybox>Вход</a>
			<a style="display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;" href="#password-recovery" data-fancybox>Востановление пароля</a>
			<a style="display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;" href="#buy-one-click" data-fancybox>В один клик</a>
			<a style="display: inline-block; margin-right: 30px; margin-bottom: 15px; color: #2d6cb4;" href="#review-add" data-fancybox>Добавить отзыв</a>
		</div>

	</main>
	<!-- end home -->

{% endblock %}
