---
title: Технологии
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin home -->
<div class="content-wrapper tehnology">

	<!-- begin breadcrumbs -->
	<div class="container">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">{{ title }}</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- end breadcrumbs -->

	<div class="container">

		<div class="cs-card about__cs-card">

			<h1 class="h1 page-title">{{ title }}</h1>

			<div class="about__desc">
				<p class="text-small">Наша компания выпускает сразу несколько линеек автозапчастей, которые различаются не только цветами, но и технологиями производства.</p>

				<a href="img/general/sertificate/sertificate.7z" class="card__more-info">
					{{ mixin.icon('cs-download') }}
					<span>Скачать сертификаты соответствия</span>
				</a>
			</div>

			<div class="block-image block-image--reverse js-block-image">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/tehnology/comfort.jpg" alt="Серия Комфорт">
					</div>
					<div class="block-image__desc">
						<div class="block-image__title">
							Серия Комфорт
							<span>технология литья под высоким давлением</span>
						</div>

						<p class="block-image__text">В производстве используется одна из самых распространенных технологий - литье под высоким давлением. В качестве сырья выступает ТПУ - термополиуретан. За счет данной технологии получаются относительно мягкие (60-65 ShA почти как резиновые),
						но очень износостойкие изделия, что не свойственно для классического полиуретана</p>

						<div class="block-image__subtitle">О технологии:</div>

						<p class="block-image__subtext">До начала производства первичное сырье в виде маленьких полупрозрачных капсул смешивают с специальными присадками (для увеличения ресурса) и ярким красителем (в нашем случае желтым). Далее смешанный состав в холодном состоянии попадает в камеру плавления, где происходит процесс диффузии  (перемешивания) и самой плавки. Далее полученный состав в горячем виде попадает под большим давлением в специальную металлическую заготовку, которая является радиатором для горячего состава. Проходит несколько десяток секунд, прежде чем пресс-форма раскрывается и из нее можно будет достать полуготовое изделие. После этого конечная продукция проходит следующие, более простые этапы производства.</p>
					</div>
				</div>
			</div>

			<div class="block-image js-block-image">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/tehnology/drive.jpg" alt="Серия Драйв">
					</div>
					<div class="block-image__desc">
						<div class="block-image__title">
							Серия Драйв
							<span>технология заливочного полиуретана </span>
						</div>

						<p class="block-image__text">Автозапчасти данной линейки производятся по технологии заливочного полиуретана с помощью специальной дозирующей машины. Изделия, произведенные по данной технологии, являются эталоном качества и износостойкости.</p>

						<div class="block-image__subtitle">О технологии:</div>

						<p class="block-image__subtext">Сырье для заливочной машины извлекают из сырой нефти
						путем сложных технологических процессов. Полученные жидкие компоненты дополняются вспомогательными присадками, которые улучшают морозостойкость, возвратность и сводят остаточную деформацию к нулю.  Для получения реакционно способной смеси, составы смешивают. Различная рецептура и соотношение компонентов регулирует спектр свойств образующегося полиуретана. В итоге мы получаем жидкий полиуретан, который под низким давлением заливается в нужные формы, а затем охлаждается и твердеет. </p>
					</div>
				</div>
			</div>

			<div class="block-image block-image--reverse js-block-image">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/tehnology/profi.jpg" alt="Серия Профи">
					</div>
					<div class="block-image__desc">
						<div class="block-image__title">
							Серия Профи
							<span>технология экструзии</span>
						</div>

						<p class="block-image__text">Является дополнением к серии Драйв. Технология изготовления очень популярная и известная - Экструзия. Автокомпоненты серии Профи пользуются особой популярностью у профессиональных автоспортсменов, т.к. изделия из силикона выдерживают экстремальные нагрузки, в том числе температурные.</p>

						<div class="block-image__subtitle">О технологии:</div>

						<p class="block-image__subtext">В производстве используется червячный экструдер и формующие головки. Если головки задают форму будущих изделий, то экструдер нужен для предварительной плавки материала. Если говорить проще, то в первую очередь сырье в виде специальных заготовок попадает в специальную камеру, где под большой температурой происходит плавление материала. Далее масса вдавливается в специальную форму, из сечения которой непрерывно появляется будущее изделие. Далее стандартные этапы дальнейшей обработки.</p>
					</div>
				</div>
			</div>

			<div class="block-image js-block-image">
				<div class="block-image__inner">
					<div class="block-image__img">
						<img src="img/general/tehnology/original.jpg" alt="Серия Оригинал Плюс">
					</div>
					<div class="block-image__desc">
						<div class="block-image__title">
							Серия Оригинал Плюс
							<span>технология вулканизационный пресс</span>
						</div>

						<p>Само название говорит за себя - запасти этой серии приближены к оригинальным. Так и есть, изделия изготавливаются из качественной резины. Несмотря на схожесть с оригинальными автокомпонентами, автозапчасти серии Оригинал Плюс имеют некоторые доработки и улучшения. Технология производства: вулканизационный пресс.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end home -->

{% endblock %}
