<!-- begin footer -->
<footer class="footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="container">
		<!-- begin footer__inner -->
		<div class="footer__inner">

			<div class="footer__item">
				<!-- begin logo -->
				<div class="logo footer__logo" itemscope itemprop="logo" itemtype="http://schema.org/Organization">
					<a class="logo__link" href="home.html" itemprop="url">
						<img class="logo__img" src="img/general/logo.png" alt="CS20">
					</a>
				</div>
				<!-- end logo -->
				<div class="copyright">
					<span itemprop="copyrightYear">© 2018 ООО “СS-20”</span>
				</div>
			</div>

			{% import "data/data.html" as footerMenu %}
			<div class="footer__item">
				<ul class="footer__list">
					{% for item in footerMenu.footerListOne %}
						<li {% if item.class %} class="{{ item.class }}" {% endif %}>
							<a href="{{ item.link }}.html">{{ item.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="footer__item sm-hide">
				<ul class="footer__list">
					{% for item in footerMenu.footerListTwo %}
						<li>
							<a href="{{ item.link }}">
								{{ item.text }}
							</a>
						</li>
					{% endfor %}
					<li>
						<a href="img/general/catalog.pdf" target="blank">
							Каталог PDF
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__item last">
				<!-- begin phone -->
				<div class="phone footer__phone mb-20">
					<a class="phone__link" href="tel:88005552540" itemprop="telephone">8 800 555 25 40</a>
				</div>
				<!-- end phone -->

				{% include "partials/components/_social.html" %}
			</div>

			<div class="footer__item sm-hide">
				<!-- begin block-pay -->
				<div class="block-pay">
					<ul class="block-pay__list">
						<li class="block-pay__item">
							{{ mixin.icon('visa', 'block-pay__icon') }}
						</li>
						<li class="block-pay__item">
							{{ mixin.icon('mastercard', 'block-pay__icon') }}
						</li>
					</ul>
				</div>
				<!-- end block-pay -->
			</div>
		</div>
		<!-- end footer__inner -->
	</div>
</footer>
<!-- end footer -->
