<!-- begin header -->
<header class="header {{headerClass}}" itemscope itemtype="http://schema.org/WPHeader">
	<div class="container">
		<div class="header__inner">

			<!-- begin hamburger -->
			<button class="hamburger header__hamburger js-hamburger sm-only">
				{{mixin.icon('cs-hamburger', 'hamburger__icon')}}
			</button>
			<!-- end hamburger -->

			<!-- begin logo -->
			<div class="logo header__logo" itemscope itemprop="logo" itemtype="http://schema.org/Organization">
				<a class="logo__link" href="/" itemprop="url">
					<img class="logo__img" src="img/general/logo.png" alt="CS20">
				</a>
			</div>
			<!-- end logo -->

			<!-- begin header__menu -->
			 <div class="header__menu">
				{% include "partials/components/_menu.html" %}
			</div><!-- end header__menu -->

			<!-- begin cart-link -->
			<a class="cart-link header__cart-link sm-only" href="cart.html">
				{{mixin.icon('cs-cart', 'cart-link__icon')}}
				<span class="cart-link__badge badge">32</span>
			</a>
			<!-- end cart-link -->

			<!-- begin phone -->
			<div class="phone header__phone js-header-phone sm-hide">
				<a class="phone__link" href="#" itemprop="telephone">8 800 555 25 40</a>
			</div>
			<!-- end phone -->
		</div>

	</div>
</header>
<!-- end header -->

{% include "partials/_firstscreen.html" %}
