<div class="info-block info-block--mobile">
	<ul class="info-block__items">
		<li class="info-block__item">
			{{ mixin.icon('cs-delivery', 'info-block__icon info-block__icon--delivery') }}
			<div class="info-block__text">
				<span>Бесплатная доставка</span>  от 3000 рублей
			</div>
		</li>
		<li class="info-block__item">
			{{ mixin.icon('cs-garanty', 'info-block__icon') }}
			<div class="info-block__text">
				<span>Расширенная гарантия</span> до 2 лет
			</div>
		</li>
		<li class="info-block__item">
			{{ mixin.icon('cs-giftbox', 'info-block__icon') }}
			<div class="info-block__text">
				<span>Подарок каждому</span> прочные перчатки
			</div>
		</li>
		<li class="info-block__item info-block__item--link">
			Узнать про <a class="info-block__link" href="#"> систему скидок</a>
		</li>
	</ul>
</div>
