<!-- begin info-block -->
<div class="info-block">
	<div class="info-block__items">
		<div class="info-block__item">
			<img class="info-block__icon info-block__icon--delivery" src="img/icons/svg/cs-delivery.svg" alt="Бесплатная доставка">
			<div class="info-block__text">
				<span class="info-block__title">Бесплатная доставка</span>
				<p class="info-block__desc">При заказе в интернет-магазине от 1000 рублей. По России.</p>
			</div>
		</div>
		<div class="info-block__item">
			<img class="info-block__icon" src="img/icons/svg/cs-garanty.svg" alt="Бесплатная доставка">
			<div class="info-block__text">
				<span class="info-block__title">Расширенная гарантия</span>
				<p class="info-block__desc">Обмен товара на аналогичный в течении 2 лет</p>
			</div>
		</div>
		<div class="info-block__item">
			<img class="info-block__icon" src="img/icons/svg/cs-giftbox.svg" alt="Бесплатная доставка">
			<div class="info-block__text">
				<span class="info-block__title">Подарок каждому</span>
				<p class="info-block__desc">Прочные перчатки в подарок к каждому заказу</p>
			</div>
		</div>
	</div>
</div><!-- end info-block -->
