{% import "partials/assets/_mixins.html" as mixin %}

<!--
<div class="cs-dropdown js-cs-dropdown">
	наведи сюда
	<div class="cs-dropdown__list">это появится</div>
</div>
-->

{% macro checkbox(title, class) %}
<label class="cs-checkbox {{class}}">
	<input type="checkbox">
	<span class="cs-checkbox__box"></span>
	<span class="cs-checkbox__title">{{title}}</span>
</label>
{% endmacro %}
<!-- item.checkbox('мужской', 'cs-checkbox--radio, profile-editor__checkbox') -->

{% macro radio(title, name, class) %}
<label class="cs-checkbox cs-checkbox--radio {{class}}">
	<input type="radio" name="{{name}}">
	<span class="cs-checkbox__box"></span>
	<span class="cs-checkbox__title">{{title}}</span>
</label>
{% endmacro %}
<!-- item.checkbox('мужской', 'cs-checkbox--radio, profile-editor__checkbox') -->

{% macro input(type, placeholder, class, inputClass) %}
<div class="cs-input {{class}}">
	<input
		type="{{type}}"
		class="cs-input__field {% if inputClass %} {{ inputClass }} {% endif %}" {% if placeholder %} placeholder="{{placeholder}}" {% endif %}>
	<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
</div>
{% endmacro %}
<!-- item.input('ЛОгин', 'form__input) -->

{% macro starRating() %}
<div class="star-rating">
	<div class="star-rating__wrap">
		<input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
		<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 из 5"></label>
		<input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
		<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 из 5"></label>
		<input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3" checked>
		<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 из 5"></label>
		<input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
		<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 из 5"></label>
		<input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
		<label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 из 5"></label>
	</div>
</div>
{% endmacro %}

{% macro categoryImg(img) %}
<picture>
	<source media="(max-width: 1024px)" srcset="img/general/category/tabl/{{img}}.png">
	<source media="(max-width: 480px)" srcset="img/general/category/mob/{{img}}.png">
	<img class="category__img" src="img/general/category/desk/{{img}}.png" alt="alt">
</picture>
{% endmacro %}

{% macro catalogItem(class) %}
<a href="card.html" class="catalog-item js-catalog-item{{class}}">

	<div class="catalog-item__inner">
		<div class="catalog-item__img cs-slider js-ss-slider image-wrapper"
		data-ss-images="img/examples/user/catalog/catalog-0.jpg;img/examples/user/catalog/catalog-1.jpg;img/examples/user/catalog/catalog-2.jpg;img/examples/user/catalog/catalog-3.jpg;img/examples/user/catalog/catalog-4.jpg"></div>

		<div class="catalog-item__text">
			<div class="catalog-item__header">
				<div class="catalog-item__header-text">
					<h3 class="catalog-item__title">Студия "Слеза дракона"</h3>
					<div class="catalog-item__address place-text" itemprop="address" itemtype="http://schema.org/PostalAddress">
						<div class="place-text__address"  itemprop="addressLocality">
							<span itemprop="addressLocality">Москва</span>, 	<span itemprop="streetAddress">ул. Гагарина, 28/2</span>
							<span class="place-text__metro">м. Лубянка</span>
						</div>
					</div>
				</div>
			</div>

			<div class="catalog-item__info">

				<div class="rating catalog-item__rating" itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating">
					<meta itemprop="reviewCount" content="Отзывов: 6">
					<meta itemprop="ratingValue" content="3.5">
					<meta itemprop="bestRating" content="5">
					<div class="rating__inner" style="width: 70%"></div>
					<span class="rating__rev-count">(77)</span>
				</div>

				<div class="catalog-item__properties properties">
					<ul class="properties__list">
						<li class="properties__item properties__item_sale cs-dropdown cs-dropdown--hover js-cs-dropdown">
							{{mixin.icon('procent')}}
							<div class="cs-dropdown__list">есть скидки</div>
						</li>
						<li class="properties__item properties__item_car cs-dropdown cs-dropdown--hover js-cs-dropdown">
							{{mixin.icon('car')}}
							<div class="cs-dropdown__list">могу приехать</div>
						</li>
					</ul>
				</div>

				<!-- <button class="button catalog-item__btn-subscribe">Подписаться</button> -->

			</div>

			<div class="catalog-item__desc" style="height: 48px;">Conveniently located inside Hair By Mi on King St in Newtown, Shura Nail & Beauty specialists in professional manicures and pedicures. Nail Art is at its best with high qualified Nail Artists. you'll also find services including Eyelash Extensions, Waxing & Eyebrow Tinting.<span class="button-link">...Еще</span></div>

			<!-- <div class="catalog-item__buttons">
				<span class="button-animate button-animate--gray js-btn-animate">
					Подробнее
					<span class="button-animate__hover"></span>
				</span>
				<span data-src="#fast-entry" class="button-animate js-btn-animate button-animate--transparent button-animate--icon" data-fancybox>
					<span class="button-animate__text">Записаться</span>
					<span class="button-animate__hover"></span>
					{{mixin.icon('pancil')}}
				</span>
			</div> -->

		</div>
	</div>

	<div class="catalog-item__price price">
		<ul class="price__list">
			<li class="price__item" itemprop="price" content="700">
				<div class="price__inner">
					<span class="price__text">Маникюр</span>
					<span class="price__time"><i class="fa fa-clock-o"></i>30 мин</span>
				</div>
				<div class="price__inner">
					<div class="price__num_wrap">
						<span class="price__num_old">700 <i class="fa fa-rub" itemprop="priceCurrency" content="RUB"></i></span>
						<span class="price__num">588 <i class="fa fa-rub" itemprop="priceCurrency" content="RUB"></i></span>
					</div>
				</div>
			</li>
		</ul>
	</div>

</a>
{% endmacro %}

{% macro phone(class) %}
<!-- begin phone -->
<div class="phone {{ class }}">
	<a href="#" class="phone__link" itemprop="telephone">8 800 555 25 40</a>
	<span class="phone__text">звонок бесплатный</span>
</div>
<!-- end phone -->
{% endmacro %}
