<!-- begin pagination -->
<div class="pagination">
	<ul class="pagination__list">
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				<i class="fal fa-angle-left pagination__icon"></i>
			</a>
		</li>
		<li class="pagination__item is-active">
			<a href="#" class="pagination__link">1</a>
		</li>
		{% for i in range(2, 7) %}
		<li class="pagination__item">
			<a href="#" class="pagination__link">{{i}}</a>
		</li>
		{% endfor %}
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				<i class="fal fa-angle-right pagination__icon"></i>
			</a>
		</li>
	</ul>
</div><!-- end pagination -->
