<!-- begin register -->
<div class="modal-window modal-window--medium new-profile" id="new-profile">
	<div class="modal-window__body">
		<div class="new-profile__title">Добавление нового профиля</div>
		<div class="button-box button-box--center">
			<a href="lk-person.html" class="btn btn-accent btn--icon">
				{{ mixin.icon('cs-user', 'btn__icon') }}
				Частное лицо
			</a>
			<a href="lk-company.html" class="btn btn--white btn--icon">
				{{ mixin.icon('cs-tower', 'btn__icon') }}
				Компания
			</a>
		</div>
	</div>
</div>
<!-- end register -->

<!-- begin enter -->
<div class="modal-window modal-window--medium enter" id="enter">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Вход в аккаунт</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			<div class="form__inner">
				<div class="form__box">
					<div class="pedit__item form__input">
						<div class="pedit__title no-wrap">Логин:<i>*</i></div>
						<div class="pedit__field">
							{{item.input(type='text')}}
						</div>
					</div>
				</div>
				<div class="form__box">
					<div class="pedit__item form__input is-invalid">
						<div class="pedit__title no-wrap">Пароль:<i>*</i></div>
						<div class="pedit__field">
							{{item.input(type='password')}}
						</div>
					</div>
				</div>
				<div class="form__box">
					<button class="btn btn--gr w100" type="submit">Войти</button>
				</div>
			</div>

			<div class="success">
				<div class="success__text">Добро пожаловать!</div>
			</div>

		</form>

		<div class="button-box button-box--center">
			<a class="form__link" href="password-recovery.html">Забыли пароль?</a>
			<a class="form__link" href="registration.html">Регистрация</a>
		</div>

		<div class="item-icon__wrap xs-hide">
			<div class="item-icon">
				{{ mixin.icon('cs-address', 'item-icon__ico') }}
				<div class="item-icon__text">Запомним адрес, чтобы не указывать снова</div>
			</div>
			<div class="item-icon">
				{{ mixin.icon('cs-coupon', 'item-icon__ico') }}
				<div class="item-icon__text">Откроем доступ к  системе скидок</div>
			</div>
			<div class="item-icon">
				{{ mixin.icon('cs-box', 'item-icon__ico') }}
				<div class="item-icon__text">Детальное управление заказами</div>
			</div>
		</div>
	</div>
</div>
<!-- end enter -->

<!-- begin register -->
<div class="modal-window modal-window--mobile register" id="register">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Регистрация</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			{{item.input('text', 'Логин', 'cs-input--light form__input')}}
			{{item.input('text', 'Ваше имя', 'cs-input--light form__input is-invalid')}}
			{{item.input('email', 'Email', 'cs-input--light form__input')}}
			{{item.input('password', 'Пароль', 'cs-input--light form__input')}}
			<div class="success">
				<div class="success__text">Спасибо за регистрацию!</div>
			</div>
		</form>
		<div class="policy-agriment">
			{{ item.checkbox('Я принимаю', 'policy__checkbox') }}
				<a href="privacy.html" target="_blank">Условия использования</a>
				и соглашаюсь с
				<a href="privacy.html" target="_blank">политикой конфиденциальности</a>
		</div>
		<button class="btn btn--gr form__btn mt-30" type="submit">Зарегистрироваться</button>
		<a class="form__link js-popup-close" data-fancybox-close href="#enter">Уже есть аккаунт</a>
	</div>
</div>
<!-- end register -->

<!-- begin enter -->
<div class="modal-window modal-window--mobile password-recovery" id="password-recovery">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Восстановление пароля</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			{{item.input('text', 'Логин или e-mail', 'cs-input--light form__input is-invalid')}}
			<button class="btn btn--gr form__btn mt-30" type="submit">Вход</button>
			<div class="success">
				<div class="success__text">Вам на почту отправленно сообщение с дальнейшими инструкциями.</div>
			</div>
		</form>
		<a class="form__link js-popup-close" data-fancybox-close href="#register">Регистрация</a>
	</div>
</div>
<!-- end enter -->

<!-- begin enter -->
<div class="modal-window modal-map" id="modal-map">
	<div class="modal-window__body">
		<div class="map__inner">
			<div class="map__left js-map-filter">
				<div class="map__title">Найти ближайший магазин</div>

				<div class="row js-select--box">
					<div class="col-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--country" data-placeholder="Выбор страны">
									<option></option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--region" data-placeholder="Выбор региона" disabled>
									<option></option>
									<option value="Архангельская область">Архангельская область</option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="pedit__item">
							<div class="pedit__field">
								<select class="js-select js-select--city" data-placeholder="Выбор  города" disabled>
									<option></option>
									{% for i in range(0, 5) %}
									<option value="{{ i+1 }}">{{ i+1 }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="map-address__wrap js-map-address">
					<div class="map-address__back js-map-address--back xs-only--flex">
						<i class="fal fa-angle-left"></i>
						Изменить город
					</div>
					<div class="map-address js-scroll">
						{% for i in range(0, 3) %}
						<div class="map-address__item">
							<div class="map-address__title">AUTOSPORT <span>оф.диллер</span></div>
							<div class="map-address__inner">

								<div class="map-address__left">
									<div class="map-address__desc">ул. Адмирала Павла Нахимова, 11, офис 713, Ижевск</div>
									<div class="map-address__phone">
										<a class="phone__link" href="tel:+73412658080">+7 (3412) 65-80-80</a>
									</div>
								</div>

								<div class="map-address__right">
									<ul class="list list--text sm-hide">
										{% import "data/data.html" as week %}
										{% for item in week.dayTime %}
										<li class="list__item">
											<strong>{{ item.day }}</strong>
											<span>{{ item.time }}</span>
										</li>
										{% endfor %}
									</ul>
								</div>

							</div>
							<button class="map-address__btn xs-only">
								{{ mixin.icon('cs-route') }}
							</button>
						</div>
						{% endfor %}
					</div>

					<div class="map__desc">Если вы не нашли нужный товар в магазинах вашего города, закажите его через наш сайт. Мы доставляем детали по всему миру и бесплатно по России при заказе от 3000 руб.</div>
				</div>
			</div>

			<div class="map__right map-box xs-hide">
				<div class="map-box__inner js-map-shops"></div>
			</div>
		</div>
	</div>
</div>
<!-- end enter -->
