<!-- begin register -->
<div class="modal-window modal-window--medium new-profile" id="new-profile">
	<div class="modal-window__body">
		<div class="new-profile__title">Добавление нового профиля</div>
		<div class="button-box button-box--center">
			<a href="lk-person.html" class="btn btn-accent btn--icon">
				{{ mixin.icon('cs-user', 'btn__icon') }}
				Частное лицо
			</a>
			<a href="lk-company.html" class="btn btn--white btn--icon">
				{{ mixin.icon('cs-tower', 'btn__icon') }}
				Компания
			</a>
		</div>
	</div>
</div>
<!-- end register -->

<!-- begin enter -->
<div class="modal-window modal-window--medium enter" id="enter">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Вход в аккаунт</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			<div class="form__inner">
				<div class="form__box">
					<div class="pedit__item form__input">
						<div class="pedit__title no-wrap">Логин:<i>*</i></div>
						<div class="pedit__field">
							{{item.input(type='text')}}
						</div>
					</div>
				</div>
				<div class="form__box">
					<div class="pedit__item form__input is-invalid">
						<div class="pedit__title no-wrap">Пароль:<i>*</i></div>
						<div class="pedit__field">
							{{item.input(type='password')}}
						</div>
					</div>
				</div>
				<div class="form__box">
					<button class="btn btn--gr w100" type="submit">Войти</button>
				</div>
			</div>

			<div class="success">
				<div class="success__text">Добро пожаловать!</div>
			</div>

		</form>

		<div class="button-box button-box--center">
			<a class="form__link" href="password-recovery.html">Забыли пароль?</a>
			<a class="form__link" href="registration.html">Регистрация</a>
		</div>

		<div class="item-icon__wrap xs-hide">
			<div class="item-icon">
				{{ mixin.icon('cs-address', 'item-icon__ico') }}
				<div class="item-icon__text">Запомним адрес, чтобы не указывать снова</div>
			</div>
			<div class="item-icon">
				{{ mixin.icon('cs-coupon', 'item-icon__ico') }}
				<div class="item-icon__text">Откроем доступ к  системе скидок</div>
			</div>
			<div class="item-icon">
				{{ mixin.icon('cs-box', 'item-icon__ico') }}
				<div class="item-icon__text">Детальное управление заказами</div>
			</div>
		</div>
	</div>
</div>
<!-- end enter -->

<!-- begin register -->
<div class="modal-window modal-window--mobile register" id="register">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Регистрация</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			{{item.input('text', 'Логин', 'cs-input--light form__input')}}
			{{item.input('text', 'Ваше имя', 'cs-input--light form__input is-invalid')}}
			{{item.input('email', 'Email', 'cs-input--light form__input')}}
			{{item.input('password', 'Пароль', 'cs-input--light form__input')}}
			<div class="success">
				<div class="success__text">Спасибо за регистрацию!</div>
			</div>
		</form>
		<div class="policy-agriment">
			{{ item.checkbox('Я принимаю', 'policy__checkbox') }}
				<a href="privacy.html" target="_blank">Условия использования</a>
				и соглашаюсь с
				<a href="privacy.html" target="_blank">политикой конфиденциальности</a>
		</div>
		<button class="btn btn--gr form__btn mt-30" type="submit">Зарегистрироваться</button>
		<a class="form__link js-popup-close" data-fancybox-close href="#enter">Уже есть аккаунт</a>
	</div>
</div>
<!-- end register -->

<!-- begin enter -->
<div class="modal-window modal-window--mobile password-recovery" id="password-recovery">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Восстановление пароля</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__register">
			{{item.input('text', 'Логин или e-mail', 'cs-input--light form__input is-invalid')}}
			<button class="btn btn--gr form__btn mt-30" type="submit">Вход</button>
			<div class="success">
				<div class="success__text">Вам на почту отправленно сообщение с дальнейшими инструкциями.</div>
			</div>
		</form>
		<a class="form__link js-popup-close" data-fancybox-close href="#register">Регистрация</a>
	</div>
</div>
<!-- end enter -->

<!-- begin review-add -->
<div class="modal-window modal-window--mobile review-add" id="review-add">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Написать отзыв</h4>
	</div>
	<div class="modal-window__body">
		<form class="form form__review-add">
			<div class="cs-input">
				<span class="cs-input__title">Ваше имя</span>
				<input class="cs-input__field" type="text">
				<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
			</div>
			<div class="cs-input cs-input--select form__input">
				<span class="cs-input__title">Город</span>
				<select class="js-select">
					<option value="Выберите город..." disabled selected>Выберите город...</option>
					{% for i in range(0, 11) %}
					<option value="Балаково">Балаково</option>
					{% endfor %}﻿
				</select>
				<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
			</div>

			<div class="cs-input cs-input--rating">
				<span class="cs-input__title">Оценка</span>
				{{ item.starRating() }}
			</div>

			<div class="cs-input cs-input--text">
				<div class="cs-input__title">Отзыв</div>
				<textarea></textarea>
			</div>

			<div class="pedit__item">
				<label class="pedit__file">
					<span>Прикрепить файл</span>(не более 6 МВ)
					<input type="file">
				</label>
			</div>

			<button class="button button--accent form__btn" type="submit">Отправить</button>
			<div class="success">
				<div class="success__text">Спасибо за отзыв!</div>
			</div>
		</form>
	</div>
</div>
<!-- end review-add -->


<!-- begin buy-one-click -->
<div class="modal-window modal-window--mobile buy-one-click" id="buy-one-click">
	<div class="modal-window__header">
		<h4 class="modal-window__title">Купить в 1 клик</h4>
		<span class="modal-window__subtitle">Наши менеджеры свяжутся с Вами в течении 15 мин.</span>
	</div>
	<div class="modal-window__body">
		<form class="form form__request">
			{{item.input('text', 'Ваше имя', 'form__input is-invalid')}}
			<div class="cs-input form__input">
				<input class="cs-input__field js-input js-phone-mask" type="tel" placeholder="Ваш телефон">
				<span class="cs-input__error">*Какая-то шибка дожна быть тут</span>
			</div>
			<button class="button button--accent form__btn" type="submit">Купить</button>
			<div class="success">
				<div class="success__text">
					Спасибо за заказ!
					<div class="success__text--small">Наши менеджеры свяжутся с Вами в ближайшее время.</div>
				</div>

			</div>
		</form>
	</div>
</div>
<!-- end buy-one-click -->
