//base style
html
	height: 100%
	overflow-x: hidden

	&.is-fixed
		overflow: hidden

body
	position: relative
	min-width: 320px
	font-family: $font-family-base
	font-size: $font-size-base
	color: $color-text
	line-height: $line-height-base
	background-color: #fff
	overflow-x: hidden
	z-index: 1
	scroll-behavior: smooth
	+smooth-scroll
	+smooth-font

	&.is-loading
		.preloader
			display: none

header,footer,main,div,section,ul,ol
	+clr

b, strong
	font-family: $f-bold

input, textarea, select
	outline: none
	+placeholder
		font-family: $f-light
		font-size: 14px
		color: $color-placeholder

input, select
	min-height: 40px
	padding: 8px 30px 8px 15px

textarea, select
	width: 100%
	+cs-scroll

textarea
	min-height: 100px
	padding: 8px 15px
	border-radius: $border-radius
	%inputStyle
	resize: none

	+placeholder
		color: $gray--light
		font-size: 14px

	&:hover
		border-color: #a0a0a0

	&:focus
		border-color: $color-border

img
	display: block
	width: 100%

.icon
	display: inline-block
	width: 22px
	height: 22px

.overlay
	display: none
	background-color: rgba(#000, .5)
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: z(fixed)

	&.is-active
		display: block

.preloader
	display: block
	background-color: #fff
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 99999

.windows
	display: none

.container
	max-width: 1200px
	width: 100%
	margin-left: auto
	margin-right: auto
	+r(1200)
		padding: 0 20px
	+r(480)
		padding: 0 10px

.text-upercase
	text-transform: uppercase

.clearfix
	+clr

.js-scroll
	+smooth-scroll

a
	color: $color-accent
	text-decoration: none
	outline: none
	+tr
	&:hover
		color: lighten($color-accent, 10%)

h1,.h1, h2,.h2, h3,.h3, h4,.h4, h5,.h5, h6,.h6
	margin-top: 0
	font-family: $f
	color: $color-text

h1,.h1
	font-family: $f-bold
	font-weight: 600
	font-size: 36px
	+r(1024)
		font-size: 34px
	+r(768)
		font-size: 28px

h2,.h2
	font-family: $f-bold
	font-weight: 600
	font-size: 36px
	+r(1024)
		font-size: 32px
	+r(768)
		font-size: 25px

h3,.h3
	font-size: 28px
	font-family: $f-medium
	font-weight: 500
	+r(1024)
		font-size: 24px
	+r(768)
		font-size: 22px

h4,.h4, h5,.h5, h6,.h6
	font-size: 18px
	font-weight: 400
	margin-bottom: $half-indent

p
	margin-bottom: 20px
	font-size: 15px
	line-height: 1.7
	+r(480)
		font-size: 17px

//HELPER CLASSES

.text-center
	text-align: center

.is-hidden
	display: none !important

.hidden
	display: none

.lg-only, .md-only, .sm-only, .xs-only
	display: none !important

@each $screen in lg, md, sm, xs
    .#{$screen}-show
        display: none !important

        @include r-max(#{$screen})
            display: block !important

    .#{$screen}-only
        display: none !important

        &--flex
            display: none !important

    @include r-max(#{$screen})

        .#{$screen}-only
            display: block !important

            &--flex
                display: flex !important

        .#{$screen}-hide
            display: none !important


@for $i from 1 through 10
    .pos-#{$i}
        order: $i

    @include r-max(md)

        .pos-md-#{$i}
            order: $i

    @include r-max(sm)

        .pos-sm-#{$i}
            order: $i

    @include r-max(xs)

        .pos-xs-#{$i}
            order: $i

.pos-xs-one
	@include r-max(xs)
		order: -1
