=cs-scroll
	+scrollbar
		width: 5px
	+scrollbar-track
		width: 5px
	+scrollbar-thumb
		background-color: $color-accent

%flex
	display: flex

%flexCenter
	display: flex
	align-items: center

%flexColumn
	display: flex
	flex-direction: column