//Variables

//FONT
$f          :roboto-400, sans-serif;
$f-light    :roboto-300, sans-serif;
$f-medium   :roboto-500, sans-serif;
$f-bold     :roboto-600, sans-serif;
$f-black    :roboto-700, sans-serif;

$font-size-base  : 16px;
$font-family-base: $f;
$line-height-base: 1.5;
$font-weight-base: 400;

//Отступы
$base-indent   : 30px;
$half-indent   : $base-indent / 2;
$section-indent: 60px;

//Base Variebles
$color-accent              :#a40c95;
$color-secondary           :#27303b; 

//gray
$gray--lighten             :#e3dede;
$gray--light               :#bdbdbd;
$gray                      :#707070;

//text
$color-text                :$gray;
$color-text--header        :#000;

//bg
$color-bg--dark            :#090113;

//border
$color-border              :$gray;
$color-border--light       :$gray--lighten;
$color-border--lighten     :#e5e5e5;

$border-radius             :2px;


$color-placeholder         :$gray;

$bxs-hover: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);