$icons: (0:0);
$icons: map-merge($icons,(angel--left: (X: -385px, Y:-61px, W: 8px, H: 15px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(angel--right: (X: -383px, Y:-93px, W: 8px, H: 14px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(arrow--down: (X: -321px, Y:-246px, W: 11px, H: 6px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(clip: (X: -321px, Y:-123px, W: 16px, H: 18px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-1--w: (X: -201px, Y:-120px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-1: (X: 0px, Y:-64px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-10--w: (X: -60px, Y:-64px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-10: (X: -141px, Y:0px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-2--w: (X: -45px, Y:-244px, W: 35px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-2: (X: 0px, Y:-244px, W: 35px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-3--w: (X: -60px, Y:-124px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-3: (X: -120px, Y:-124px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-4--w: (X: -201px, Y:0px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-4: (X: -201px, Y:-60px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-5--w: (X: -60px, Y:-184px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-5: (X: 0px, Y:-184px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-6--w: (X: -261px, Y:-56px, W: 50px, H: 46px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-6: (X: -261px, Y:0px, W: 50px, H: 46px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-7--w: (X: -120px, Y:-184px, W: 50px, H: 49px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-7: (X: -180px, Y:-184px, W: 50px, H: 49px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-8--w: (X: -261px, Y:-112px, W: 46px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-8: (X: -261px, Y:-172px, W: 46px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-9--w: (X: 0px, Y:-124px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-category-9: (X: -141px, Y:-60px, W: 50px, H: 50px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-check--mobile: (X: -374px, Y:-123px, W: 18px, H: 15px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(cs-check: (X: -321px, Y:-262px, W: 9px, H: 7px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(dot: (X: -367px, Y:-223px, W: 19px, H: 4px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(logout: (X: -371px, Y:-199px, W: 13px, H: 14px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__catalog: (X: -347px, Y:-123px, W: 17px, H: 16px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__company: (X: -347px, Y:-173px, W: 16px, H: 16px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__contacts: (X: -347px, Y:-199px, W: 14px, H: 14px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__delivery: (X: -321px, Y:-151px, W: 21px, H: 12px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__garanty: (X: -344px, Y:-223px, W: 13px, H: 13px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__home: (X: -377px, Y:-151px, W: 14px, H: 11px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__lk: (X: -373px, Y:-173px, W: 16px, H: 16px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__news: (X: -321px, Y:-223px, W: 13px, H: 13px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__partners: (X: -321px, Y:-199px, W: 16px, H: 14px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(mobile__pay: (X: -352px, Y:-151px, W: 15px, H: 11px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(rating--gray: (X: -321px, Y:0px, W: 74px, H: 13px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(rating: (X: -196px, Y:-244px, W: 74px, H: 13px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(rating_big--gray: (X: 0px, Y:-32px, W: 131px, H: 22px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(rating_big: (X: 0px, Y:0px, W: 131px, H: 22px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(search--mobile: (X: -353px, Y:-61px, W: 22px, H: 22px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(search: (X: -321px, Y:-61px, W: 22px, H: 22px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(sorting--list: (X: -321px, Y:-93px, W: 22px, H: 20px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(sorting--tile: (X: -353px, Y:-93px, W: 20px, H: 20px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(telephone: (X: -321px, Y:-173px, W: 16px, H: 16px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(toggle--active: (X: -143px, Y:-244px, W: 43px, H: 28px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(toggle-mobile--active: (X: -321px, Y:-23px, W: 28px, H: 28px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(toggle-mobile: (X: -359px, Y:-23px, W: 28px, H: 28px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));
$icons: map-merge($icons,(toggle: (X: -90px, Y:-244px, W: 43px, H: 28px, TW: 395px, TH: 294px, IMG: '../img/icons.png')));


// Gets an attribute from the sass map
@function icon-attr($icon, $attr){
	$icon: map-get($icons, $icon);
	@return map-get($icon, $attr);
}


@mixin sprite($iconName){
	background-image: url(icon-attr($iconName, IMG));
	width: icon-attr($iconName, W);
	height: icon-attr($iconName, H);
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}

@mixin sprite-position($iconName){
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}
@mixin sprite-retina($iconName){
	background-image: url(icon-attr($iconName, IMG));
	$width: icon-attr($iconName, W);
	$height: icon-attr($iconName, H);
	width: $width/2;
	height: $height/2;
	$x: icon-attr($iconName, X);
	$y: icon-attr($iconName, Y);
	background-position: $x/2 $y/2;
	$tw: icon-attr($iconName, TW);
	$th: icon-attr($iconName, TH);
	background-size: $tw/2 $th/2;
}



@mixin s($i){
	@include sprite($i);
}
@mixin sp($i){
	@include sprite-position($i);
}
@mixin sr($i){
	@include sprite-retina($i);
}

.ico-angel--left{
width: 8px;
height: 15px;
background-image: url('../img/icons.png');
background-position: -385px -61px;
}
.ico-angel--right{
width: 8px;
height: 14px;
background-image: url('../img/icons.png');
background-position: -383px -93px;
}
.ico-arrow--down{
width: 11px;
height: 6px;
background-image: url('../img/icons.png');
background-position: -321px -246px;
}
.ico-clip{
width: 16px;
height: 18px;
background-image: url('../img/icons.png');
background-position: -321px -123px;
}
.ico-cs-category-1--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -201px -120px;
}
.ico-cs-category-1{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: 0px -64px;
}
.ico-cs-category-10--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -60px -64px;
}
.ico-cs-category-10{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -141px 0px;
}
.ico-cs-category-2--w{
width: 35px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -45px -244px;
}
.ico-cs-category-2{
width: 35px;
height: 50px;
background-image: url('../img/icons.png');
background-position: 0px -244px;
}
.ico-cs-category-3--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -60px -124px;
}
.ico-cs-category-3{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -120px -124px;
}
.ico-cs-category-4--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -201px 0px;
}
.ico-cs-category-4{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -201px -60px;
}
.ico-cs-category-5--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -60px -184px;
}
.ico-cs-category-5{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: 0px -184px;
}
.ico-cs-category-6--w{
width: 50px;
height: 46px;
background-image: url('../img/icons.png');
background-position: -261px -56px;
}
.ico-cs-category-6{
width: 50px;
height: 46px;
background-image: url('../img/icons.png');
background-position: -261px 0px;
}
.ico-cs-category-7--w{
width: 50px;
height: 49px;
background-image: url('../img/icons.png');
background-position: -120px -184px;
}
.ico-cs-category-7{
width: 50px;
height: 49px;
background-image: url('../img/icons.png');
background-position: -180px -184px;
}
.ico-cs-category-8--w{
width: 46px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -261px -112px;
}
.ico-cs-category-8{
width: 46px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -261px -172px;
}
.ico-cs-category-9--w{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: 0px -124px;
}
.ico-cs-category-9{
width: 50px;
height: 50px;
background-image: url('../img/icons.png');
background-position: -141px -60px;
}
.ico-cs-check--mobile{
width: 18px;
height: 15px;
background-image: url('../img/icons.png');
background-position: -374px -123px;
}
.ico-cs-check{
width: 9px;
height: 7px;
background-image: url('../img/icons.png');
background-position: -321px -262px;
}
.ico-dot{
width: 19px;
height: 4px;
background-image: url('../img/icons.png');
background-position: -367px -223px;
}
.ico-logout{
width: 13px;
height: 14px;
background-image: url('../img/icons.png');
background-position: -371px -199px;
}
.ico-mobile__catalog{
width: 17px;
height: 16px;
background-image: url('../img/icons.png');
background-position: -347px -123px;
}
.ico-mobile__company{
width: 16px;
height: 16px;
background-image: url('../img/icons.png');
background-position: -347px -173px;
}
.ico-mobile__contacts{
width: 14px;
height: 14px;
background-image: url('../img/icons.png');
background-position: -347px -199px;
}
.ico-mobile__delivery{
width: 21px;
height: 12px;
background-image: url('../img/icons.png');
background-position: -321px -151px;
}
.ico-mobile__garanty{
width: 13px;
height: 13px;
background-image: url('../img/icons.png');
background-position: -344px -223px;
}
.ico-mobile__home{
width: 14px;
height: 11px;
background-image: url('../img/icons.png');
background-position: -377px -151px;
}
.ico-mobile__lk{
width: 16px;
height: 16px;
background-image: url('../img/icons.png');
background-position: -373px -173px;
}
.ico-mobile__news{
width: 13px;
height: 13px;
background-image: url('../img/icons.png');
background-position: -321px -223px;
}
.ico-mobile__partners{
width: 16px;
height: 14px;
background-image: url('../img/icons.png');
background-position: -321px -199px;
}
.ico-mobile__pay{
width: 15px;
height: 11px;
background-image: url('../img/icons.png');
background-position: -352px -151px;
}
.ico-rating--gray{
width: 74px;
height: 13px;
background-image: url('../img/icons.png');
background-position: -321px 0px;
}
.ico-rating{
width: 74px;
height: 13px;
background-image: url('../img/icons.png');
background-position: -196px -244px;
}
.ico-rating_big--gray{
width: 131px;
height: 22px;
background-image: url('../img/icons.png');
background-position: 0px -32px;
}
.ico-rating_big{
width: 131px;
height: 22px;
background-image: url('../img/icons.png');
background-position: 0px 0px;
}
.ico-search--mobile{
width: 22px;
height: 22px;
background-image: url('../img/icons.png');
background-position: -353px -61px;
}
.ico-search{
width: 22px;
height: 22px;
background-image: url('../img/icons.png');
background-position: -321px -61px;
}
.ico-sorting--list{
width: 22px;
height: 20px;
background-image: url('../img/icons.png');
background-position: -321px -93px;
}
.ico-sorting--tile{
width: 20px;
height: 20px;
background-image: url('../img/icons.png');
background-position: -353px -93px;
}
.ico-telephone{
width: 16px;
height: 16px;
background-image: url('../img/icons.png');
background-position: -321px -173px;
}
.ico-toggle--active{
width: 43px;
height: 28px;
background-image: url('../img/icons.png');
background-position: -143px -244px;
}
.ico-toggle-mobile--active{
width: 28px;
height: 28px;
background-image: url('../img/icons.png');
background-position: -321px -23px;
}
.ico-toggle-mobile{
width: 28px;
height: 28px;
background-image: url('../img/icons.png');
background-position: -359px -23px;
}
.ico-toggle{
width: 43px;
height: 28px;
background-image: url('../img/icons.png');
background-position: -90px -244px;
}
