.icon-cart {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-cart__check {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-cart__user {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clip {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-cs-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-cog {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-hamburger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-logo {
  width: 1.15em;
  height: 1em;
  fill: url(#a);
}
.icon-cs-plus--round {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-sale {
  width: 1em;
  height: 1em;
  fill: #F6E45A;
}
.icon-cs-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cs-vk {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-cs-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery--transparent {
  width: 1.68em;
  height: 1em;
  fill: initial;
}
.icon-filter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home-search__articul {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-home-search__car {
  width: 1.63em;
  height: 1em;
  fill: initial;
}
.icon-home-search__product {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-home-search__series {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-mastercard {
  width: 1em;
  height: 1em;
  fill: #ffb600;
}
.icon-pay-bank {
  width: 1.24em;
  height: 1em;
  fill: #bdbdbd;
}
.icon-pay {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-pdf {
  width: 1em;
  height: 1em;
  fill: #272727;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-social__instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-social__telegram {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-social__vk {
  width: 1.64em;
  height: 1em;
  fill: initial;
}
.icon-social__youtube {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-telephone {
  width: 1em;
  height: 1em;
  fill: #707070;
}
.icon-visa {
  width: 1em;
  height: 1em;
  fill: #2394bc;
}
