.error

	//.error__wrap
	&__wrap
		padding: 100px 0
		position: relative
		+flexCenter
		+r(768)
			flex-direction: column
		+i8-l
			padding-top: 35px
		+r(480)
			padding: 80px 0 35px

	//.error__left
	&__left, &__right
		width: 50%
		+r(768)
			width: 100%

	//.error__img
	&__img
		max-width: 450px
		margin: auto
		margin-bottom: $section-indent
		position: relative
		z-index: 10
		+r(480)
			max-width: 300px
			margin-bottom: 40px

	//.error__content
	&__content
		max-width: 860px
		margin: auto
		+r(480)
			text-align: center

	//.error__title
	&__title
		margin-bottom: 0
		font-family: $f-light
		font-weight: 300
		font-size: 200px
		text-align: center
		background: linear-gradient(#110241, #7F4794)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		+r(1024)
			// font-size: 150px
		+r(768)
			// font-size: 120px
			font-family: $f-bold
			color: #fff
			text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08)
			background: none
			-webkit-text-fill-color: initial
			position: absolute
			top: -30px
			right: 20%
		+r(480)
			+centre('x')
			right: auto
			top: -80px

	//.error__text
	&__text
		margin-bottom: 0
		text-align: left
		font-family: $f-light
		+r(768)
			text-align: center
		p
			display: block
			margin-bottom: 5px
			font-size: 16px
			line-height: 21px
			+r(480)
				margin-bottom: 15px

	&__btn
		max-width: 300px
		width: 100%
