.error
	//error__wrap
	&__wrap
		padding-top: 100px
		@extend %flexCenter
	//error__content
	&__content
		max-width: 860px
		margin: auto
		text-align: center
	//error__title
	&__title
		margin-bottom: 50px
		font-family: $f-light
		font-size: 200px
		background: -webkit-linear-gradient(#af3186, #632483)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
	//error__text
	&__text
		font-size: 24px
		line-height: 36px