//.cart
.cart
	background-color: #eee

	+r(768)
		background-color: #fff

	//.cart__tabs
	&__tabs
		.breadcrumbs
			padding: 30px 0
			&__item
				&:firs-child
					.breadcrumbs__link
						padding-left: 0
				&:last-child
					.breadcrumbs__link
						padding-right: 0
			&__link
				&:hover
					color: $gray--darken
					.icon
						fill: $gray--darken
		.cart-box
			width: 100%
			margin-top: 0

	//.cart__wrap
	&__wrap
		padding-bottom: 50px

	//.cart__title
	&__title
		margin-bottom: 40px
		font-family: $f-medium
		font-weight: 500
		font-size: 25px
		+r(480)
			text-align: center

	//.cart__inner
	&__inner
		margin-bottom: 60px
		+flex
		align-items: flex-start

		+r(1024)
			flex-wrap: wrap
			border: 0

		+r(480)
			margin-bottom: 0

	//.cart__left
	&__left
		width: calc(100% - 350px)
		margin-right: $gutter
		@extend %box
		overflow: hidden

		+r(768)
			width: 100%
			margin-bottom: $gutter
			margin-right: 0
			box-shadow: none

		.product-item
			+r(480)
				cursor: default

			&__wrap
				padding: 0 30px

				+r(1024)
					padding: 0 15px

				+r(768)
					padding: 0

				.product-item
					padding: 30px 0

					+r(480)
						padding: 17px 0 20px
						flex-direction: column

					&__img
						max-width: 125px
						+r(1024)
							margin-right: 15px
						+r(480)
							max-width: 75px
							position: absolute
							top: 0
							left: 0

						+r(320)
							max-width: 150px
							margin: 0 auto 10px
							position: static

					&__price
						+r(1024)
							font-size: 18px

					&__title
						+r(480)
							max-width: 100%
							margin: 0 0 20px 85px
							font-family: $f
							font-size: 15px
							line-height: 1.4
						+r(320)
							margin-left: 0
							text-align: center

			&__desc
				justify-content: space-between

			&__price
				margin-left: 0 !important

			&__counter
				+r(480)
					margin: 0 auto
					.counter__field
						min-height: 35px

			&__dell
				outline: none
				+r(480)
					display: block
					padding: 0
					fill: $color-text
					position: static

				.icon
					margin: auto
					fill: $gray--light

	//.cart__right
	&__right
		width: 350px
		margin-left: auto

		+r(1024)
			width: 320px

		+r(768)
			width: 100%
			border: 0
			display: flex
			justify-content: center
			align-items: center

		.list
			margin-bottom: 30px

		.button-box
			.btn-accent
				width: 100%

			.input-group
				margin-bottom: 20px

	//.cart__bottom
	&__bottom

	//.cart__items
	&__items
		+flexColumn

	//.cart__sum
	&__sum
		width: 100%
		@extend %box
		overflow: hidden
		padding: 30px
		+r(1024)
			width: 100%
			text-align: center
			.button-box
				max-width: 480px
				margin: auto
				display: flex
				align-items: center

		+r(768)
			font-size: 14px
			box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15)
			border-radius: 0
			display: flex
			align-items: flex-end
			position: fixed
			bottom: 0
			left: 0
			right: 0
			width: auto
			z-index: z(fixed)
			+tr
			+trfY(150%)

			&.is-visible
				+trfY(0)

			.list
				margin: 0 15px 0 0
				flex-shrink: 0
				flex-basis: calc(50% - 15px)

				&__item
					& + .list__item
						margin-top: 5px

			.button-box
				margin: 0 0 0 15px
				flex-basis: calc(50% - 15px)

			.input-group
				&__info
					font-size: 12px

		+r(480)
			padding: 15px
			flex-direction: column

			.list
				width: 100%
				flex-basis: 100%
				margin-right: 0
				margin-bottom: 15px

				&__item
					& + .list__item
						margin-top: 10px

			.button-box
				width: 100%
				flex-basis: 100%
				margin-left: 0

			.input-group
				width: 100%
				&__btn
					padding: 11px 20px

				&__info
					+r(375)
						white-space: normal

		&-title
			display: block
			margin-bottom: 10px
			font-family: $f-bold
			font-size: 25px
			color: #000
			+r(1024)
				margin-bottom: $gutter
			.fa
				font-size: 22px

		.button
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
			+r(1024)
				margin-bottom: 0
				margin-right: 15px
				&:last-child
					margin-right: 0
			+r(480)
				margin-right: 0
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0

	//.cartbutton-box
	&__button-box
		text-align: right
		+r(480)
			text-align: center

	//.cart__textarea
	&__textarea
		width: 100%
		max-height: 200px
		min-height: 150px
		margin-bottom: $gutter
		padding: 10px 15px
		+bd
		resize: none
		+cs-scroll

	&__offset-top
		margin-top: 63px
		+r(768)
			margin-top: 0

		textarea
			min-height: 232px
			+r(480)
				min-height: 180px

	.button
		+r(480)
			width: 100%
		&:first-child
			margin-right: 15px
			+r(480)
				margin-bottom: 15px
				margin-right: 0

	//.cart .info-text
	.info-text
		margin-bottom: 60px
		font-size: 16px
		color: $color-text--light

		+r(480)
			margin-bottom: 30px
		span
			font-family: $f-light

	.product-item
		border: 0
		border-bottom: 1px solid $color-border--lighten
		border-radius: 0

		&:last-child
			border-bottom: 0

		+r(480)
			&__desc
				display: flex
				align-items: center
				flex-wrap: wrap
			&__title
				width: 100%
			&__price, &__counter
				margin-bottom: 0
			&__counter
				margin-left: auto
		&--wide
			padding: 20px 50px 20px 20px
			+r(768)
				padding: 20px
//.cart end

//.cart-box
.cart-box
	margin: 40px 0 60px
	padding: 40px 50px
	@extend %box

	+r(768)
		box-shadow: none
		padding: 0

	+r(480)
		margin: 20px 0 30px

	&__inner
		max-width: 768px

	//.cart-box__title
	&__title
		font-family: $f-light
		font-weight: 300
		font-size: 30px
		color: $color-text
		+nosel
		flex-shrink: 0

		+r(1024)
			font-size: 24px

		+r(768)
			font-size: 18px
			font-family: $f

	//.cart-box__subtitle
	&__subtitle
		margin-bottom: 30px
		font-family: $f-light
		font-size: 14px
		strong
			font-family: $f-medium
			font-weight: 500

	//.cart-box__header
	&__header
		margin-bottom: 60px
		+flexCenter

		+r(1024)
			margin-bottom: 30px

		+r(480)
			margin-bottom: 20px

	//.cart-box__content
	&__content
		margin-bottom: 60px

		+r(1024)
			margin-bottom: 30px

		+r(480)
			margin-bottom: 10px

		.button-box
			+r(768)
				margin-bottom: 30px
			+r(480)
				flex-direction: column
				.btn
					width: 100%
					margin-top: 15px
					padding: 25px 50px
					& + .btn
						margin-left: 0

	//.cart-box__bottom
	&__bottom
		background-color: #fff

		&--column
			+r(480)
				.button-box
					flex-direction: column
					.btn
						width: 100%
						margin: 10px 0 0

		.info-text
			+r(480)
				margin-bottom: 20px
				text-align: center

	//.cart-box__btn
	&__btn
		min-width: 200px

		+r(480)
			min-width: 150px
			margin: 0
			padding: 13px 35px
			flex-basis: calc(50% - 15px)

		& + .cart-box__btn
			margin-left: 0

	//.cart-box__text
	&__text
		margin-bottom: 0
		font-family: $f-light
		font-size: 14px
		line-height: 1.4
		color: $color-text--light

		+r(480)
			margin-bottom: 20px

		&--offset
			padding: 0 30px
			p
				margin-bottom: 5px
				line-height: 1.4
			+r(768)
				padding-left: 0
				padding-right: 0
				margin-top: 30px

				p
					margin-bottom: 10px

	.button-box--end
		+r(480)
			justify-content: center
			flex-wrap: wrap

			p
				font-family: $f-light
				font-size: 12px
				text-align: left
//.cart-box end

//.chose-profile
.chose-profile
	//.chose-profile__inner
	&__inner
		display: flex
		+r(480)
			flex-direction: column

		.chose-profile__item
			max-width: 300px
			width: 100%

			+r(480)
				max-width: 100%
				margin: 0 auto 20px

				&:last-child
					margin-bottom: 0

			& + .chose-profile__item
				margin-left: 20px
				+r(480)
					margin-left: auto

	//.chose-profile__item
	&__item
		padding: 20px
		font-family: $f-medium
		cursor: pointer
		@extend %box

		&:hover
			background-color: $color-accent
			.chose-profile
				&__title, &__text
					color: #fff
				&__icon
					fill: #fff

		//.chose-profile__item--add
		&--add
			color: $color-text
			border: 0
			transition: transform .35s ease
			+flexCenter
			justify-content: center
			&:hover
				background-color: $color-accent
				color: #fff
				+trfY(-5px)

	//.chose-profile__title
	&__title
		margin-bottom: 10px

	//.chose-profile__text
	&__text
		font-family: $f-light
		font-size: 13px
		line-height: 1.4
		color: $color-text--light

	//.chose-profile__icon
	&__icon
		width: 32px
		height: 32px
		margin-right: 15px
//.chose-profile end

.cart-tab
	&__list
		margin: $gutter 0
		+flexCenter
		justify-content: spase-between
		+r(480)
			justify-content: center

	&__item
		margin: auto
		outline: none
		&.ui-state-active, &.ui-state-hover
			.cart-tab__link
				color: #000
			.icon
				fill: #000
		&:last-child
			.cart-tab__link
				&::before
					display: none
		&::after
			display: none
		+i8-l
			.cart-tab__link
				font-size: 16px
		+r(480)
			.cart-tab
				&__text
					display: none
				&__link
					font-size: 16px
					padding-right: 2px

	&__link
		padding: 0 35px 0 45px
		color: $color-text
		font-size: 18px
		line-height: 1
		position: relative
		outline: none
		+r(768)
			padding: 0 22px 0 30px
			font-size: 15px
		&::before
			content: '\f105'
			+fa('light')
			font-size: 18px
			+vy
			right: 0
			+r(768)
				display: none
		.icon
			fill: $gray--light
			+vy
			left: 0
			&-cart
				width: 21px
			&-user
				width: 20px
			&-delivery--transparent
				width: 27px
			&-pay
				width: 23px
			&-check
				width: 18px
//.cart-tab

.cart-success

	//cart-success__wrap
	&__wrap
		padding: 20px 0 50px
		text-align: center
		+r(480)
			padding-top: 20px

	//cart-success__title
	&__title
		@extend .cart__title
		display: inline-block
		position: relative
		&::before
			display: block
			content: ''
			width: 17px
			height: 30px
			border: solid $color-accent
			border-width: 0 5px 5px 0
			position: absolute
			left: -35px
			top: -8px
			transform: rotate(45deg)
			+r(480)
				left: 10px

	//cart-success__subtitle
	&__subtitle, &__text
		display: block
		margin-bottom: 40px
		color: #000

	&__subtitle
		font-family: $f-bold
		font-size: 18px
		&.mb-10
			margin-bottom: 10px
		span
			font-size: 28px
//.cart-success

.delivery-item
	width: 100%
	margin-right: 25px
	margin-bottom: 20px
	padding: 20px
	text-align: center
	@extend %box
	overflow: hidden
	position: relative
	+tr
	display: flex
	flex-direction: column
	align-items: center

	&:hover
		+trfY(-5px)

	&::after
		display: block
		content: ''
		width: 100%
		height: 6px
		background-color: $color-accent
		position: absolute
		bottom: 0
		left: 0
		+trfY(150%)
		+tr

	+r(480)
		margin-bottom: 10px
		margin-right: 0
		&:hover
			+trfY(0)

	&.is-checked
		&::after
			display: block
			+trfY(0)

	//.delivery-item__checkbox
	&__wrap
		+row-flex
		.delivery-item
			min-height: 200px
			+col
			+size(2)
			+size-md(3)
			+size-xs(6)

	&__img
		width: 120px
		margin: 25px auto

	//.delivery-item__title
	&__title
		display: block
		margin-bottom: 5px
		font-family: $f-medium
		font-size: 16px
		color: #000

	//.delivery-item__info
	&__info
		cursor: help
		position: absolute
		top: 10px
		right: 10px
		z-index: 10
		i
			font-size: 18px
			&:hover
				color: $color-accent

	//.delivery-item__desc
	&__desc
		font-size: 14px
		color: #000

	&--pickup
		.delivery-item
			&__img
				width: fit-content
//.delivery-item

.tooltipster-content
	padding: 15px 20px
	font-family: $f-light
	font-size: 14px
	color: $color-text--light
	line-height: 1.4
	.tooltipster-arrow
		display: none !important

//.cart-info
.cart-info
	max-width: 300px
	max-height: 400px
	overflow-y: hidden
	position: relative
	display: flex
	flex-direction: column

	//.cart-info__inner
	&__inner
		max-height: 265px
		margin: 10px 5px 10px 0
		overflow-y: auto

	//.cart-info__item
	&__item
		padding: 10px 25px 10px
		+flex
		align-items: center
		justify-content: center

		&:hover
			background-color: $color-bg--light

	//.cart-info__img
	&__img
		width: 60px
		margin-right: 20px
		flex-shrink: 0

	//.cart-info__text
	&__text

	//.cart-info__title
	&__title
		font-family: $f-light
		font-size: 13px

	//.cart-info__price
	&__price
		font-family: $f-bold
		font-size: 14px
		color: $color-text

	//.cart-info__footer
	&__footer
		padding: 15px
		background-color: $color-bg--lighten
		border-top: 1px solid #c4c4c4
		border-radius: 0 0 $border-radius $border-radius
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex-shrink: 0

		//.cart-info__footer .btn
		.btn
			width: 90%

	//.cart-info__sum
	&__sum
		margin-bottom: 10px
		font-size: 16px
		span
			font-family: $f-bold

	//.cart-info__btn
	&__btn
		// padding: 5px 25px
		// font-size: 14px
//.cart-info end

//.block-validate
.block-validate
	position: relative

	&.is-invalid
		+r(480)
			margin-bottom: 30px

		.block-validate__message
			display: block

	&__message
		display: none
		font-family: $f-light
		font-size: 14px
		line-height: 1.2
		color: $color-text--light
		+centre('y')
		left: 100%
		white-space: nowrap

		+r(768)
			width: 100%
			max-width: 235px
			top: 55%
			white-space: normal

		+r(480)
			max-width: 385px
			line-height: 1.3
			left: 10px
			top: auto
			bottom: -17px
			transform: translate(0)

		a
			font-family: $f
			color: $color-link

	&--password
		.block-validate
			&__message
				+r(480)
					bottom: 0

.js-fix-block
	+tr

	&.is-fixed
		position: fixed
		bottom: 0
		left: 0
		z-index: 10
		width: 100%
		padding: 20px 10px
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13)
