.card
	
	//card__top-line
	&__top-line
		@extend %flexCenter
		+r(480)
			flex-wrap: wrap
			margin-bottom: 0
		.back-to-search
			margin-left: auto
			+r(480)
				display: none

	//card__content
	&__content
		margin-bottom: $gutter*2
		@extend %flex
		+r(768)
			margin-bottom: 20px
			flex-direction: column
		&--center
			align-items: center
			+r(1024)
				flex-direction: column
				.card__left
					order: 2
				.card__right
					order: 1
					width: 100%

	//card__img
	&__img
		width: calc(50% - 15px)
		margin-right: 30px
		border: 1px solid $color-border--light
		border-bottom-color: transparent
		@extend %flex
		+r(768)
			width: 100%
			margin-right: 0
			margin-bottom: 30px
		+r(375)
			margin-bottom: 20px
		&--no-border
			border: 0

	//card__info
	&__info
		margin-bottom: 20px
		+r(768)
			margin-bottom: 0
		.price__stock
			display: block
			margin-bottom: 20px
		.cs-accordeon
			&__title
				display: inline-block
				margin-bottom: 20px
				border-bottom: 1px dashed $color-border--light
				cursor: pointer
				+rmin(769)
					display: none
			&__content
				+r(768)
					display: none

	//card__product-info
	&__product-info
		display: inline-block
		margin-left: auto
		font-size: 14px

	//card__desc
	&__desc
		width: calc(50% - 15px)
		+r(768)
			width: 100%
		.button-box
			margin-bottom: 30px
			@extend %flexCenter
			+r(480)
				flex-direction: column
		.button-link
			color: $color-text
			border-color: $color-text
		.price__stock
			display: block
			+r(768)
				margin-bottom: $gutter

	//card__left
	&__left
		margin-right: 30px
		flex: 1
		+r(768)
			margin-right: 0
		.product-item
			+r(768)
				.price__cost
					font-size: 20px
			&__wrap
				margin-bottom: 0
				+r(1024)
					flex-wrap: nowrap
				+r(480)
					flex-wrap: wrap
	
	//card__right
	&__right
		width: 30%

	//card__title
	&__title
		margin-bottom: 15px
		font-family: $f
		font-size: 24px
		line-height: 1.4
		color: #000
		+r(768)
			margin-bottom: $gutter/2
			font-size: 18px
		span
			text-transform: uppercase

	//card__sum
	&__sum
		margin-bottom: 20px
		@extend %flexCenter
		+r(768)
			margin-bottom: $gutter/2

	//card__price
	&__price
		.price
			&__cost
				font-family: $f-bold
				font-size: 36px
				color: #000

	//card__counter
	&__counter
		margin-left: auto

	//card__btn
	&__btn
		width: 50%
		&:first-child
			margin-right: 15px
		+r(480)
			width: 100%
			&:first-child
				margin-right: 0
				margin-bottom: 10px

	//.card__info-block
	&__info-block
		+r(1024)
			margin-top: 30px
		.info-block
			&__items
				margin-top: 60px
				flex-direction: column
				+r(1024)
					margin-top: 0
					flex-direction: row
			&__item
				margin-bottom: 10px
				+r(480)
					margin-bottom: 15px
				&:last-child
					margin-bottom: 0
					+r(480)
						margin-bottom: 15px
				+size(12)
				// +size-md(4)
				+size-sm(6)
				+size-xs(12)
				+r(768)
					margin-bottom: 40px
					justify-content: center
				+r(480)
					justify-content: flex-start
					margin-left: 35px

	//.card__recomended
	&__recomended
		margin-bottom: $gutter*2
		.product-item
			width: 25%

	&__card-info
		+r(768)
			margin: 0 -11px $gutter*2
	
	//cart__slider
	&__slider
		height: 100%
		margin: auto
		.cs-slider
			&__slides
				padding-top: 17%
				+r(768)
					padding-top: 0
		.slick-dots
			bottom: -115px
			left: 0
			@extend %flex
			+r(1024)
				bottom: -126px
			+r(768)
				bottom: 2px
			li
				width: 100%
				button
					padding: 0
					width: 100%
					height: 3px
					&::before, &::after
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 3px
					&::after
						content: ''
						display: block
						width: 0
						background-color: #686868
						z-index: 10
				&.slick-active
					button
						&::before
							background-color: #b1aeae
						&::after
							width: 100%
							transition: width 2s linear

	.product-item
		+r(1024)
			width: 33.33%
			&:last-child
				display: none
		+r(768)
			width: 50%
			&:last-child
				display: block
		+r(480)
			width: 100%
//card

.card-info
	margin-bottom: $gutter*2

	&__link
		padding: 0
		color: #000
		border-bottom: 1px dashed #000
		+r(768)
			margin: 0 auto 15px

	&__empty
		@extend %flexCenter
		+r(768)
			flex-wrap: wrap
			text-align: center
		p
			margin-bottom: 0
			flex: 1
			+r(768)
				width: 100%
				margin-bottom: 30px
				flex: auto

	.tab
		&__wrap
			width: 100%
			margin: 0
			border: 1px solid $gray--lighten
			border-radius: $border-radius
			+r(768)
				border: 0
		&__title
			width: 100%
			height: 45px
			line-height: 45px
			text-align: center
			justify-content: center
			color: #000
			font-size: 14px
			cursor: pointer
			background-color: transparent
			border-bottom: 2px solid transparent
			+r(768)
				border-bottom: 0
				height: auto
			&:hover
				color: #000
			&.is-active
				color: #000
				border-bottom: 2px solid $color-accent
				+r(768)
					border-bottom: 0
		&__content
			min-width: 100%
			min-height: 100px
			padding: 30px 190px 30px 60px
			color: #000
			font-size: 14px
			+r(768)
				min-height: auto
				padding: 30px

		&--transform
			+r(768)
				.cs-accordeon__item
					margin-bottom: 0
					border-top: 1px solid $gray--lighten
					&:last-child
						border-bottom: 1px solid $gray--lighten
					&.is-open
						.cs-accordeon__title
							background-color: $gray--lighten
//.card-info

.sertificate
	&__items
		@extend %flexCenter
		+r(768)
			text-align: center
			justify-content: center
			align-items: center
			flex-wrap: wrap

	&__item
		max-height: 305px
		width: 20%
		margin-left: 20px
		&:first-child
			flex: 1
			margin-left: 0
			+r(768)
				width: 100%
				margin-bottom: 20px
				text-align: center
				flex: auto

	&__download
		@extend %flexCenter
		+r(768)
			justify-content: center
		.icon
			width: 38px
			height: 38px
			margin-right: 20px
		a
			color: #000
			font-size: 14px
			&:hover
				span
					border-bottom-color: transparent
		span
			display: block
			border-bottom: 1px dashed #000
//.sertificate

.reviers

	//.reviers__items
	&__items
		+r(480)
			display: flex
			flex-direction: column
		.reviers__btn
			margin-left: 183px
			+r(480)
				margin: 0 auto 15px

	//.reviers__item
	&__item
		margin-bottom: $gutter

	//.reviers__inner
	&__inner
		@extend %flex
		+r(480)
			flex-direction: column

	//.reviers__user
	&__user
		width: 153px
		margin-right: 30px
		+r(480)
			margin-bottom: 5px
			width: 100%
			display: flex
			justify-content: space-bettwen
			flex-wrap: wrap
			strong, span
				margin: auto
		strong
			display: block
			margin-bottom: 5px
			+r(480)
				margin-left: 0
		span
			display: block
			margin-bottom: 3px
			color: $color-text

	//.reviers__text
	&__text
		width: calc(100% - 153px - 30px)
		+r(480)
			width: 100%

	//.reviers__rating
	&__rating
		margin-top: 5px
		margin-bottom: 15px
		.star-rating__ico
			margin-right: 3px

	//.reviers__desc
	&__desc
		display: block
		margin-bottom: 10px

	//.reviers__list
	&__list
		@extend %flexCenter
		li
			width: 60px
			height: 60px
			border: 1px solid $color-border--lightest
			border-radius: $border-radius
			@extend %flexCenter
			& + li
				margin-left: 15px

	//.reviers__btn
	&__btn
		+r(768)
			margin: auto
	//.reviers__empty
	&__empty
		@extend %flexCenter
		+r(768)
			flex-wrap: wrap
			text-align: center
		p
			margin-bottom: 0
			flex: 1
			+r(768)
				width: 100%
				margin-bottom: 30px
				flex: auto

//.reviers