.cart
	background-color: #eee

	//cart__wrap
	&__wrap
		padding-bottom: 50px

	//cart__title
	&__title
		margin-bottom: 40px
		font-family: $f-medium
		font-weight: 500
		font-size: 25px
		+r(480)
			text-align: center

	//cart__inner
	&__inner
		margin-bottom: 60px
		+flex
		align-items: flex-start

		+r(1024)
			flex-wrap: wrap
			border: 0

	//cart__left
	&__left
		width: calc(100% - 350px)
		margin-right: $gutter
		@extend %box
		overflow: hidden

		+r(1024)
			width: 100%
			margin-bottom: $gutter

		.product-item
			padding: 30px 0 !important
			&__wrap
				padding: 0 30px;
			&__desc
				justify-content: space-between
			&__price
				margin-left: 0 !important

	//cart__right
	&__right
		width: 350px
		margin-left: auto

		+r(1024)
			width: 100%
			border: 0
			display: flex
			justify-content: center
			align-items: center

		.list
			margin-bottom: 30px

		.button-box
			.btn-accent
				width: 100%

			.input-group
				margin-bottom: 20px


	//cart__items
	&__items
		+flexColumn

	//cart__sum
	&__sum
		width: 100%
		@extend %box
		overflow: hidden
		padding: 40px 30px
		+r(1024)
			width: 100%
			text-align: center
			.button-box
				max-width: 480px
				margin: auto
				display: flex
				align-items: center
		+r(480)
			padding: 5px 0 11px
			.button-box
				max-width: 100%
				flex-direction: column
		&-title
			display: block
			margin-bottom: 10px
			font-family: $f-bold
			font-size: 25px
			color: #000
			+r(1024)
				margin-bottom: $gutter
			.fa
				font-size: 22px
		.button
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
			+r(1024)
				margin-bottom: 0
				margin-right: 15px
				&:last-child
					margin-right: 0
			+r(480)
				margin-right: 0
				margin-bottom: 10px
				&:last-child
					margin-bottom: 0

	//cartbutton-box
	&__button-box
		text-align: right
		+r(480)
			text-align: center

	//cart__textarea
	&__textarea
		width: 100%
		max-height: 200px
		min-height: 150px
		margin-bottom: $gutter
		padding: 10px 15px
		+bd
		resize: none
		+cs-scroll

	.button
		+r(480)
			width: 100%
		&:first-child
			margin-right: 15px
			+r(480)
				margin-bottom: 15px
				margin-right: 0

	.product-item
		border: 0
		border-bottom: 1px solid $color-border--lighten
		border-radius: 0

		&:last-child
			border-bottom: 0

		+r(480)
			&__desc
				display: flex
				align-items: center
				flex-wrap: wrap
			&__title
				width: 100%
			&__price, &__counter
				margin-bottom: 0
			&__counter
				margin-left: auto
		&--wide
			padding: 20px 50px 20px 20px
			+r(768)
				padding: 20px

	.row
		margin-bottom: 25px
//cart

.cart-tab
	&__list
		margin: $gutter 0
		+flexCenter
		justify-content: spase-between
		+r(480)
			justify-content: center

	&__item
		margin: auto
		outline: none
		&.ui-state-active, &.ui-state-hover
			.cart-tab__link
				color: #000
			.icon
				fill: #000
		&:last-child
			.cart-tab__link
				&::before
					display: none
		&::after
			display: none
		+i8-l
			.cart-tab__link
				font-size: 16px
		+r(480)
			.cart-tab
				&__text
					display: none
				&__link
					font-size: 16px
					padding-right: 2px

	&__link
		padding: 0 35px 0 45px
		color: $color-text
		font-size: 18px
		line-height: 1
		position: relative
		outline: none
		+r(768)
			padding: 0 22px 0 30px
			font-size: 15px
		&::before
			content: '\f105'
			font-family: fontawesome
			font-size: 18px
			+vy
			right: 0
			+r(768)
				display: none
		.icon
			fill: $gray--light
			+vy
			left: 0
			&-cart
				width: 21px
			&-user
				width: 20px
			&-delivery--transparent
				width: 27px
			&-pay
				width: 23px
			&-check
				width: 18px
//.cart-tab

.cart-success

	//cart-success__wrap
	&__wrap
		padding: 20px 0 50px
		text-align: center
		+r(480)
			padding-top: 20px

	//cart-success__title
	&__title
		@extend .cart__title
		display: inline-block
		position: relative
		&::before
			display: block
			content: ''
			width: 17px
			height: 30px
			border: solid $color-accent
			border-width: 0 5px 5px 0
			position: absolute
			left: -35px
			top: -8px
			transform: rotate(45deg)
			+r(480)
				left: 10px

	//cart-success__subtitle
	&__subtitle, &__text
		display: block
		margin-bottom: 40px
		color: #000

	&__subtitle
		font-family: $f-bold
		font-size: 18px
		&.mb-10
			margin-bottom: 10px
		span
			font-size: 28px
//cart-success

.delivery-item
	margin-bottom: 25px
	display: flex
	+r(480)
		margin-bottom: $gutter*2
		text-align: center
		align-items: center
		flex-direction: column

	//delivery-item__checkbox
	&__checkbox
		width: 200px
		height: 135px
		margin-right: 25px
		padding: 20px
		text-align: center
		+bd
		background-color: #fff
		position: relative
		display: flex
		flex-direction: column
		+r(480)
			margin-bottom: 10px
			margin-right: 0

	&__img
		width: 120px
		margin: auto

	//delivery-item__text
	&__text
		flex: 1

	//delivery-item__title
	&__title
		display: block
		margin-bottom: 5px
		font-family: $f-medium
		font-size: 18px
		color: #000

	//delivery-item__desc
	&__desc
		font-size: 14px
		color: #000

	.cs-checkbox
		&__box
			border-color: $color-border--lighten
			position: absolute
			top: 10px
			left: 10px
		&__title
			margin: 0 auto
		.icon
			width: 50px
			height: 50px
			margin: auto
			fill: $gray--light
//delivery-item

//.cart-info
.cart-info
	max-width: 300px
	max-height: 400px
	overflow-y: hidden
	position: relative
	display: flex
	flex-direction: column

	//.cart-info__inner
	&__inner
		max-height: 400px
		margin: 10px 5px 10px 0
		overflow-y: auto

	//.cart-info__item
	&__item
		padding: 10px 25px 10px
		+flex
		align-items: center
		justify-content: center

		&:hover
			background-color: $color-bg--light

	//.cart-info__img
	&__img
		width: 60px
		margin-right: 20px
		flex-shrink: 0
	//.cart-info__text
	&__text

	//.cart-info__title
	&__title
		font-family: $f-light
		font-size: 13px

	//.cart-info__price
	&__price
		font-family: $f-bold
		font-size: 14px
		color: $color-text

	//.cart-info__footer
	&__footer
		padding: 15px
		background-color: $color-bg--lighten
		border-top: 1px solid #c4c4c4
		border-radius: 0 0 $border-radius $border-radius
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		flex-shrink: 0

	//.cart-info__sum
	&__sum
		margin-bottom: 10px
		font-size: 14px
		span
			font-family: $f-bold

	//.cart-info__btn
	&__btn
		// padding: 5px 25px
		// font-size: 14px
//.cart-info end
