//.catalog
.catalog
	padding-bottom: 100px
	background-color: #f7f8fa
	+r-max(sm)
		padding-bottom: 60px

	//.catalog__topline
	&__topline
		margin-bottom: 30px
		+flexCenter
		justify-content: space-between

		+r(768)
			flex-direction: column
			align-items: flex-start

		.page-title
			margin-bottom: 0
			+r(480)
				margin-top: 30px
				font-family: $f-medium
				font-weight: 500
				font-size: 20px

	//.catalog__title
	&__title
		+r(1024)
			margin: 0
		+i8-l
			margin: 0
		+r(480)
			margin-bottom: $gutter

	//.catalog__sorting
	&__sorting
		width: auto
		margin-left: auto
		display: flex
		align-items: center

		+r(768)
			width: 100%
			margin: 15px 0 0
			+flexCenter

			.sorting__list
				margin-left: auto

	//.catalog__content
	&__content
		+flex
		align-items: end;

	//.catalog__filter
	&__filter
		width: 270px
		margin-right: 30px
		+r(480)
			margin-right: 0

	//.catalog__products
	&__products
		width: calc(100% - 270px - 30px)
		margin-left: auto
		margin-bottom: 32px
		position: relative
		+r(768)
			width: 100%
			margin-bottom: 0
		+r(480)
			margin-bottom: $gutter

	//.catalog__pagination
	&__pagination
		margin-left: 300px
		margin-top: 80px
		+r(768)
			margin-left: 0

	//.catalog__info-view
	&__info-view
		margin-top: 50px
		margin-left: 290px
		+flexColumn
		align-items: center
		justify-content: center
		+r-max(sm)
			margin-left: 0
			margin-top: 0

		+r-max(sm)
			margin-top: 20px

		+r-max(xs)
			margin-top: 0

		span
			margin-bottom: 15px
			font-family: $f-light
			font-size: 14px
			color: $color-text--light

	.product-item
		$o: 10px
		&__wrap
			.product-item
				+size(4)

			&.layout-two-column
				.product-item
					+size(6)

					+r(480)
						width: 100%
						margin: 0 auto 20px

						&__img
							max-width: 210px

						&__title
							font-size: 15px

						&__btn
							width: 60px
							height: 60px

							.icon
								width: 24px
								height: 24px

			+r(768)
				+u-row-flex($o)

				.product-item
					margin-bottom: 10px
					+u-col($o)
					+u-size(4, 12, $o)

				&.layout-two-column
					.product-item
						+u-size(6, 12, $o)

			+r(480)
				.product-item
					padding: 0 15px 15px
					+u-size(6, 12, $o)

					&__img
						max-width: 130px

					&__title
						font-size: 12px

					&__btn
						width: 50px
						height: 50px

						.icon
							width: 22px
							height: 22px


				// +r(480)
				// 	width: calc(50% - 20px)
				// 	margin-bottom: 10px

					// &:nth-child(odd)
					// 	margin-right: 5px

					// &:nth-child(even)
					// 	margin-left: 5px
					// 	margin-right: 10px

		&__title
			+r(480)
				margin-bottom: 15px
//.catalog end

//.filter
.filter

	+r(768)
		width: 301px
		position: fixed
		left: 0
		top: 0
		bottom: 0
		z-index: 301
		transform: translateX(-200%)
		will-change: transform
		transition: all .3s cubic-bezier(.25,.8,.4,.95)
		&.is-open
			transform: translateX(0)

	+r(480)
		width: 100%

	&.has-apply
		.filter
			&__body
				padding-bottom: 60px

	//.filter__inner
	&__inner
		position: relative
		z-index: 1
		+r(768)
			border: 0
			height: 100%
			background-color: #fff

	//.filter__header
	&__header
		height: 60px
		line-height: 60px
		margin-bottom: 25px
		padding-right: 5px
		background-color: #fff
		//. border-right: 1px solid $color-border--light
		// border-bottom: 1px solid $color-border--light
		position: fixed
		top: 0
		left: 0
		width: 300px
		+flexCenter

		+r-max(xs)
			width: 100%

		+rmin(769)
			display: none

		.filter__title
			margin: 0
			padding: 0
			font-family: $f
			border-bottom: 0
			+flexCenter

	//.filter__body
	&__body
		+tr
		+r(768)
			position: absolute
			top: 60px
			left: 0
			right: 0
			bottom: 0
			overflow-y: auto
			+cs-scroll
			+smooth-scroll

	//.filter__footer
	&__footer

	//.filter__item
	&__item
		margin-bottom: 10px
		@extend %box
		+r(768)
			margin-bottom: 0
			border: 0
			box-shadow: none

		&_type
			padding: 0

		&_price
			.filter__content
				margin: 20px 0

		&_car

		.btn-link
			font-family: $f-light
			font-size: 13px
			color: $gray--light
			border-color: $gray--light

	//.filter__content
	&__content
		padding: 0 20px 20px
		position: relative

		+r-max(sm)
			padding: 0 35px 15px

		+r-max(xs)
			padding: 0 40px 15px

	//.filter__icon
	&__icon
		&--filter
			width: 16px
			height: 16px
			margin-right: 8px

		&--close
			width: 40px
			height: 40px
			margin-right: -1px
			margin-left: auto
			padding: 10px
			cursor: pointer
			fill: #8c8c8c

	//.filter__title
	&__title
		display: block
		padding: 15px 20px
		font-family: $f
		font-size: 16px
		color: $color-text

		+r-max(sm)
			padding: 15px 35px 15px

		+r-max(xs)
			padding: 15px 40px

		//.filter__title .cs-accordeon__icon
		.cs-accordeon__icon
			right: 20px

	//.filter__checkbox
	&__checkbox
		display: block
		margin-bottom: 15px

		+r(768)
			margin-bottom: 15px

		+r-max(xs)
			margin-bottom: 10px

		&.is-checked
			.cs-checkbox
				&__title
					color: $color-accent
				&__box
					border: 1px solid #c7c7c7
					&::before
						color: $color-accent

			input:checked+.cs-checkbox__box
				border: 1px solid #c7c7c7

		.cs-checkbox__title
			display: block
			width: 100%
			+text-overflow

		&:last-child
			margin-bottom: 0

	//.filter__btn
	&__btn
		display: block
		margin: auto
		width: 100%
		padding: 8px 20px
		text-align: left
		color: #000
		font-size: 14px
		background-color: transparent
		box-shadow: 0
		border: 0
		outline: none
		cursor: pointer
		&:hover, &.is-checked
			color: #000
			background-color: $gray--lighten

		&--reset
			width: 100%
			+r(768)
				box-shadow: none
				&:hover
					box-shadow: none

	//.filter__btn
	&__btn-link
		padding: 0
		border-left: none
		border-right: none
		border-top: none
		background-color: transparent
		outline: none
		+tr

		&:hover
			color: $color-text
			border-color: $color-text
//.filter end

//.range
.range
	max-width: 94%
	margin: auto auto auto 5px

	//.range__diapazon
	&__diapazon
		+flexCenter
		margin-bottom: 25px

		+r(480)
			max-width: 260px
			margin: 0 auto 25px

	//.range__from
	&__from, &__to

		position: relative
		&::after
			content: '\f158'
			font-size: 13px
			color: $color-text--light
			+fa
			+centre('y')
			right: 10px

		input
			width: 100px
			height: 35px
			padding-right: 20px
			line-height: 35px
			text-align: center
			font-family: $f-medium
			color: $color-text--light
			font-size: 14px
			border: 1px solid #8C8C8C
			border-radius: $border-radius
			&:focus
				color: $color-text
				border-color: $color-accent
		.fa
			+vy
			right: 5px

	//.range__to
	&__to
		margin-left: auto
		&::before
			content: ''
			display: block
			height: 2px
			width: 18px
			background-color: $gray
			+vy
			left: -23px

			+r(768)
				left: -25px

	//.range__slider
	&__slider
//.range end

//.sorting
.sorting
	+flexCenter

	//.sorting__title
	&__title
		margin-right: 5px
		color: #000
		font-size: 14px

	//.sorting__list
	&__list
		+flexCenter
		+r(480)
			margin-left: auto

	//.sorting__btn
	&__btn
		background-color: transparent
		border: 1px solid transparent
		cursor: pointer
		outline: none
		+flex
		+r(480)
			padding: 0

		&::before
			content: ''
			display: inline-block
			+s(toggle)

		&.is-active
			&::before
				content: ''
				display: inline-block
				+s(toggle--active)

		&--list
			+r(480)
				width: 30px
				margin-right: 8px

		//.sorting__btn--tile
		&--tile
			width: 44px
			&::before
				+s(toggle-mobile)
				transform: rotate(90deg)

			+r(768)
				width: 30px
				padding: 0

			+r(480)
				width: 100%
				&::before
					+s(toggle-mobile)
					transform: rotate(0)
				&.is-active
					&::before
						+s(toggle-mobile--active)

	&__count
		// margin-right: 15px
		+flexCenter

		input
			display: none !important

		.selectize-input
			font-size: 14px
			border: 0
			& > *
				cursor: pointer

		.selectize-control.single .selectize-input
			padding: 8px 30px 8px 0
			background-color: transparent
			cursor: pointer

		.selectize-dropdown.single
			border: 0
			box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25)
			border-radius: $border-radius
			width: 100% !important
			min-width: 180px
			left: auto !important
			right: 0

		.selectize-dropdown .option
			padding: 5px 25px 5px 15px
			font-size: 14px
			position: relative

			&:first-child
				padding-top: 15px

			&:last-child
				padding-bottom: 15px

		.selectize-dropdown-content .option.selected
			&::after
				content: '✔'
				+centre('y')
				right: 7px
				color: $color-text


		.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, input, select, textarea
			height: 36px

		.select2-container--default .select2-selection--single .select2-selection__rendered
			padding: 0 20px 0 30px
			line-height: 33px
			text-align: right

			+r(768)
				padding-left: 0
				text-align: left

		.select2-container--default .select2-selection--single .select2-selection__arrow
			right: 0
			&::before
				top: 0

		.select2-container .select2-selection--single
			border: 0

		.select2-selection__arrow::before
			right: 0

		.select2-container--default .select2-selection--single
			background-color: transparent

		.select2-dropdown
			min-width: 197px
			border: 0
			background: #fff
			box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.25)
			border-radius: 5px
			// overflow: hidden
			position: relative
			&::before
				content: ''
				display: block
				+arr(17, 8, #fff, t)
				position: absolute
				top: -8px
				right: 30px

			+r(768)
				min-width: auto

		.select2-container
			min-width: 197px

			+r(768)
				min-width: auto

		.select2-results__option
			padding: 6px 15px

	//.sorting .cs-select select
	.cs-select select

		+r(768)
			padding-left: 0
			border: 0
			background-color: transparent

		+r(480)
			width: 100%

//.sorting end

//.price
.price
	font-family: $f-medium
	font-weight: 500
	font-size: 25px
	&__stock
		font-family: $f
		font-size: 14px
		color: $color-text
//.price end

//.product-info
.product-info
	//.numbers__list
	&__list
	//.numbers__item
	&__item
		margin-bottom: 10px
		color: $color-text
		span
			color: #000
//.product-info end

//.search-result
.search-result
	padding-bottom: 100px
	+r(768)
		padding-bottom: 60px

	&__pagination
		margin-top: $gutter*2

	.product-item
		$o: 10px
		&__wrap
			.product-item
				+size(3)

			&.layout-two-column
				.product-item
					+size(6)

					+r(480)
						width: 100%
						margin: 0 auto 20px

						&__img
							max-width: 210px

						&__title
							font-size: 15px

						&__btn
							width: 60px
							height: 60px

							.icon
								width: 24px
								height: 24px

			+r(768)
				+u-row-flex($o)

				.product-item
					margin-bottom: 10px
					+u-col($o)
					+u-size(4, 12, $o)

				&.layout-two-column
					.product-item
						+u-size(6, 12, $o)

			+r(480)
				.product-item
					padding: 0 15px 15px
					+u-size(6, 12, $o)

					&__img
						max-width: 130px

					&__title
						font-size: 12px

					&__btn
						width: 50px
						height: 50px

						.icon
							width: 22px
							height: 22px


				// +r(480)
				// 	width: calc(50% - 20px)
				// 	margin-bottom: 10px

					// &:nth-child(odd)
					// 	margin-right: 5px

					// &:nth-child(even)
					// 	margin-left: 5px
					// 	margin-right: 10px

		&__title
			+r(480)
				margin-bottom: 15px

	.catalog__info-view
		margin-left: auto

		+r(768)
			margin-top: 30px
//.search-result end
