.contacts
	padding-bottom: $gutter
	background-color: $color-bg
	+cover

	+r-max(sm)
		background-color: #fff

	//.contacts__inner
	&__inner
		margin-bottom: 5px

		&.cs-card:not(.cs-card--transform)
			+r-max(sm)
				padding: 0
				border: 0
				box-shadow: none
				background: none !important

	//.contacts__form
	&__form
		.h4
			margin-bottom: 20px

	//.contacts__left
	&__left
		width: 50%
		padding-right: 30px
		+r(480)
			width: 100%
			padding-right: 0
	//.contacts__right
	&__right
		width: 50%
		+r(480)
			width: 100%
	//.contacts__map
	&__map
		min-height: 280px
		height: 100%
		margin-top: 40px
		position: relative
		+r(768)
			margin-bottom: $gutter
		+r(480)
			margin-top: 15px
			margin-bottom: 0
//.contacts

.contacts-item
	margin-bottom: 20px
	//.contacts-item__title
	&__title
		margin-bottom: 10px
		font-family: $f-medium
		color: $color-text--light
	//.contacts-item__list
	&__list
		li
			display: block
			margin-bottom: 7px
			font-size: 15px
			font-family: $f-medium
		a
			color: $color-text
			&:hover
				text-decoration: underline

	.social__icon
		&:hover
			fill: #000
//.contacts-item

.contacts-owner
	margin-bottom: 65px
	+r(480)
		margin-bottom: $gutter

	//.contacts-owner__inner
	&__inner
		+flex
		flex-wrap: wrap
	//.contacts-owner__item
	&__item
		margin-bottom: 30px
		+r(768)
			margin-bottom: 10px
	//.contacts-owner__list
	&__list
		li
			display: block
			margin-bottom: 5px
			font-family: $f-medium
		a
			color: $color-text--light
			&:hover
				text-decoration: underline
//.contacts-owner
