.delivery
	padding-bottom: 80px

	//delivery__section
	&__section
		margin-bottom: 40px

	//delivery__desc
	&__desc
		color: #000

	//delivery__subtitle
	&__subtitle
		margin-bottom: 25px
		font-family: $f-medium
		font-weight: 500
		font-size: 24px
		color: #000

	//delivery__items
	&__items		
		+row-flex()
		justify-content: space-between

	//delivery__item
	&__item
		@extend %box
		+col()
		+size(3)
		+size-sm(6)
		+size-xs(12)
		@extend %flexCenter
		+r(1024)
			min-height: 200px
			margin-bottom: 15px
			
	//delivery__img
	&__img
		width: 70%
		height: auto
		margin: auto
		+r(1024)
			width: 50%

//delivery