.delivery
	padding-bottom: $section-indent
	background-color: $color-bg

	+r-max(md)
		padding-bottom: 30px
		background-color: #fff

	//.delivery__title
	&__title
		margin-bottom: 30px

		+r-max(xs)
			margin-bottom: 15px

	//.delivery__desc
	&__desc

	//.delivery__subtitle
	&__subtitle

	//.delivery__items
	&__items

	//.delivery__form
	&__form
		width: 100%
		+r-max(xs)
			margin-top: 30px

		.h4
			margin-bottom: 20px

		.button-box
			justify-content: flex-end

	.cs-card
		+r-max(md)
			margin-bottom: 30px
			padding: 0
			background-color: transparent
			box-shadow: none

			&__inner
				margin-bottom: 0

			&__text
				&:last-child
					margin-bottom: 0

		&__text
			color: $color-text--light
			+r-max(xs)
				font-size: 14px

		&__map
			+r(480)
				margin-top: 0

		&--reverse
			.cs-card
				&__img
					margin-bottom: 30px

		&:not(.cs-card--transform)
			+r-max(xs)
				margin-bottom: 50px
				padding: 0

			.cs-card__title
				font-family: $f-light
				font-weight: 300
				font-size: 20px

				+r-max(md)
					margin-bottom: 15px
					font-size: 20px
					font-family: $f-medium
					font-weight: 500

				+r-max(xs)
					font-size: 18px

		.page-title
			+r-max(md)
				margin-bottom: 20px
				font-family: $f-medium
				font-weight: 500
				font-size: 20px

			+r-max(xs)
				margin-bottom: 10px
				font-size: 18px

	.map
		border-radius: 0 $border-radius $border-radius
		overflow: hidden
		+r-max(xs)
			margin-bottom: 20px
//.delivery
