.page-home
//page-home

.firstscreen
	min-height: 550px
	margin-bottom: 35px
	background-image: url('../img/general/firstscreen-shape.png'), linear-gradient(to right,#090113,#1c0439)
	&__title
		margin-top: 35px
		margin-bottom: 60px
		// font-family: $f-light
		font-weight: 300
		line-height: 1.3
		text-align: center
		color: #fff
//firstscreen

.home-search
	+r(768)
		margin-bottom: 30px

	//home-search__icon
	&__in
		@extend %flex
		justify-content: center
		+r(768)
			flex-wrap: wrap

	//home-search__icon
	&__icon
		width: 27px
		height: 27px
		margin-right: 15px
		fill: $gray--light
		+tr
		+r(768)
			fill: $color-secondary
		&--series
			width: 22px
			height: 22px
		&--articul
			width: 24px
			height: 24px

	//home-search__form
	&__form
		@extend %flexCenter
		+r(480)
			display: block

	//home-search__block
	&__block
		flex: 1
		@extend %flexCenter
		+r(480)
			margin-bottom: 15px
			flex-direction: column
		.select2-container
			width: 50% !important
			margin-right: 15px
			+r(480)
				width: 100% !important
				margin-right: 0
				margin-bottom: 15px
				&:last-child
					margin-bottom: 0

	//home-search__btn
	&__btn
		text-transform: uppercase
		letter-spacing: 0.7px
		+r(768)
			display: block
			margin: auto
		+r(480)
			width: 100%

	//home-search__list
	&__list
		width: 20%
		margin: 0 auto
		+r(768)
			width: 50%
		+r(480)
			width: 100%
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
		&--wide
			width: 100% !important
			@extend %flexCenter
			+r(320)
				flex-direction: column
				align-items: flex-start
			.home-search__item				
				& + .home-search__item	
					margin-left: 15px
					+r(320)
						margin-left: 0
			.home-search__link
				margin-bottom: 0

	//home-search__link
	&__link
		display: inline-block
		margin-bottom: 10px
		padding: 3px 8px
		font-size: 14px
		color: #000
		transition: initial
		position: relative
		&::after
			content: ''
			display: block
			width: 100%
			height: 1px
			border-bottom: 1px dashed #000
		&:hover
			color: #fff
			background-color: $color-accent
			border-bottom-color: transparent
			border-radius: $border-radius
			&::after
				border-color: transparent

	//home-search__search
	&__search
		height: 38px
		line-height: 38px
		margin-right: 15px
		padding: 0 30px 0 15px
		border: 1px solid $color-border
		border-radius: $border-radius
		position: relative
		flex: 1
		+r(480)
			width: 100%
			margin-right: 0			
			margin-bottom: 15px
		input
			width: 100%
			color: #000
			border: 0

	//home-search__clear
	&__clear
		width: 30px
		font-family: $f
		font-size: 14px
		text-align: center
		font-style: normal
		cursor: pointer
		+vy
		right: 0
		&:hover
			color: #000

	//home-search .tab
	.tab
		&__wrap
			width: 100%
		&__titles
			+r(768)
				flex-direction: column
		&__title
			height: 46px
			line-height: 46px
			width: 25%
			padding: 0 45px
			color: $gray--light
			border-radius: $border-radius $border-radius 0 0
			position: relative
			transition: color 0.35s ease
			+r(768)
				color: $color-secondary
			&:hover
				color: #fff
				+r(480)
					color: initial
				.home-search__icon
					fill: #fff
					+r(480)
						fill: initial
			&.is-active
				color: initial
				&:hover
					color: initial
			+r(1024)
				padding: 0 20px
			+r(768)
				width: 100%
				border-radius: $border-radius
				background-color: #fff
				&::after
					content: '\f105'
					font-family: fontawesome
					line-height: 1
					+vy
					right: 10px
			&.is-active
				background-color: #fff
				.home-search__icon
					fill: $color-secondary

		&__contentes
			background-color: #fff

		&__content
			padding: 30px
			+r(480)
				padding: 15px
	
	//home-search .cs-accordeon
	.cs-accordeon

		&__item
			width: 100%
			margin-bottom: 5px
			&.is-open
				.cs-accordeon__title
					&::after
						content: '\f107'
							
		&__content
			margin-top: -2px
			background-color: #fff
			border-radius: 0 0 $border-radius $border-radius

	//home-search .select
	.select2-container .select2-selection--single
		height: 38px
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 38px
		padding-right: 30px
	.select2-container--default .select2-selection--single .select2-selection__arrow
		width: 25px
		top: 7px
	.select2-dropdown
		max-height: 100px
		+cs-scroll
//home-search

.advert
	+r(768)
		margin-bottom: $section-indent - 30px
//adv

.info-block
	//info-block__items
	&__items
		+row-flex()
		justify-content: space-between
		+r(768)
			justify-content: center
	//info-block__item
	&__item
		+col()		
		+size(4)
		+size-sm(6)
		+size-xs(12)
		@extend %flexCenter
		+r(768)
			margin-bottom: 30px			
	//info-block__icon
	&__icon
		width: 60px
		height: 40px
		margin-right: 20px
		fill: $color-text
	//info-block__title
	&__title
		color: $color-accent
		font-size: 18px
	//info-block__text
	&__text
		color: #000000
		font-size: 14px
	//info-block__desc
	&__desc
//info-block

.baner
	//bener__bg
	&__bg
		max-height: 390px
		height: 100%
		padding: 60px 40px
		+cover
		+r(768)
			max-height: 280px
			padding: 40px
		+r(480)
			max-height: 200px
			padding: 20px
	//bener__title
	&__title
		margin-bottom: 25px
		color: #000
		font-family: $f-black
		+r(480)
			font-size: 20px
			margin-bottom: 10px
	//bener__desc
	&__desc
		max-width: 300px
		margin-bottom: 30px
		color: #000
		font-family: $f-medium
		font-size: 18px
		+r(480)
			font-size: 14px
			margin-bottom: 10px
	//bener__phone
	&__phone
		color: #000
		font-family: $f-black
		font-size: 24px
		+r(480)
			font-size: 18px
	
	//baner .slick-slide
	.slick-slide
		margin: 0
	//baner .slick-dots
	.slick-dots
		padding: 0 44px
		bottom: 35px
		+r(768)
			display: none !important
//baner

.category
	margin-bottom: 50px
	//category__items
	&__items
		@extend %flex
		// flex-wrap: wrap
	//category__item
	&__item
		min-height: 190px
		min-width: 220px
		width: 100%
		margin-bottom: 10px
		margin-right: 10px
		background-color: #eee
		position: relative
		overflow: hidden
		filter: grayscale(100%)
		&:hover
			filter: grayscale(0)
			.category__img
				transform: scale(1.05)
			.category__title
				text-decoration: underline
	//category__title
	&__title
		color: #ffffff
		font-size: 14px
		position: absolute
		bottom: 20px
		left: 15px
		z-index: 2
	//category__img
	&__img
		transform: scale(1)
		transition: transform .5s ease-in-out
		+coverdiv
//catefoty

.cs-grid
	@extend %flex
	+r(480)
		flex-direction: column
	&-container
		margin-right: -10px
		@extend %flex
		width: 100%
		+r(1024)
			flex-direction: column
	//category__box--left
	&--left
		width: 40%
		margin-right: 10px
		+r(1024)
			width: 100%
			margin-right: -10px
			.cs-grid--column
				flex-direction: row
				flex: 1
				.category__item
					width: 50%
					&:last-child
						margin-right: 0
			.category__item
				width: 33.33%
		+r(768)
			.category__item
				width: 50%
			.cs-grid--column
				.category__item
					width: 100%
		+r(480)
			.category__item
				width: 100%
	//category__box--right
	&--right
		width: 60%
		+r(1024)
			width: 100%
	//category__box--column
	&--column
		flex-direction: column
		.category__item
	//catecory__box--wide
	&--wide
		@extend %flex
		.category__item
			+r(1024)
				width: 50%
				&:last-child
					margin-right: 0
			&:first-child
				flex: 1
				+r(1024)
					flex: inherit
			+r(480)
				width: 100%
	//catecory__box--reverse
	&--reverse
		.category__item
			&:first-child
				flex: initial
			&:last-child
				flex: 1
//category