//.lk
.lk
	padding-bottom: $section-indent
	background-color: $color-bg
	position: relative
	overflow: hidden

	+r(768)
		background-color: #fff

	+r(480)
		padding: 20px 0

	&.content-is-visible
		min-height: 100vh
		.lk
			&__content
				+trfY(0)

	//.lk__box
	&__box
		padding: 40px
		@extend %box
		+nosel

		+r(768)
			padding: 30px 20px

		+r(480)
			padding: 30px 10px
			border-radius: 0
			box-shadow: none

		&_inner
			+flexColumn

		&_title
			margin-bottom: 30px
			font-size: 15px
			font-family: $f-medium
			font-weight: 500
			+r(480)
				font-size: 17px

		&_desc
			margin-top: auto
			font-family: $f-light
			font-size: 13px
			line-height: 1.4
			color: $color-text--light

		.list
			margin-bottom: 60px

			&__item
				font-size: 15px
				+flexCenter

				span

					&:first-child
						min-width: 300px
						+r(480)
							min-width: auto

					&:last-child
						min-width: 100px
						text-align: center
						+r(480)
							min-width: auto
							margin-left: auto
							white-space: nowrap

		.pedit
			.button-box
				+r(768)
					flex-direction: column

		.button-box
			button
				flex-shrink: 0

	//.lk__order
	&__order
		+r(480)
			// height: 100%
			height: auto
			padding: 30px 10px
			// background-color: $color-bg
			.lk
				&__top-line
					margin-bottom: 10px
					+flexColumn
					align-items: flex-start

					//.lk__order .lk__top-line .sorting__count
					.sorting__count
						// margin-left: auto
						// margin-right: 30px

						.cs-select
							&::before
								right: 0

				&__box_title
					margin-bottom: 0
					margin-top: -2px

	//.lk__top-line
	&__top-line
		margin-bottom: 20px

		+r(768)
			margin-bottom: 10px

		+r(480)
			display: none

		.sorting
			&__count
				display: inline-flex

				.select2-container
					min-width: auto

				.select2-dropdown
					&::before
						right: auto
						left: 30px
						display: none

				.select2-container--default .select2-selection--single .select2-selection__rendered
					padding-left: 0
					text-align: left
					line-height: 23px

				.select2-container--default .select2-selection--single .select2-selection__arrow
					top: 1px

				.select2-container--default .select2-selection--single
					// height: 23px
					margin-bottom: -15px

			&__select
				padding: 0 10px 0 0
				border: 0
				background-color: transparent

	//.lk__inner
	&__inner
		display: flex
		align-items: flex-start

		+r(480)
			flex-wrap: wrap

	//.lk__nav
	&__nav
		+r(480)
			width: 100%

	//.lk__content
	&__content
		width: calc(100% - 250px - 30px)
		margin-left: auto
		padding: 0

		+r(768)
			width: calc(100% - 250px - 15px)

		+r(480)
			width: 100%
			// min-height: 100vh;
			margin-left: 0
			background-color: #fff
			border-radius: 0
			+coverdiv
			+trfY(100vh)

		&.has-animation
			//. overflow-y: auto
			+tr

		&_close
			width: 20px
			height: 20px
			position: absolute
			top: 10px
			right: 10px
			fill: $color-text--light

	//.lk .form
	.form
		+r(480)
			display: flex
			flex-direction: column
//.lk end

//.lk-nav
.lk-nav
	display: block
	width: 250px
	margin-right: 30px
	padding: 20px 0
	@extend %box

	+r(768)
		margin-right: 15px

	+r(480)
		width: 100%
		padding: 0
		margin-right: 0
		box-shadow: none
		background-color: transparent

	& + &
		padding-top: 20px
		border-top: 1px solid $color-border--light

	//.lk-nav__title
	&__title
		display: block
		margin-bottom: 20px
		span
			font-family: $f-medium

	//.lk-nav__list
	&__list
		&:first-child
			&:not(.lk-nav__list--old)
				+r(480)
					padding: 20px 0
					background: #fff
					border-radius: $border-radius
					box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
					border-radius: $border-radius
					overflow: hidden

					& + .lk-nav__list
						margin-top: 10px

		&--old
			+r(480)
				background-color: transparent
				box-shadow: none
				.lk-nav__item
					padding: 10px 0
					background: #fff
					border-radius: $border-radius
					box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
					border-radius: $border-radius
					overflow: hidden
					position: relative
					&::after
						content: '\f105'
						+fa('light')
						font-size: 18px
						color: $color-text--light
						+centre('y')
						right: 33px

	//.lk-nav__item
	&__item
		background-color: #fff
		border: 0
		border-radius: 0
		outline: none
		position: relative
		&::before
			content: ''
			display: none
			width: 4px
			height: 100%
			position: absolute
			top: 0
			left: 0
			background-image: $gradientTwo

		+r-min(xs)
			&:hover, &.is-active, &.ui-tabs-active
				background-color: $color-bg--lighten
				.lk-nav__link
					color: $color-text--light
					border: 0

			&.is-active, &.ui-tabs-active
				&::before
					display: block


		& + &
			margin-top: 8px

		&--add
			.lk-nav__icon
				color: $color-accent

		//.lk-nav__item--alone
		&--alone
			+r(480)
				padding: 10px 0
				background: #fff
				border-radius: $border-radius
				box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)
				border-radius: $border-radius
				overflow: hidden
				position: relative
				&::after
					content: '\f105'
					+fa('light')
					font-size: 18px
					color: $color-text--light
					+centre('y')
					right: 33px

		//.lk-nav__item--alone
		&--exit
			+r(480)
				&::after
					content: '\f08b'
					right: 25px

		&--devider
			+r-min(xs)
				margin-top: 20px !important
				position: relative
				&::after
					content: ''
					display: block
					height: 1px
					width: 78%
					background-color: $color-border--lighten
					+centre('x')
					top: -10px

		a
			border: 0

	//.lk-nav__link
	&__link
		width: 100%
		padding: 8px 30px 10px
		color: $color-text--light
		border: 0
		outline: none
		+flexCenter

		&:hover, &:focus
			color: $color-text--light

	//.lk-nav__text
	&__text
		display: block
		width: 100%
		margin-right: 5px
		+text-overflow

		&--dark
			font-family: $f-medium
			color: $color-text

	//.lk-nav__icon
	&__icon
		color: #bdbdbd
//.lk-nav end

.lk-user
	margin-bottom: 30px

	//.lk-user__login
	&__login
		display: block
		font-family: $f-medium
		color: #000
		font-size: 25px

	//.lk-user__name
	&__name
		color: #000
		font-size: 16px
//.lk-user

//.order-item
.order-item
	margin-bottom: 10px
	padding: 15px 70px 15px 50px
	background-color: #fff
	border-radius: $border-radius
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08)

	+r(1024)
		padding: 15px 50px 15px 30px

	+r(768)
		padding: 15px 35px 15px 20px

	+r(480)
		// padding: 0 30px 0 5px
		padding: 0
		border-left: 0
		border-right: 0
		margin: 0

		& + .order-item
			margin-top: 10px

	&.is-open
		.order-item__title
			&::after
				content: '\f106'

	&.is-success
		.order-item__status
			span
				color: $color-success

	&.is-abort
		.order-item
			&__status
				span
					color: $color-error

			//.order-item.is-abort .order-item__info
			&__info
				//.order-item.is-abort .order-item__info ul
				ul
					display: block
					columns: auto 2
					+r(768)
						columns: auto
				//.order-item.is-abort .order-item__info li
				li
					margin-top: 5px
					+r(768)
						margin-top: 10px

	//.order-item__title
	&__title
		padding: 0
		height: 50px
		font-family: $f
		font-weight: 400
		color: $color-text
		border-bottom-color: transparent
		position: relative
		+flexCenter
		+r(480)
			height: auto
			// padding: 10px 30px 10px 10px
			padding: 10px 30px 12px 15px
			flex-wrap: wrap
		&::after
			content: '\f107'
			font-family: fontawesome
			display: block
			+vy
			right: -20px
			+r(480)
				right: 10px

		span
			&:not(.order-item__status)
				flex-grow: 1
				font-size: 16px
				font-family: $f-medium
				font-weight: 500

			&.order-item__status
				margin-left: 15px
				font-size: 14px
				flex-shrink: 0
				+r(480)
					margin-left: 0
				span
					font-family: $f
					font-size: 14px

		&_text
			span
				+r(480)
					display: none

	//.order-item__status
	&__status
		margin-left: auto
		color: $color-text
		+r(480)
			margin-left: 0
		span
			margin-right: 0
			color: #000

	//.order-item__content
	&__content
		padding: 20px 0
		+r(480)
			// padding: 0 10px 25px
			padding: 8px 15px 20px

	//.order-item__list
	&__list
		max-height: 400px
		margin-bottom: 30px
		+counter(li)
		+r(768)
			max-height: 380px
			overflow-y: auto

	//.order-item__product
	&__product
		position: relative
		+r(480)
			margin-bottom: 10px
		&::before
			font-size: 14px
			color: $color-text--light
			+vy
			left: 1.5px
			z-index: 10
			+r(480)
				top: 10px
				transform: translate(0)

	//.order-item__more
	&__more
		display: inline-block
		margin-bottom: 15px
		color: #000
		border-bottom: 1px dashed #000
		+r(480)
			margin-bottom: 20px
		&:hover
			color: #000
			border-bottom-color: transparent

	//.order-item__info
	&__info
		+flex
		+r(480)
			flex-direction: column
		ul
			display: block
			columns: auto 2
			margin-bottom: 40px
			+r(480)
				margin-bottom: 20px
				columns: auto
			li
				margin-top: 5px
				font-size: 14px
				font-family: $f
				color: $color-text--light

				+r(480)
					margin-top: 10px

				&:not(:first-child)
					margin-left: auto

				&:first-child
					+r(480)
						margin-top: 0

				span
					font-family: $f-medium

		.button-box
			max-width: 220px
			width: 100%
			+r(480)
				max-width: 100%

	//.order-item__name
	&__name
		margin-left: auto
		font-size: 14px
		color: $color-text--light

	.button-box
		+r(480)
			flex-wrap: wrap
			width: 100%

		//.order-item .button-box .btn
		.btn
			padding: 10px 15px
			+r(480)
				min-width: auto
				padding: 13px 15px

			&:not(:first-child)
				margin-left: auto

			&:nth-child(2)
				margin-left: 15px

			&:not(:last-child)
				+r(480)
					flex-basis: calc(50% - 10px)

			&:last-child
				+r(480)
					flex-basis: 100%
					margin: 20px 0
					order: -1

		.btn-accent
			padding: 10px 17px

			+r(480)
				margin-left: 0
				& + .btn
					margin-top: 10px

	.product-item
		max-width: 100%
		padding: 10px 20px 10px 40px
		margin: 0
		border: 0
		box-shadow: none
		&:hover
			box-shadow: none
			transform: none
			cursor: default

		+r(768)
			padding: 10px 0 10px 20px

		&__title
			max-width: 380px
			margin-bottom: 0
			font-size: 14px
			font-family: $f-medium
			font-weight: 500
			color: $color-text--light
			flex-grow: 1

			+r(480)
				max-width: 100%
				width: 100%
				margin-bottom: 10px
				margin-right: 0

		&__desc
			+flexCenter

		&__counter
			margin-left: 30px
			font-size: 14px
			color: $color-text--light
			flex-shrink: 0

			+r(1024)
				margin-left: 15px

			+r(480)
				margin-left: 0

		&__price
			margin-right: 0
			margin-left: 100px
			font-size: 14px
			color: $color-text--light
			flex-shrink: 0

			+r(1024)
				margin-left: auto

			+r(768)
				margin-left: 15px

			+r(480)
				margin-right: 0
			.fa
				font-size: 18px

		&__desc
			+r(480)
				flex-wrap: wrap

		&__btn
			min-width: 180px
			margin-left: 0
			padding: 10px 35px
			font-size: 14px
			color: $color-text--light
			&:hover
				color: #fff

			& + .product-item__btn
				margin-left: 30px
				+r(768)
					&:not(:first-child)
						margin-left: auto

			&.btn-accent
				margin-left: auto
				color: #fff
//.order-item end

.lk-sale
	color: #000
	//.lk-sale__title
	&__title
		font-family: $f-medium
		font-weight: 500
	//.lk-sale__inner
	&__inner
		+flex
		+r(480)
			flex-wrap: wrap
	//.lk-sale__text
	&__text
		width: calc(100% - 33%)
		margin-right: 60px
		+r(768)
			width: calc(100% - 45%)
		+r(480)
			width: 100%
		p
			&:last-child
				margin-bottom: 0
				+r(480)
					margin-bottom: 20px
	//.lk-sale__data
	&__data
		width: 33%
		+r(768)
			width: 45%
		+r(480)
			width: 100%
	//.lk-sale__list
	&__list
		padding: 25px 30px
		border-radius: $border-radius
		border: 1px solid $color-border--lightest
		li
			font-size: 15px
			+flexCenter
			&:first-child
				color: $color-text
			& + li
				margin-top: 13px
			span
				display: inline-block
				min-width: 60px
				margin-left: auto
				text-align: center
		.fa-rub
			font-size: 13px

	.lk-nav, .lk__top-line
		+r(1024)
			display: none
//.lk-sale
