.map {
	padding-bottom: $section-indent;
	background-color: $color-bg;

	@include max-screen(1024) {
		background-color: #fff;
	}

	@include max-screen(480) {
		padding: 0;

		.container {
			padding: 0;
		}
	}

	&__inner {
		@extend %box;
		display: flex;

		@include max-screen(1024) {
			padding: 0;
		}

		@include max-screen(480) {
			flex-wrap: wrap;
			box-shadow: none;
		}
	}//.map__inner

	&__left {
		padding: 25px 30px;
		width: 50%;
		overflow-x: hidden;
		position: relative;
		@include flexColumn;

		@include max-screen(1024) {
			padding: 15px;
		}

		@include max-screen(768) {
			padding: 20px 15px;
			width: 40%;
		}

		@include max-screen(480) {
			min-height: 350px;
			width: 100%;
			padding-bottom: 0;
			background-color: #fff;
			border-radius: $border-radius;
		}

		&--move {
				@include max-screen(480) {
				position: fixed;
				bottom: 10px;
				left: 10px;
				right: 10px;
				z-index: 50;
				@include tr;
				@include trfY(150%);
			}
		}

		&.is-visible {
			@include trfY(0);
		}
	}//.map__left

	&__right {
		width: 50%;

		@include max-screen(768) {
			width: 60%;
		}

		@include max-screen(480) {
			width: 100%;
			border-radius: 0;

			display: none;
		}
	}//.map__right

	&__title {
		margin-bottom: 20px;
		font-size: 18px;
		font-family: $f-medium;
		font-weight: 500;
	}//.map__title

	&__select-line {
		@include row-flex;

		.map__select {
			@include col;
			@include size(4);
		}
	}//.map__select-line

	&__select {

		select, .selectize-control {
			width: 100%;
			margin-left: 0;
		}
	}//.map__select

	&__desc {
		margin-top: auto;
		font-family: $f-light;
		font-size: 12px;
		line-height: 1.4;
		color: $color-text--light;
	}//.map__desc

	&__empty {
		font-family: $f-light;
		font-size: 14px;
		line-height: 1.4;
		color: $color-text--light;
	}//.map__empty

	&__close {
		position: absolute;
		top: 20px;
		right: 17px;
	}//.map__close
}//.map

.map-box {
	min-height: 370px;
	border-radius: $border-radius;
	overflow: hidden;
	position: relative;

	&__inner {
		@include coverdiv;
	}
}//.map-box

.map-address {

	&__wrap {
		max-height: 415px;
		overflow-y: auto;

		@include max-screen(480) {
			padding: 20px 15px;
			background-color: #fff;
			border-radius: $border-radius;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
			@include trfX(150%);
			@include tr;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
		}

		&.is-open {
			@include trfX(0);
		}
	}//.map-address__item

	&__item {
		margin-bottom: 20px;
		position: relative;

		@include max-screen(768) {
			padding-top: 18px;
			border-top: 1px solid $color-border--light;
		}

		@include max-screen(480) {
			padding-right: 55px;
			border: 0;
		}

		& + & {
			padding-top: 18px;
			border-top: 1px solid $color-border--light;

			@include max-screen(480) {
				padding-top: 0;
				border: 0;
			}
		}
	}//.map-address__item

	&__title {
		margin-bottom: 10px;
		font-family: $f-medium;
		font-size: 14px;

		@include max-screen(480) {
			margin-bottom: 5px;
		}

		span {
			font-family: $f-light;
			color: $color-text--light;
		}
	}//.map-address__title

	&__inner {
		width: 100%;
		@include row-flex;

		@include max-screen(768) {
			width: auto;
			margin: 0;
		}
	}//.map-address__inner

	&__left {
		@include col;
		@include size(7);
		@include flexColumn;

		@include max-screen(768) {
			width: 100%;
			margin: 0;
		}
	}//.map-address__left

	&__right {
		@include col;
		@include size(5);

		@include max-screen(768) {
			display: none;
		}
	}//.map-address__right

	&__desc {
		margin-bottom: 15px;
		font-size: 14px;
		color: $color-text--light;

		@include max-screen(480) {
			margin-bottom: 10px;
		}
	}//.map-address__desc

	&__phone {
		margin-top: auto;

		@include max-screen(768) {
			margin-bottom: 10px;
		}

		.phone {
			&__link {
				font-size: 14px;
				color: $color-text;
			}
		}
	}//.map-address__phone

	&__back {
		font-family: $f-light;
		font-size: 14px;
		line-height: 1;
		color: $color-text--light;
		@include flexCenter;

		i {
			margin-right: 7px;
			font-size: 20px;
		}
	}//.map-address__back

	&__btn {
		background-color: transparent;
		border: 0;
		@include centre('y');
		right: 0;

		.icon {
			width: 30px;
			height: 30px;
			fill: $color-text--light;
		}
	}//.map-address__btn

	.list {
		&__item {
			font-size: 14px;
			color: $color-text--light;

			& + .list__item {
				margin-top: 0;
			}

			strong {
				margin-right: 10px;
				color: $color-text;
			}
		}
	}

	&__time{
		&.is-close {
			.list__item strong {
				color: #e52836;
			}
		}
		.list {

			&__item {
				font-family: $f-light;
				font-size: 13px;

				strong {
					font-family: $f-light;
					color: $color-text--light;
				}
			}
		}
	}//.map-address__time
}//.map-address

