.news {
	padding-bottom: 60px;
	background-color: #eee;

	@include r-max(sm) {
		background-color: #fff;
	}

	@include r-max(xs) {
		padding: 30px 0;

		.page-title {
			margin-bottom: 30px;
		}
	}

	&__inner {
		@include row-flex;

		.news__item {
			@include col;
			@include size(3);
			@include size-sm(12);
		}

		&.slick-slider {
			@include r-max(sm) {
				margin: 0;
				// padding: 0 15px;
				width: 100%;
			}
		}
	}//.news__inner

	&__item {

		&--link {
			max-width: 280px;
			height: 100%;
			padding: 0 !important;

			@include xs-block() {
				max-width: 260px;
			}

			& > div {
				height: 100%;
				padding: 25px 25px 20px;
				text-align: center;
				background-color: #fff;
				box-shadow: $bxs-box;
				border-radius: $border-radius;
				@include flexColumn;
				justify-content: center;
				align-items: center;
			}

			span {
				margin-bottom: 20px;
				font-size: 14px;
				color: #c4c4c4;
			}

			i {
				width: 30px;
				height: 30px;
				border: 1px solid #c4c4c4;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				.icon {
					width: 7px;
					height: 7px;
					transform: rotate(45deg);
					fill: #c4c4c4;
				}
			}
		}//.news__item--link

		&.cs-card:not(.cs-card--transform) {
			padding: 50px;

			@include xs-block() {
				padding: 0;
				box-shadow: none !important;
			}

		}

		.cs-card {
			&__bottom {

				@include xs-block() {
					text-align: left;
					align-items: flex-start;
				}
			}
			&__link {
				&--prev, &--next {
					max-width: 80px;
				}
				&--next {

					@include xs-block() {
						margin-left: auto;
						text-align: left;
					}

				}
			}
		}

	}//.news__item

	&__btn {
		display: inline-block;
		margin: $section-indent auto 0;
	}//.news__btn

	&__layout {
		@include row-flex;

		.cs-card {
			@include col;
			@include size(6);
			@include size-sm(12);

			@include sm-block() {
				box-shadow: none;
			}

			&--wide {
				@include size(12);
			}
		}
	}//.news__layout
}//.news

.news-item {
	&__title {

	}
	&__inner {
		margin-bottom: 25px;
		display: flex;

		@include xs-block() {
			flex-direction: column;
		}
	}
	&__date {
		margin-bottom: 20px;
		font-family: $f-i;
		font-size: 16px;
	}
	&__desc {
		flex: 1;
	}
	&__img {
		width: calc(50% - 30px);
		margin-left: 30px;
		flex: 1;

		@include sm-block() {
			width: calc(40% - 30px);
		}

		@include xs-block() {
			width: 100%;
			margin-left: 0;
			margin-bottom: 30px;
			order: -1;
		}
	}
}//.news-item
