.header
	height: 100px
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: z(fixed)
	+tr
	+r(768)
		height: 70px
	&.is-fixed
		height: 70px
		.header__inner
			height: 70px
		.logo
			&__img
				width: 60px
				height: 50px
	//header__inner
	&__inner
		height: 100px
		+tr
		@extend %flex
		+r(768)
			height: 70px

	//header__left
	&__left, &__right
		width: 50%
		@extend %flexCenter
	&__left
		+r(1024)
			width: 60%
	&__right
		+r(1024)
			width: 40%

	//header__right
	&__right
		justify-content: flex-end

	&__logo, &__cart, &__search
		margin-right: 30px

	&__search
		+r(768)
			display: none

	&__phone
		+r(768)
			display: none

	&__logo
		+r(768)
			margin-right: 0
			+vcenter

	&__cart
		+r(768)
			margin-right: 15px
//header

.logo
	display: inline-block
	&__img
		width: 80px
		height: 70px
		+tr
		+r(768)
			width: 60px
			height: 50px
//logo

.search
	display: inline-block
	position: relative
	height: 32px
	padding: 0
	position: relative

	&__field
		height: 32px
		padding: 3px
		padding-right: 45px
		display: inline-block
		font-family: $f-light
		font-size: 15px
		color: #fff
		width: 0px
		border: none
		outline: none
		cursor: pointer
		background: none
		position: absolute
		top: 0
		right: 0
		z-index: 3
		transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000)

		&:focus:hover
			border-bottom: 1px solid #BBB

		&:focus
			width: 300px
			z-index: 1
			border-bottom: 1px solid #BBB
			cursor: text
			+r(320)
				width: 250px

	&__submit
		display: inline-block
		height: 30px
		width: 26px
		text-indent: -10000px
		cursor: pointer
		border: none
		background-color: transparent
		+s('search')
		position: absolute
		top: 2px
		right: 0
		z-index: 2

	&__icon
		fill: #fff
//search

.cart
	cursor: pointer
	position: relative
	&:hover
		.cart__icon
			color: $gray--light
	//cart__icon
	&__icon
		fill: #fff
	//cart__badge
	&__badge		
		position: absolute
		top: -11px
		left: 10px
//cart

.phone
	position: relative
	//phone__link
	&__link
		display: block
		color: #fff
		font-size: 20px
		line-height: 1
	//phone__text
	&__text
		color: #fff
		font-family: $f-light
		font-size: 11px
		line-height: 1
		letter-spacing: 1.43px
		text-transform: uppercase
	//phone--icon
	&--icon
		.phone__link
			padding-left: 25px
			position: relative
			&::before
				content: ''
				display: block
				+s(telephone)
				position: absolute
				top: 3px
				left: 0
//phone