.nav
	//.nav__list
	&__list
		+flexCenter
		flex: 1

	//.nav__item
	&__item
		margin-right: 15px
		position: relative

		&--last
			margin-left: auto

		&.is-active
			.nav__link
				&::after
					width: 100%

		&.cs-dropdown
			border-radius: $border-radius $border-radius 0 0
			&:hover
				.nav__link
					color: #000
					background-color: #fff
					&::before
						content: '\f106'
			.nav__link
				padding: 5px 25px 5px 10px
				line-height: 1.7
				transition: initial
				&::after
					display: none
				&::before
					content: '\f107'
					font-family: fontawesome
					display: inline-block
					+vy
					right: 10px

		.cs-dropdown
			&__link
				&::after
					+rmin(481)
						display: none

	//.nav__link
	&__link
		display: block
		padding: 0 10px
		font-size: 12px
		line-height: 41px
		border-radius: $border-radius
		color: #fff
		position: relative

		// &::after
		// 	content: ''
		// 	display: block
		// 	height: 4px
		// 	width: 0
		// 	background-color: $color-accent
		// 	+centre('x')
		// 	bottom: -10px
		// 	height: 2px
		// 	+tr

		&:hover
			color: $color-accent

			// &::after
			// 	width: 100%

	//.nav--main
	&--main
		+r(992)
			display: none
		.nav
			&__item
				&--auth
					display: none
					min-width: 170px
					width: 100%
					.nav__link
						+text-overflow
//.nav

.mobile-nav
	padding-top: 70px
	padding-bottom: 70px
	background-color: #fff
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 199
	transform: translateX(-100vw)
	+tr
	overflow-y: auto
	overflow-x: hidden
	+smooth-scroll

	+r-min(xs)
		max-width: 375px
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.25)

	&.is-open
		transform: translateX(0)
		z-index: z(menu)

	//.mobile-menu__list
	&__list
		margin: 0 30px 15px 50px
		padding-bottom: 15px
		border-bottom: 1px solid $color-border--lighten

	//.mobile-menu__item
	&__item

		&::before
			top: 20px

		&--auth
			display: none

	//.mobile-menu__link
	&__link
		display: block
		padding: 10px 0 10px 10px
		font-size: 14px
		color: $color-text
		position: relative
		// -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)

		+r(480)
			font-size: 16px

		&:hover, &:focus
			color: #000

		// &::after
		// 	content: '\f105'
		// 	font-family: fontawesome
		// 	font-size: 18px
		// 	+vy
		// 	right: 0

		// &::before
		// 	content: ''
		// 	display: inline-block
		// 	+vy
		// 	left: 0
		// @each $m in catalog, company, contacts, delivery, garanty, home, lk, news, partners, pay, contacts
		// 	&--#{$m}
		// 		&::before
		// 			+s(mobile__#{$m})
		// &--lk
		// 	&::after
		// 		display: none

		// &--back
		// 	&::after
		// 		content: '\f104'
		// 		right: auto
		// 		left: 0

		// &--not-auth

		// &--auth
		// 	display: none

	//.mobile-menu__search
	&__search
		position: fixed
		right: 22px
		top: 21px
		z-index: z(dropdown)

	//.mobile-menu__close
	&__close
		width: 40px
		height: 40px
		padding: 10px
		cursor: pointer
		fill: $color-text--light
		+tr
		position: absolute
		top: 10px
		left: 10px
		&:hover
			fill: $color-text
	//.mobile-nav--sub
	&--sub
		padding-top: 70px;
		padding-left: 50px
		padding-right: 30px
		background-color: #fff
		+coverdiv
		z-index: z(fixed)
		transform: translateX(200%)
		transition: transform 0.35s linear
		will-change: transform
		&.is-open
			transform: translateX(0)

	.search
		&__submit
			+s(search--mobile)
		&__field
			color: #000

	.search-hint
		border: 1px solid #bbb
		border-top-color: transparent
		background-color: #fff
		&__item
			& + .search-hint__item
				border-top-color: #bbb
		&__link
			color: $color-text

	.cs-dropdown
		&.is-active
			&::before
				content: '\f107'

		&::before
			content: '\f105'
			right: 0

		&__list
			margin-left: 30px
			position: static
			border-top: 0
			box-shadow: none

		&__link
			padding-left: 25px

	.phone
		margin-top: 30px
		margin-bottom: 20px
		+flexCenter
		&__link
			margin: auto
			color: $color-text

	.social
		&__list
			margin: auto
//.mobile-nav

//.hamburger
.hamburger
	line-height: 1
	border: 0
	background-color: transparent
	outline: none
	&__icon
		width: 20px
		height: 20px
		fill: #fff

.toggle
	display: block
	width: 23px
	height: 17px
	margin-top: 2px
	pointer-events: none

	span
		position: relative
		display: block
		width: 100%
		height: 2px
		background-color: #fff
		transition: all 0.15s
		backface-visibility: hidden
		border-radius: 2px

		&:after, &:before
			content: ' '
			position: absolute
			left: 0
			top: 7px

		&:after
			top: 14px
			width: 100%
			height: 2px
			background-color: #fff
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px

		&:before
			width: 100%
			height: 2px
			background-color: #fff
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px

	&.is-active
		pointer-events: auto
		span
			background-color: transparent
			&:before
				transform: rotate(45deg) translate(-2px, 2px)
			&:after
				transform: rotate(-45deg) translate(3px, -7px)
