{% set
menu = [
	{
		title: 'Каталог'
	},
	{
		title: 'Оплата',
		class: 'is-active'
	},
	{
		title: 'Доставка'
	},
	{
		title: 'Личный кабинет'
	}
]
%}

{% set
menuMobileTop = [
	{
		title: 'Главная',
		icon: 'home'
	},
	{
		title: 'Каталог',
		icon: 'catalog'
	},
	{
		title: 'Оплата',
		class: 'is-active',
		icon: 'pay'
	},
	{
		title: 'Доставка',
		icon: 'delivery'
	},
	{
		title: 'Личный кабинет',
		icon: 'lk'
	}
]
%}

{% set
menuMobileBottom = [
	{
		title: 'Гарантия и возврат',
		icon: 'garanty'
	},
	{
		title: 'Новости',
		icon: 'news'
	},
	{
		title: 'Стать партнером',
		icon: 'partners'
	},
	{
		title: 'О компании',
		icon: 'about'
	},
	{
		title: 'Контакты',
		icon: 'contacts'
	}
]
%}

{% set
footerMenu = [
	{
		link1: 'Гарантия и возврат',
		link2: 'Оплата',
		link3: 'Доставка'
	},
	{
		link1: 'Каталог',
		link2: 'Личный кабинет',
		link3: 'Новости'
	},
	{
		link1: 'Стать партнером',
		link2: 'О компании',
		link3: 'Контакты'
	}
]
%}