{% set
menuMobileTop = [
	{
		title: 'Главная',
		icon: 'home'
	},
	{
		title: 'Каталог',
		icon: 'catalog'
	},
	{
		title: 'Оплата',
		class: 'is-active',
		icon: 'pay'
	},
	{
		title: 'Доставка',
		icon: 'delivery'
	}
]
%}

{% set
filterType = [
	{
		title: 'Все категории',
		class: 'is-checked'
	},
	{
		title: 'Элементы подвески'
	},
	{
		title: 'Прокладки / Ремкомплекты'
	},
	{
		title: 'Патрубки / Шланги'
	},
	{
		title: 'Крепления глушителя'
	},
	{
		title: 'Подушки двигателя'
	},
	{
		title: 'Брызговики'
	},
	{
		title: 'Коврики'
	}
]
%}

{% set
menuMobileBottom = [
	{
		title: 'Гарантия и возврат',
		icon: 'garanty'
	},
	{
		title: 'О компании',
		icon: 'company'
	},
	{
		title: 'Новости',
		icon: 'news'
	},
	{
		title: 'Стать партнером',
		icon: 'partners'
	},
	{
		title: 'Контакты',
		icon: 'contacts'
	}
]
%}

{% set
productsList = [
	{
		title: 'Аксессуары / инструменты'
	},
	{
		title: 'Брызговики'
	},
	{
		title: 'Коврики салона'
	},
	{
		title: 'Прокладки / ремкомлекты'
	},
	{
		title: 'Чехлы защитные / пыльники'
	},
	{
		title: 'Крепление глушителя'
	},
	{
		title: 'Крепления двигателя / КПП'
	},
	{
		title: 'Патрубки / шланги'
	},
	{
		title: 'Элементы подвески / ходовой части'
	}
]
%}

{% set
cars = [
	{
		title: 'Largus'
	},
	{
		title: 'Renault Logan'
	},
	{
		title: 'Vesta'
	},
	{
		title: 'X-RAY'
	},
	{
		title: 'ВАЗ 2118 Калина'
	},
	{
		title: 'ВАЗ 2101-07'
	},
	{
		title: 'ВАЗ 2108-99'
	},
	{
		title: 'ВАЗ 2110-12'
	},
	{
		title: 'ВАЗ 2113-15'
	},
	{
		title: 'ВАЗ 2121 НИВА'
	},
	{
		title: 'ВАЗ 2123 Chevrolet Niva'
	},
	{
		title: 'ВАЗ 2170 Прирора'
	},
	{
		title: 'ВАЗ 2190 Гранта'
	},
	{
		title: 'Волга'
	},
	{
		title: 'ГАЗ'
	},
	{
		title: 'ГАЗель'
	},
	{
		title: 'УАЗ'
	}
]
%}

{% set
footerListOne = [
	{
		link: 'garanty',
		text: 'Гарантия и возврат'
	}
	,{
		link: 'policy',
		text: 'Политика конфиденциальности',
		class: 'not-hide'
	}
	,{
		link: 'payment',
		text: 'Оплата'
	}
	,{
		link: 'delivery',
		text: 'Доставка'
	}
	,{
		link: 'lk',
		text: 'Личный кабинет'
	}
]
%}

{% set
footerListTwo = [
	{
		link: 'about',
		text: 'О компании'
	}
	,{
		link: 'contacts',
		text: 'Контакты'
	}
	,{
		link: 'news',
		text: 'Новости'
	}
	,{
		link: 'partners',
		text: 'Стать партнером'
	}
]
%}

{% set
category = [
	{
		icon: '1',
		title: 'Элементы подвески'
	}
	,{
		icon: '2',
		title: 'Подушки двигателя'
	}
	,{
		icon: '3',
		title: 'Ремкомплекты'
	}
	,{
		icon: '4',
		title: 'Коврики салона'
	}
	,{
		icon: '5',
		title: 'Брызговики'
	}
	,{
		icon: '6',
		title: 'Чехлы / пыльники'
	}
	,{
		icon: '7',
		title: 'Крепления глушителя'
	}
	,{
		icon: '8',
		title: 'Патрубки / шланги'
	}
	,{
		icon: '9',
		title: 'Прокладки'
	}
]
%}

{% set
	storis = [
		{
			img: '1',
			title: '5 поводов подписаться на нас в вконтакте',
			link: '#'
		}
		,{
			img: '2',
			title: 'Как сэкономить на доставке запчастей?',
			link: '#'
		}
		,{
			img: '1',
			title: '5 поводов подписаться на нас в вконтакте',
			link: '#'
		}
		,{
			img: '2',
			title: 'Как сэкономить на доставке запчастей?',
			link: '#'
		}
		,{
			img: '1',
			title: '5 поводов подписаться на нас в вконтакте',
			link: '#'
		}
		,{
			img: '2',
			title: 'Как сэкономить на доставке запчастей?',
			link: '#'
		}
	]
	%}

{% set
	dayTime = [
		{
			day: 'пн',
			time: '8:15 - 17:15'
		}
		,{
			day: 'вт',
			time: '8:15 - 17:15'
		}
		,{
			day: 'ср',
			time: '8:15 - 17:15'
		}
		,{
			day: 'чт',
			time: '8:15 - 17:15'
		}
		,{
			day: 'пт',
			time: '8:15 - 17:15'
		}
		,{
			day: 'сб',
			time: '9:00 - 15:00'
		}
		,{
			day: 'вс',
			time: 'выходной'
		}
	]
%}


