{% set
menuMobileTop = [
	{
		title: 'Главная',
		icon: 'home'
	},
	{
		title: 'Каталог',
		icon: 'catalog'
	},
	{
		title: 'Оплата',
		class: 'is-active',
		icon: 'pay'
	},
	{
		title: 'Доставка',
		icon: 'delivery'
	}
]
%}

{% set
filterType = [
	{
		title: 'Все категории',
		class: 'is-checked'
	},
	{
		title: 'Элементы подвески'
	},
	{
		title: 'Прокладки / Ремкомплекты'
	},
	{
		title: 'Патрубки / Шланги'
	},
	{
		title: 'Крепления глушителя'
	},
	{
		title: 'Подушки двигателя'
	},
	{
		title: 'Брызговики'
	},
	{
		title: 'Коврики'
	}
]
%}

{% set
menuMobileBottom = [
	{
		title: 'Гарантия и возврат',
		icon: 'garanty'
	},
	{
		title: 'Новости',
		icon: 'news'
	},
	{
		title: 'Стать партнером',
		icon: 'partners'
	},
	{
		title: 'О компании',
		icon: 'company'
	},
	{
		title: 'Контакты',
		icon: 'contacts'
	}
]
%}

{% set
footerMenu = [
	{
		link1: 'garanty',
		link2: 'payment',
		link3: 'delivery',
		text1: 'Гарантия и возврат',
		text2: 'Оплата',
		text3: 'Доставка'
	},
	{
		link1: 'catalog',
		link2: 'lk-user',
		link3: 'news',
		text1: 'Каталог',
		text2: 'Личный кабинет',
		text3: 'Новости' 
	},
	{
		link3: 'contacts',
		text1: 'Стать партнером',
		text2: 'О компании',
		text3: 'Контакты'
	}
]
%}