{% set
	navLkItems = [
		{
			title: 'Petrov_1977',
			icon: 'fas fa-cog',
			link: 'lk-settings.html',
			textDark: true
		}
		,{
			title: 'Частное лицо',
			icon: 'fas fa-pencil',
			link: 'lk-person.html'
		}
		,{
			title: 'Компания',
			class: 'is-active',
			icon: 'fas fa-pencil',
			link: 'lk-company.html'
		}
		,{
			title: 'Добавить профиль',
			icon: 'fas fa-plus-circle',
			link: '#new-profile',
			liClass: 'lk-nav__item--add',
			popup: true
		}
		,{
			title: 'Мои заказы',
			link: 'lk-order.html',
			liClass: 'lk-nav__item--alone lk-nav__item--devider'
		}
		,{
			title: 'Пресональные скидки',
			link: 'lk-nav__item--alone lk-sale.html'
		}
	]
%}

{% set
	orderItem = [
		{
			status: 'оплачен',
			statusClass: 'is-success'
		}
		,{
			status: 'Частное лицо',
			statusClass: 'отпрален'
		}
		,{
			status: 'is-abort',
			statusClass: 'ожидается оплата'
		}
	]
%}

{% set
	deliveryItem = [
		{
			class: 'pickup',
			icon: 'delivery',
			title: 'Самовывоз',
			data: 'auto'
		}
		,{
			icon: 'pr',
			title: 'Почта России',
			data: 'mail',
			desc: 'Доставка занимает от 4 до 30 дней, всё зависит от веса посылки и адреса доставки. Подробнее можете узнать на сайте отправителя pochta.ru'
		}
		,{
			icon: 'dl',
			title: 'Деловые линии',
			data: 'auto',
			desc: 'Одна из крупнейших российских транспортно-экспедиционных компаний. Доставка занимает от 5 до 35 дней, всё зависит от типа груза и адреса доставки. Подробнее можете узнать на сайте отправителя dellin.ru'
		}
		,{
			icon: 'pek',
			title: 'ПЭК',
			data: 'auto',
			desc: 'Является одним из крупнейших грузоперевозчиков России. Доставка занимает от 1 до 45 дней, всё зависит от веса груза и адреса доставки. Подробнее можете узнать на сайте отправителя pecom.ru'
		}
		,{
			icon: 'energy',
			title: 'ЭНЕРГИЯ',
			data: 'auto',
			desc: 'Международная транспортная компания. Доставка занимает от 1 до 40 дней, всё зависит от веса груза и адреса доставки. Подробнее можете узнать на сайте отправителя nrg-tk.ru'
		}
	]
%}

{% set
	payItem = [
		{
			icon: 'robokassa',
			title: 'Робокасса',
			desc: 'Оплата происходит через систему Робокасса. Данный вид оплаты является самым простым и распространенным, ведь система Робокасса включает в себя более 40 способов оплаты.'
		}
		,{
			class: 'pickup',
			icon: 'accounting',
			title: 'Выставить счет'
		}
	]
%}
