{% set
	news = [
		{
			date: '27 ноября 2018',
			title: 'Новогодний конкурс!',
			p1: 'Скоро новый год - отличный повод провести конкурс «Активный подписчик» и порадовать Вас серьезными подарками! Будет 5 призовых мест! ',
			p2: 'Правила: быть активным участником нашего сообщества с 21 ноября по 25 декабря. Лайки, комментарии, репосты - за каждое действие будут начислены баллы...'
		},
		{
			date: '19 ноября 2018',
			title: 'Рады представить Вам нашего нового героя',
			p1: 'Автомеханика, который с этого дня станет неотъемлемой частью мультяшного мира CS20!',
			p2: 'Всем привет! Меня зовут Александр, мне 33 года и уже как 9 лет я реанимирую Ваши автомобили, меняю масло, ремонтирую подвеску и двигатели. Когда-нибудь я выплачу кредит, куплю дом на волге и навсегда забуду про автосервис....'
		},
		{
			date: '15 ноября 2018',
			title: 'У кого уже началась зима?',
			p1: 'Мы вот еще не привыкли к долгим прогревам и высаженным аккумуляторам по утрам.',
			p2: 'Около 5 лет назад мы начали серьезно задумываться над проблемой холодов. Тщательно поработали над составом полиуретана, попробовали несколько видов сырья, проводили экспертизы.',
			p3: 'В один момент северные регионы страны начали скупать весь красный полиуретан серии Драйв, который несмотря на свою жесткость, справлялся с любой погодой, вплоть до - 38 градусов. ',
			class: 'cs-card--wide'
		},
		{
			date: '27 ноября 2018',
			title: 'Новогодний конкурс!',
			p1: 'Скоро новый год - отличный повод провести конкурс «Активный подписчик» и порадовать Вас серьезными подарками! Будет 5 призовых мест! ',
			p2: 'Правила: быть активным участником нашего сообщества с 21 ноября по 25 декабря. Лайки, комментарии, репосты - за каждое действие будут начислены баллы...'
		},
		{
			date: '19 ноября 2018',
			title: 'Рады представить Вам нашего нового героя',
			p1: 'Автомеханика, который с этого дня станет неотъемлемой частью мультяшного мира CS20!',
			p2: 'Всем привет! Меня зовут Александр, мне 33 года и уже как 9 лет я реанимирую Ваши автомобили, меняю масло, ремонтирую подвеску и двигатели. Когда-нибудь я выплачу кредит, куплю дом на волге и навсегда забуду про автосервис....'
		}
	]
%}
