<div class="cart-box">
	<div class="cart-box__header">
		<h1 class="h1 cart-box__title">Добавление нового профиля</h1>
	</div>
	<div class="cart-box__content">
		<div class="button-box">
			<a href="cart-profile-add-1.html" class="btn btn-accent btn--icon btn--big">
				Частное лицо
				{{ mixin.icon('cs-user', 'btn__icon') }}
			</a>
			<a href="cart-profile-add-2.html" class="btn btn--white btn--icon btn--big">
				{{ mixin.icon('cs-tower', 'btn__icon') }}
				Компания
				</a>
		</div>
	</div>
	<div class="cart-box__bottom">
		<div class="button-box button-box--end">
			<button class="btn btn-outline-gray-light cart-box__btn" onclick="Cart.nextPage(0);">Назад</button>
			<button class="btn btn-accent cart-box__btn" onclick="Cart.nextPage(2);">Далее</button>
		</div>
	</div>
</div>
