<div class="cart-box">
	<div class="cart-box__header">
		<h1 class="h1 cart-box__title">Самовывоз</h1>
	</div>
	<div class="cart-box__content">
		<div class="row">
			<div class="col-3 col-xs-12">
				<p class="cart-box__text">Вы можете самостоятельно забрать заказ с нашего склада</p>
			</div>
			<div class="col-9 col-xs-12">
				<ul class="list list--text list--light">
					<li class="list__item">
						<span>Адрес:</span>
						<strong>г. Балаково, ул. Транспортная 6/1</strong>
					</li>
					<li class="list__item">
						<span>Время работы:</span>
						<strong>Пн-Пт 8:00-17:00</strong>
					</li>
					<li class="list__item">
						<span>Телефон: </span>
						<strong><a href="tel:88005552540">8-800-555-25-40</a></strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cart-box__bottom">
		<div class="button-box button-box--end">
			<button class="btn btn-outline-gray-light cart-box__btn" onclick="Cart.nextPage(1);">Назад</button>
			<button class="btn btn-accent cart-box__btn" onclick="Cart.nextPage(3);">Далее</button>
		</div>
	</div>
</div>
