<div class="cart-box cart-box--small">
	<div class="cart-box__header">
		{{ mixin.icon('payment') }}
		<h1 class="h1 cart-box__title">Информация о получателе</h1>
	</div>
	<div class="cart-box__content">

		<div class="pedit__item">
			<div class="pedit__title">Фамилия Имя Отчество:</div>
			<div class="pedit__field">
				{{item.input(type='text', placeholder='Например, Петров Иван Петрович')}}
			</div>
		</div>

		<div class="pedit__item">
			<div class="pedit__title">E-mail:</div>
			<div class="pedit__field">
				{{item.input(type='email', placeholder='example@example.ru')}}
			</div>
		</div>

		<div class="pedit__item">
			<div class="pedit__title">Номер телефона:</div>
			<div class="pedit__field">
				{{item.input(type='tel', placeholder='+7 (927) 107-11-39')}}
			</div>
		</div>

		<div class="pedit__item">
			<div class="pedit__title">Адрес доставки:</div>
			<div class="pedit__field">
				<textarea placeholder="Например Набережная Леонова д.2 оф.15"></textarea>
			</div>
		</div>

		<div class="pedit__item">
			<div class="pedit__title">Оставьте дополнительную информацию:</div>
			<div class="pedit__field">
				<textarea placeholder="Оставить комментарий..."></textarea>
			</div>
		</div>


		<div class="form__box form__box--checkbox mb-30">
			<label class="cs-checkbox">
				<input type="checkbox">
				<span class="cs-checkbox__box"></span>
				<span class="cs-checkbox__title">Я согласен на обработку <a href="privacy.html">персональных данных</a></span>
			</label>
		</div>

	</div>
	<div class="cart-box__bottom">
		<div class="button-box button-box--end">
			<button class="btn btn-accent cart-box__btn">Оформить заказ</button>
		</div>
	</div>
</div>
