<div class="cart-box">
	<div class="cart-box__header">
		<h1 class="h1 cart-box__title">Укажите паспортные данные</h1>
	</div>
	<div class="cart-box__content">
		<div class="cart-box__subtitle">Вы выбрали <strong>ТК Деловые линии</strong>. Для отправки посылки данной службой необходимо указать паспортные данные.</div>
		<div class="row">
			<div class="col-7">
				<div class="row">
					<div class="col-4 col-sm-6 col-xs-12">
						<div class="pedit__item">
							<div class="pedit__title no-wrap">Серия паспорта:</div>
							<div class="pedit__field">
								{{item.input(type='number')}}
							</div>
						</div>
					</div>

					<div class="col-4 col-sm-6 col-xs-12">
						<div class="pedit__item">
							<div class="pedit__title no-wrap">Номер паспорта: </div>
							<div class="pedit__field">
								{{item.input(type='number')}}
							</div>
						</div>
					</div>

					<div class="col-4 col-sm-6 col-xs-12">
						<div class="pedit__item">
							<div class="pedit__title no-wrap">Дата выдачи: </div>
							<div class="pedit__field">
								{{item.input(type='number')}}
							</div>
						</div>
					</div>

					<div class="col-12">
						<p class="pedit__info-text">* - поля, отмеченные звёздочкой, обязательны для заполнения</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cart-box__bottom">
		<div class="button-box button-box--end">
			<p>Нажимая на кнопку "Далее", я даю <strong>согласие на обработку персональных данных</strong></p>
			<a href="cart-profile.html" class="btn btn-outline-gray-light cart-box__btn">Назад</a>
			<a href="#" class="btn btn-accent cart-box__btn">Далее</a>
		</div>
	</div>
</div>
