<div class="cart-box cart-box--small">
	<div class="cart-box__header">
		{{ mixin.icon('payment') }}
		<span class="h1 cart-box__title">Оплата</span>
	</div>
	<div class="cart-box__content">
		<span class="cart-box__subtitle">Выберете удобный способ оплаты:</span>

		<div class="delivery-item__wrap">
			{% import "data/data-lk.html" as pay %}
			{% for item in pay.payItem %}
			<label class="delivery-item {% if item.class %} delivery-item--{{ item.class }} {% endif %} cs-checkbox cs-checkbox--pseudo js-cs-radio delivery-item__checkbox">
				<input name="pay-method" type="radio">
				<img
					class="delivery-item__img"
					src="img/general/payment/logos/{{ item.icon }}.png"
					alt="{{ item.title }}">
				<h5 class="delivery-item__title">{{ item.title }}</h5>
			</label>
			{% endfor %}
		</div>

		<p class="cart-box__desc">Оплата через интернет, более 40 способов оплаты <br> Внимание! Обработка и отправка заказа производится только после оплаты.</p>

	</div>
	<div class="cart-box__bottom">
		<div class="button-box button-box--end">
			<button class="btn btn-outline-gray-light cart-box__btn">Назад</button>
			<button class="btn btn-accent cart-box__btn">Далее</button>
		</div>
	</div>
</div>
