.cs-accordeon{
	@include nosel;

	&__item{
		&.is-open{
			.cs-accordeon{
				&__icon{
					&::before{
						content: '';
						transform: rotate(90deg);
					}
					&::after{
						transform: rotate(90deg);
						opacity: 0;
					}
				}
			}
		}
	}
	
	&__icon{
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: $gray;
		border-radius: 50%;
		position: absolute;
		top: 1px;
		right: 0;
		&::after, &::before{
			content: '';
			display: block;
			position: absolute;
			background-color: #fff;
			transform-origin: 50% 50%;
			will-change: transform;
			@include tr;

		}
		&::after{
			top: 9.5px;
			right: 4.5px;
			width: 11px;
			height: 1px;
		}
		&::before{
			top: 4.5px;
			right: 9.5px;
			width: 1px;
			height: 11px;
		}				
	}

	&__content{width: 100%;}

	&__title{
		font-family: $f-light;
		font-size: 15px;
		color: #000;
		cursor: pointer;
		position: relative;
	}//cs-accordeon__title
}//cs-accordeon

.cs-dropdown{
	position: relative;
	&.is-active{
		color: #000;
		background-color: #fff;
		&::before{
			content: '\f106';
		}
		.cs-dropdown__list{
			display: block;
		}
	}

	&--hover{
		&:hover{
			color: #000;
			background-color: #fff;
			&::before{
				content: '\f106';
			}

			.cs-dropdown__list{
				display: block;
			}
		}
	}

	&::before{
		content: '\f107';
		font-family: fontawesome;
		font-size: 18px;
		display: inline-block;
		@include vy;
		right: 10px;
	}

	&__list{
		display: none;
		color: #000;
		background-color: #fff;
		border-top: 1px solid $color-border--light;
		border-radius: 0 0 $border-radius $border-radius;
		@extend %shadow;
		position: absolute;
		top: 99%;
		left: 0;
		width: 100%;
	}//cs-dropdown__list
	
	&__link{
		display: block;
		padding: 5px 10px 6px;
		color: #000;
		font-size: 14px;
		transition: initial;
		position: relative;
		&:hover{
			color: #000;
			background-color: $gray--lighten;
		}
		&::after{
			content: '\f105';
			font-family: fontawesome;
			font-size: 18px;
			@include vy;
			right: 0;
		}
	}//cs-dropdown__link
}//cs-dropdown