//CUSTOM LIBS

//noUiSlider
.noUi-horizontal{
	height: 5px;
	border-radius: 50%;
	.noUi-handle{
		width: 8px;
		height: 8px;
		top: -2px;
		left: -5px;
		background-color: #d5d1d1;
		@include max-screen(480) {
			width: 10px;
			height: 10px;
		}
	}
}

.noUi-handle{
	border: none;
	border-radius: 0;
	box-shadow: none;
	position: relative;
	cursor: pointer;
	outline: none;
	&::after{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid $gray;
		background-color: #fff;
		@include vcenter;
		@include tr(.5s);
	}
	&::before{
		display: none;
	}
}

.noUi-base, .noUi-handle{
	background-color: #d5d1d1;
}

.noUi-connect, .noUi-target{
	background: $gray;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

//Select2
.select2-container{
	&.select2-container--open{
		.select2-selection__arrow{
			&::before{
				transform: rotate(180deg);
			}
		}
	}
}

.select2-dropdown{
	// max-height: 133px;
	border-radius: $border-radius;
	// overflow: hidden;
	// @include cs-scroll;
}
.select2-results__options{
	@include cs-scroll;
}
.select2-results__option, .select2-selection__rendered{
	font-size: 14px;
	color: #000;
}
.select2-results__option{
	padding-left: 8px;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b{display: none;}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{outline: none;border-radius: $border-radius;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color: $color-accent}

.select2-selection__arrow{
	position: relative;
	&::before{
		content: '';
		display: inline-block;
		@include sprite(arrow--down);
	}
}


.select2-container{
	width: 100% !important;
}
.select2-container .select2-selection--single{
	height: 40px;
	border: 1px solid $gray--light;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 38px;
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 6px;
	right: 5px;
}

//Mas Gray
[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}