.cs-accordeon{
	@include nosel;

	&__item{
		transition: box-shadow .35s ease;

		@include r-min(sm) {
			&:hover {
				box-shadow: $bxs-box--hover;
			}
		}
		&.is-open{
			.cs-accordeon{
				&__icon{
					&::before{
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	&__icon{
		@include centre('y');
		right: 0;

		&::before{
			content: '\f107';
			@include fa('light');
			display: block;
		}
	}

	&__content{width: 100%;}

	&__title{
		font-family: $f-light;
		font-size: 15px;
		color: #000;
		cursor: pointer;
		position: relative;
	}//cs-accordeon__title
}//cs-accordeon

.cs-dropdown{
	position: relative;
	&.is-active{
		color: #000;
		background-color: #fff;
		&::before{
			content: '\f106';
		}
		.cs-dropdown__list{
			display: block;
		}
	}

	&--hover{
		&:hover{
			color: #000;
			background-color: #fff;
			&::before{
				content: '\f106';
			}

			.cs-dropdown__list{
				display: block;
			}
		}
	}

	&::before{
		content: '\f107';
		@include fa('light');
		font-size: 18px;
		display: inline-block;
		@include vy;
		right: 10px;
	}

	&__list{
		display: none;
		color: #000;
		background-color: #fff;
		border-top: 1px solid $color-border--light;
		border-radius: 0 0 $border-radius $border-radius;
		@extend %shadow;
		position: absolute;
		top: 99%;
		left: 0;
		width: 100%;
	}//cs-dropdown__list

	&__link{
		display: block;
		padding: 5px 10px 6px;
		color: #000;
		font-size: 14px;
		transition: initial;
		position: relative;
		&:hover{
			color: #000;
			background-color: $gray--lighten;
		}
		&::after{
			content: '\f105';
			@include fa('light');
			font-size: 18px;
			@include vy;
			right: 0;
		}
	}//cs-dropdown__link
}//cs-dropdown
