.cs-checkbox{
	font-size: 14px;
	cursor: pointer;
	@include nosel;

	&:hover{
		.cs-checkbox__box{
			border: 1px solid $color-accent;
		}
	}

	&__wrap{
		display: flex;
		align-items: center;
		width: 100%;
		text-align: center;
	}//cs-checkbox__wrap

	&__dell{
		display: none;
		background-color: rgba(#fff, .8);
		@include coverdiv;
		z-index: 10;
		.icon{
			width: 32px;
			height: 32px;
			fill: $color-accent;
			@include vcenter;
		}
	}//cs-checkbox__dell

	input {
		display: none;
		&:checked + .cs-checkbox__box {
			// border: 2px solid $color-accent;
			background-color: transparent;
			&::before{
				display: block;
			}
		}
	}

	&__title{color: $color-secondary;}//cs-checkbox__title

	&__box{
		display: inline-block;
		margin-right: 5px;
		width: 18px;
		height: 18px;
		border: 1px solid $gray;
		border-radius: 2px;
		position: relative;
		top: 4px;
		&::before{
			content: '';	
			width: 7px;
			height: 11px;
			border: solid $color-accent;
			border-width: 0 2px 2px 0;		
			position: absolute;
			left: 5px;
			top: 1px;
			transform: rotate(45deg);
			display: none;
		}
	}//cs-checkbox__box

	&--pseudo{
		&.is-checked{
			.cs-checkbox__box{
				border: 2px solid $color-accent;
				background-color: $color-accent;
				&::before{
					display: block;
				}
			}
		}
	}//cs-checkbox--pseudo

	&--big{
		&:hover{
			.cs-checkbox__box{
				border-color: $color-border;
			}
		}
		input{
			&:checked + .cs-checkbox__box{
				background-color: $color-accent;
				border-color: transparent;
				&::after{
					left: auto;
					right: 0;
					border-color: transparent;
				}
			}
		}
		.cs-checkbox__box{
			display: block;
			width: 40px;
			background-color: $color-border;
			@include br(10px);
			&::after{
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				background-color: #fff;
				@include br(50%);
				@include tr;
				position: absolute;
				top: 2%;
				left: 0px;
				height: 96%;
			}
			&::before{
				color: #fff;
				left: 4px;
			}
		}
	}//cs-checkbox--big

	&--radio{
		background-color: transparent;
		&:hover{
			input {
				&:checked + .cs-checkbox__box {
					border-color: lighten($color-accent, 7%);
					&::before{
						background-color: lighten($color-accent, 7%);
					}
				}
			}
		}
		input {
			&:checked + .cs-checkbox__box {
				border: 2px solid $color-accent;
				background-color: transparent;
				&::before{
					display: block;
					// background-color: $color-accent;
				}
			}
		}
		.cs-checkbox__box{
			display: inline-block;
			border-radius: 50%;
			background-color: transparent;
			&::before{
				display: none;
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 50%;
				border: none;
				background-color: $color-accent;
				@include vcenter;
			}
		}

		&_inline{
			padding: 7px 0 9px;
			width: 50%;
			color: $color-text;
			border: 1px solid $color-border--lighten;
			border-right-color: transparent;
			background-color: $gray;
			&:first-child{
				border-radius: $border-radius 0 0 $border-radius;
				border-color: $color-border--lighten;
				border-right-color: transparent;
			}
			&:last-child{
				border-radius: 0 $border-radius $border-radius 0;
				border-color: $color-border--lighten;
			}
			&:hover{
				border-color: $color-border;
			}
			&.is-checked{
				background-color: #fff;
				color: $color-text;
				&::before{
					color: $color-accent;
				}
			}
			.cs-checkbox__box{
				display: none;
			}
		}//cs-checkbox--radio_inline
	}//cs-checkbox--radio

	&--inline{
		border: 1px solid $color-border;
		border-right-color: transparent;
		position: relative;
		z-index: 20;
		&:first-child{
			border-radius: 4px 0 0 4px;
		}
		&:last-child{
			border-right: 1px solid $color-border;
			border-radius: 0  4px 4px 0;
		}
		&:hover{
			border-color: $color-border;
			border-right-color: transparent;
			color: #000;
			& + .cs-checkbox--inline{
				border-left-color: $color-border;
			}
			&:last-child{
				border-right: 1px solid $color-border;
			}
		}
		&.is-checked{
			color: #fff;
			background-color: $color-accent;
			// border-color: $color-accent;
			&:hover{
				// border: 1px solid $color-accent;
				color: #fff;		
			}
			& + .cs-checkbox--inline,
			& + .cs-checkbox--inline.is-checked{
				border-left-color: #fff;
			}
		}
		input{
			&:checked + .cs-checkbox__box{
				background-color: #C4C4C4;
			}
		}
		.cs-checkbox__box{
			display: none;
		}
	}//cs-checkbox--inline

	&--transform{
		.cs-checkbox{
			&__title{
				@include max-screen(480) {
					padding: 4px 15px 5px;
					font-family: $f-light;
					border: 1px solid $color-border--lighten;
					border-radius: 50px;
				}
			}
			&__box{
				@include max-screen(480) {
					display: none;
				}				
			}
		}
		
		input {
			@include max-screen(480) {
				&:checked ~ .cs-checkbox__title{
					font-family: $f-light;
					color: #fff;
					background-color: $color-accent;
					border: none;
				}				
			}
		}
	}//cs-checkbox--transform

	&--small{
		padding: 2px 8px;
		border: 1px solid $color-border--light;
		& + .cs-checkbox--small{border-left-color: transparent;}

		&:hover{
			border-color: $color-border;
		}

		&.is-checked{
			background-color: #ffeba0;
		}

		.cs-checkbox{
			&__title{
				font-size: 13px;
				line-height: 24px;
			}
		}
	}//cs-checkbox--small

	&--slide{
		position: relative;
		left: 3px;
		& + .cs-checkbox--small{border-left-color: transparent;}

		&:hover{
			.cs-checkbox__box{border: 0;}
		}

		&.is-checked{
			.cs-checkbox__box{
				background-color: lighten($color-accent, 17%);
				border-color: transparent;
				&::after{
					left: auto;
					right: -3px;
					background-color: $color-accent;
				}	
				&::before{
					display: none;
				}	
			}
		}

		input{
			&:checked + .cs-checkbox__box{
				background-color: lighten($color-accent, 17%);
				border-color: transparent;
				&::after{
					left: auto;
					right: -3px;
					background-color: $color-accent;
				}	
				&::before{
					display: none;
				}			
			}
		}

		.cs-checkbox{
			&__title{
				font-size: 13px;
				line-height: 24px;
			}
			&__box{
				margin-right: 0;
				width: 45px;
				height: 16px;
				background-color: $gray--light;
				border: 0;
				border-radius: 35px;
				top: 4px;
				&::after{
					content: '';
					display: block;
					width: 23px;
					height: 23px;
					border-radius: 50%;
					@include vy;
					left: -3px;
				}
				&::before{
					display: none;
				}
			}
		}
	}//cs-checkbox--slide
}//cs-checkbox

.cs-dropdown{
	position: relative;

	&--hover{
		position: relative;
		&:hover{
			.cs-dropdown__list{
				visibility: visible;
				opacity: 1;
				-webkit-filter: none;
				filter: none;
				display: block;
				top: 35px;
				pointer-events: auto;
			}
		}
	}

	&.is-active{
		.cs-dropdown__list{			
			visibility: visible;
			opacity: 1;
			-webkit-filter: none;
			filter: none;
			display: block;
			top: 35px;
			pointer-events: auto;
		}
	}

	&__list{
		min-width: 150px;
		max-width: 320px;
		padding: 8px 12px 9px;
		text-align: left;
		position: absolute;
		top: 45px;
		left: 0;
		z-index: 99;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
		border: 1px solid $color-border--light;
		@include nosel;
		&::before{
			content: '';
			width: 12px;
			height: 12px;
			background-color: #fff;
			border-top: 1px solid $color-border--light;
			border-right: 1px solid $color-border--light;
			border-top-right-radius: $border-radius;
			position: absolute;
			top: -6px;
			left: 12px;
			@include rotate(-45);
		}
	}

	&.top{
		.cs-dropdown{
			&__list{
				top: -35px;
				&::before{
					top: auto;
					bottom: -5px;
				}
			}
		}
		&:hover{
			.cs-dropdown{
				&__list{
					top: -45px;
				}
			}
		}
	}

	&.right{
		.cs-dropdown{
			&__list{
				left: auto;
				right: 0;
				&::before{
					left: auto;
					right: 8px;
				}
			}
		}		
	}
}//cs-dropdown

.cs-accordeon{
	@include nosel;

	&__item{
		&.is-open{
			.cs-accordeon{
				&__icon{
					&::before{
						content: '';
						transform: rotate(90deg);
					}
					&::after{
						transform: rotate(90deg);
						opacity: 0;
					}
				}
			}
		}
	}
	
	&__icon{
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: $gray;
		border-radius: 50%;
		position: absolute;
		top: 1px;
		right: 0;
		&::after, &::before{

		}
		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			right: 4.5px;
			width: 11px;
			height: 1px;
			background-color: #fff;
			transform-origin: 50% 50%;
			will-change: transform;
			@include tr;
		}
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 4.5px;
			right: 9px;
			width: 1px;
			height: 11px;
			background-color: #fff;
			transform-origin: 50% 50%;
			will-change: transform;
			@include tr;
		}				
	}

	&__content{width: 100%;}

	&__title{
		font-family: $f-light;
		font-size: 15px;
		color: #000;
		cursor: pointer;
		position: relative;
	}//cs-accordeon__title
}//cs-accordeon