=gradient
	+gp(to right, $bg-gradient--from, $bg-gradient--to)

.windows
	display: none

.page-wrapper
	min-height: 100vh
	@extend %flexColumn
	&__inner
		background-color: #fff
		box-shadow: 0 1px 20px #000
		position: relative
		z-index: 2

.container
	max-width: 1200px
	margin-left: auto
	margin-right: auto
	+r(1200)
		padding: 0 10px

.content-wrapper	
	flex: 1


.header
	background-image: url('../img/general/header-decor.png'), linear-gradient(to right,#090113,#1c0439)
	background-repeat: no-repeat
	background-position: 50% 110%
	+r(768)
		background-image: url('../img/general/header-decor--tablet.png'), linear-gradient(to right,#090113,#1c0439)
		background-position: 80% 100%
		
.footer
	background-color: $color-bg--dark

.cs-section
	margin-bottom: $section-indent
	&__title
		display: block
		margin-bottom: 30px
		font-family: $f-medium
		font-weight: 500
		font-size: 25px
		color: #000
		+r(1024)
			font-size: 20px
		+r(768)
			text-align: center

.page-title
	margin-bottom: 40px

.section-title
	margin-bottom: 35px
	color: #000
	font-family: $f-medium
	font-size: 36px
	font-weight: 500

.icon
	display: inline-block
	width: 22px
	height: 22px

.clearfix
	+clr

.js-scroll
	+smooth-scroll

.text
	&--right
		text-align: right

.overlay
	display: none
	background-color: rgba(#000, .5)
	+coverdiv
	z-index: 300

.page-title
	+r(768)
		font-size: 24px
//page-title

.badge
	min-width: 20px
	height: 19px
	padding: 1px 5px 2px
	text-align: center
	font-family: $f
	font-size: 12px
	line-height: 12px
	color: #fff
	background-color: $color-accent
	border: 2px solid #1c0439
	border-radius: 500px
	overflow: hidden
//badge

.social
	@extend %flexCenter
	//social__list
	&__list
		@extend %flexCenter
	//social__item
	&__item
		& + &
			margin-left: 30px
	//social__link
	&__link
		&:hover
			.social__icon
				fill: #fff
	//social__icon
	&__icon
		fill: $color-text
//social

.breadcrumbs
	padding: 40px 0
	+r(768)
		padding: 15px 0

	//breadcrumbs__list
	&__list
		@extend %flexCenter

	//breadcrumbs__item
	&__item
		position: relative
		& + &
			margin-left: 15px
		&::after
			content: '/'
			font-size: 14px
			+vy
			right: -10px
		&:last-child
			&::after
				display: none

	//breadcrumbs__link
	&__link
		font-size: 14px		
		.breadcrumbs__title
			color: $color-accent

	//breadcrumbs__title
	&__title
		font-size: 14px
		color: #000
		+r(320)
			font-size: 13px

	//breadcrumbs--icon
	&--icon
		.breadcrumbs
			&__list
				@extend %flexCenter
				justify-content: spase-between
				+r(480)
					justify-content: center
			&__item
				margin: auto
				&.is-active, &.is-checked
					.breadcrumbs__link
						color: #000
					.icon
						fill: #000
				&:last-child
					.breadcrumbs__link
						&::before
							display: none
				&::after
					display: none
				+r(480)
					&:not(.is-active)
						display: none
					.breadcrumbs__link
						font-size: 16px
			&__link
				padding: 0 35px 0 45px
				color: $color-text
				font-size: 18px
				line-height: 1
				position: relative
				+r(768)
					padding: 0 22px 0 30px
					font-size: 15px
				&::before
					content: '\f105'
					font-family: fontawesome
					font-size: 18px
					+vy
					right: 0
					+r(768)
						display: none
				.icon
					fill: $color-text
					+vy
					left: 0
					&-cart
						width: 21px
					&-user
						width: 20px
					&-delivery
						width: 25px
					&-pay
						width: 23px
					&-check
						width: 18px
//breadcrumbs

.pagination
	//pagination__list
	&__list
		@extend %flexCenter
		justify-content: center
	//pagination__item
	&__item
		& + &
			margin-left: 3px
		&:first-child, &:last-child
			.pagination__link
				font-size: 20px
				color: $gray--light
				border: 0
				&:hover
					color: $color-text
					background-color: transparent
	//pagination__link
	&__link
		display: inline-block
		width: 30px
		height: 30px
		line-height: 28px
		text-align: center
		font-size: 14px
		color: #000
		border: 1px solid $color-border--light
		transition: initial
		&:hover
			color: #fff
			background-color: $gray
			border-color: $gray
	//pagination__icon
	&__icon
		line-height: 1
		position: relative
		top: -1px
//pagination

.tab
	@extend %flexCenter
	&__wrap
		margin: auto
	&__titles
		@extend %flexCenter
		justify-content: center
	&__title
		font-size: 15px
		background-color: $color-secondary
		border-radius: $border-radius $border-radius 0 0
		cursor: pointer
		@extend %flexCenter
		& + &
			margin-left: 1px
	&__contentes
		border-radius: 0 0 $border-radius $border-radius
	&__content
		display: none
		padding: 15px 30px
//tab

.counter
	//counter__field
	&__field
		width: 60px
		padding: 3px 7px
		text-align: center
		font-family: $f-medium
		font-size: 18px
		color: #000
		border: 1px solid $gray--lighten
		border-radius: $border-radius
	//counter__control
	&__control
		padding: 0 10px
		font-size: 19px
		line-height: 1
		color: #000
		cursor: pointer
		outline: none
		background-color: transparent
		+nosel
//counter