=gradient
	+gp(to right, $bg-gradient--from, $bg-gradient--to)

.text-upercase
	text-transform: uppercase

.list-style
	&--circle
		li
			margin-left: 22px
			list-style-type: disc
	&--def
		li
			padding-left: 20px
			position: relative
			&::before
				content: '—'
				+vy
				left: 0

.windows
	display: none

.page-wrapper
	min-height: 100vh
	@extend %flexColumn
	&.is-auth
		.nav--main
			.nav__item
				&--auth
					display: block
				&--not-auth
					display: none
		.mobile-nav__item
			&--auth
				display: block
			&--not-auth
				display: none

	&__inner
		background-color: #fff
		box-shadow: 0 1px 20px #000
		position: relative
		z-index: 2

.container
	max-width: 1200px
	margin-left: auto
	margin-right: auto
	+r(1200)
		padding: 0 10px

.content-wrapper
	flex: 1

.header
	background-image: url('../img/general/header-decor.png'), linear-gradient(to right,#090113,#1c0439)
	background-repeat: no-repeat
	background-position: 50% 110%
	+r(768)
		background-image: url('../img/general/header-decor--tablet.png'), linear-gradient(to right,#090113,#1c0439)
		background-position: 80% 100%

.footer
	background-color: $color-bg--dark

.cs-section
	margin-bottom: $section-indent
	&__title
		display: block
		margin-bottom: 30px
		font-family: $f-medium
		font-weight: 500
		font-size: 25px
		color: #000
		+r(1024)
			font-size: 20px
		+r(768)
			text-align: center

.page-title
	margin-bottom: 40px

.section-title
	margin-bottom: 35px
	color: #000
	font-family: $f-medium
	font-size: 36px
	font-weight: 500

.icon
	display: inline-block
	width: 22px
	height: 22px

.clearfix
	+clr

.js-scroll
	+smooth-scroll

.text
	&--right
		text-align: right

.overlay
	display: none
	background-color: rgba(#000, .5)
	+coverdiv
	z-index: 300

.page-title
	font-family: $f-medium
	font-weight: 500
	+r(768)
		margin-bottom: 30px
		font-size: 24px
	+r(480)
		margin-bottom: 25px
//page-title

.badge
	min-width: 20px
	height: 19px
	padding: 1px 5px 2px
	text-align: center
	font-family: $f
	font-size: 12px
	line-height: 12px
	color: #fff
	background-color: $color-accent
	border: 2px solid #1c0439
	border-radius: 500px
	overflow: hidden
//badge

.social
	@extend %flexCenter
	//social__list
	&__list
		@extend %flexCenter
	//social__item
	&__item
		& + &
			margin-left: 30px
	//social__link
	&__link
		&:hover
			.social__icon
				fill: #fff
	//social__icon
	&__icon
		fill: $color-text
//social

.pagination
	//pagination__list
	&__list
		@extend %flexCenter
		justify-content: center
	//pagination__item
	&__item
		&.is-active
			.pagination__link
				color: #fff
				background-color: $gray
				border-color: $gray
				&:hover
					background-color: darken($gray, 10%)
					border-color: darken($gray, 10%)

		& + &
			margin-left: 5px
		&:first-child, &:last-child
			.pagination__link
				font-size: 20px
				color: $gray--light
				border: 0
				&:hover
					color: $color-text
					background-color: transparent
	//pagination__link
	&__link
		display: inline-block
		width: 30px
		height: 30px
		line-height: 28px
		text-align: center
		font-size: 14px
		color: #000
		border: 1px solid $color-border--light
		transition: initial
		&:hover
			color: #fff
			background-color: $gray
			border-color: $gray
	//pagination__icon
	&__icon
		line-height: 1
		position: relative
		top: -1px
//pagination

.counter
	//counter__field
	&__field
		width: 60px
		padding: 3px 7px
		text-align: center
		font-family: $f-medium
		font-size: 18px
		color: #000
		border: 1px solid $gray--lighten
		border-radius: $border-radius
	//counter__control
	&__control
		padding: 0 10px
		font-size: 19px
		line-height: 1
		color: #000
		cursor: pointer
		outline: none
		background-color: transparent
		+nosel
//counter

.privacy
	font-size: 11px
	text-align-last: auto
	a
		color: $color-accent
//privacy

.go-top
	padding: 0 30px
	height: 32px
	line-height: 38px
	font-family: $f-bold
	text-transform: uppercase
	font-size: 10px
	letter-spacing: 1px
	color: #000
	border-radius: $border-radius
	background-color: $gray--lighten
	cursor: pointer
	position: fixed
	left: 50%
	transform: translateX(-50%)
	bottom: -200%
	transition: bottom .5s cubic-bezier(.17,.67,.13,.98)
	z-index: z(dropdown)
	display: flex
	opacity: .7
	+rmin(481)
		display: none
	&::before
		content: '\f106'
		font-family: fontawesome
		font-size: 15px
		line-height: 1
		color: #000
		+vx
		top: -2px
	&.is-visible
		bottom: -1px
//.go-top
