<!-- begin breadcrumbs -->
<div class="breadcrumbs breadcrumbs--icon xs-hide">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				{{ mixin.icon('cs-cart') }}
				<span>Корзина</span>
			</a>
		</li>
		<li class="breadcrumbs__item is-active">
			<a href="#" class="breadcrumbs__link">
				{{ mixin.icon('cs-user') }}
				<span>Авторизация</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				{{ mixin.icon('cs-delivery') }}
				<span>Доставка</span>
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				{{ mixin.icon('cs-wallet') }}
				<span>Оплата</span>
			</a>
		</li>
	</ul>
</div>
<!-- end breadcrumbs -->
