
<div class="cart-success__wrap">

	<div class="cart-success__title">Заказ успешно оформлен. Спасибо!</div>

	<div class="cart-success__inner">
		<span class="cart-success__subtitle">Ваш заказ: №490 от 01.05.2018 14:58</span>

		<div class="cart-success__text">
			В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа. <br>
			Вы можете следить за выполнением своего заказа в <a href="#">Личном кабинете</a>. <br>
			Отправка заказа производится только после платы. <br>
			Товар бронируется на складе в течении трех рабочих дней.
		</div>

		<span class="cart-success__subtitle mb-10">Счет: <span>№492</span> от 01.05.2018 14:58</span>

		<span class="cart-success__subtitle">Сумма к оплате по счету: <span>3254</span> <i class="fa fa-rub"></i></span>
	</div>

	<div class="button-box">
		<a href="#" class="button button--transparent button--back">Вернуться в магазин</a>
		<a href="#" class="button button--accent">Оплатить</a>
	</div>
</div>
