<div class="cart__wrap">
	<div class="cart__title">Выберите способ доставки</div>

	<div class="row">
		<div class="col-2">
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
					{{ mixin.icon('delivery') }}
					<span class="cs-checkbox__box"></span>
					</div>
					<div class="delivery-item__text">
						<span class="delivery-item__title">Самовывоз</span>
						<div class="delivery-item__desc">Вы можете самостоятельно забрать заказ с нашего склада по адресу:  г. Балаково, ул. Транспортная 6/1.</div>
					</div>
			</div>
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
					<img class="delivery-item__img" src="img/general/delivery/pr.png" alt="Почта России">
					<span class="cs-checkbox__box"></span>
					</div>
					<div class="delivery-item__text">
						<span class="delivery-item__title">Почта России</span>
						<div class="delivery-item__desc">При сумме заказа от 1000 рублей доставка почтой России за счёт продавца. Если сумма заказа менее 1000 рублей, то получатель самостоятельно оплачивает доставку в отделении почтовой связи при получении.</div>
					</div>
			</div>
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
					<img class="delivery-item__img" src="img/general/delivery/dl.png" alt="Транспортная компания Деловые Линии">
					<span class="cs-checkbox__box"></span>
					</div>
					<div class="delivery-item__text">
						<span class="delivery-item__title">Деловые линии</span>
						<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
					</div>
			</div>
		</div>

		<div class="col-2">
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
					<img class="delivery-item__img" src="img/general/delivery/energy.png" alt="Транспортная компания Энергия">
					<span class="cs-checkbox__box"></span>
					</div>
					<div class="delivery-item__text">
						<span class="delivery-item__title">Энергия</span>
						<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
					</div>
			</div>
			<div class="delivery-item">
				<div class="cs-checkbox cs-checkbox--pseudo js-cs-radio--pseudo delivery-item__checkbox">
					<img class="delivery-item__img" src="img/general/delivery/pek.png" alt="Транспортная компания ПЭК">
					<span class="cs-checkbox__box"></span>
					</div>
					<div class="delivery-item__text">
						<span class="delivery-item__title">ПЭК</span>
						<div class="delivery-item__desc">После оформления заказа с Вами свяжется наш менеджер для уточнения паспортных данных. Доставка оплачивается при получении заказа на терминале транспортной компании.</div>
					</div>
			</div>
		</div>
	</div>

	<div class="button-box cart__button-box">
		<a href="#" class="button button--transparent button--back">Вернуться назад</a>
		<a href="#" class="button button--accent">Далее</a>
	</div>
</div>
