<!-- begin breadcrumbs -->
<div class="container">
	<div class="breadcrumbs__wrap">
		<div class="breadcrumbs" itemtype="http://www.data-vocabulary.org/Breadcrumb">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link" itemprop="url">
						<span class="breadcrumbs__title" itemprop="title">Главная</span>
					</a>
				</li>
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__title" itemprop="title">{{ title }}</span>
				</li>
			</ul>
		</div>
		<a href="#" class="btn-link btn-link--exit"><span>Выход</span></a>
	</div>
</div>
<!-- end breadcrumbs -->
