<!-- begin lk__nav -->
<aside class="lk__nav js-lk-sticky">
	{% if lkOld %}
	<span class="lk-nav__title xs-hide">
		User: <span>Илья Петров</span>
	</span>
	<div class="lk-nav js-lk-nav">
		<ul class="lk-nav__list lk-nav__list--old">
			<li class="lk-nav__item is-active">
				<a class="lk-nav__link" href="lk-settings-old.html" data-page-target="settings">
					<span class="lk-nav__text  lk-nav__text--dark ">Личные данные</span>
				</a>
			</li>
			<li class="lk-nav__item">
				<a class="lk-nav__link" href="lk-order-old.html" data-page-target="order">
					<span class="lk-nav__text ">Мои заказы</span>
				</a>
			</li>
			<li class="lk-nav__item">
				<a class="lk-nav__link" href="lk-sale-old.html" data-page-target="sale">
					<span class="lk-nav__text ">Пресональные скидки</span>
				</a>
			</li>
		</ul>
	</div>
	{% else%}
	<div class="lk-nav js-lk-nav">
		<ul class="lk-nav__list">
			<li class="lk-nav__item is-active">
				<a class="lk-nav__link" href="lk-settings.html" data-page-target="settings">
					<span class="lk-nav__text  lk-nav__text--dark "
						>Petrov_1977</span
					>
					<i class="fas fa-cog lk-nav__icon"></i>
				</a>
			</li>
			<li class="lk-nav__item">
				<a class="lk-nav__link" href="lk-person.html" data-page-target="person">
					<span class="lk-nav__text ">Частное лицо</span>
					<i
						class="fas fa-pencil lk-nav__icon"
						title="редактировать"
					></i>
				</a>
			</li>
			<li class="lk-nav__item">
				<a class="lk-nav__link" href="lk-company.html" data-page-target="company">
					<span class="lk-nav__text ">Компания</span>
					<i
						class="fas fa-pencil lk-nav__icon"
						title="редактировать"
					></i>
				</a>
			</li>
			<li class="lk-nav__item  lk-nav__item--add">
				<a class="lk-nav__link" href="#new-profile" data-fancybox>
					<span class="lk-nav__text ">Добавить профиль</span>
					<i class="fas fa-plus-circle lk-nav__icon"></i>
				</a>
			</li>
		</ul>
		<ul class="lk-nav__list">
			<li class="lk-nav__item  lk-nav__item--alone lk-nav__item--devider">
				<a class="lk-nav__link" href="lk-order.html" data-page-target="order">
					<span class="lk-nav__text ">Мои заказы</span>
				</a>
			</li>
			<li class="lk-nav__item  lk-nav__item--alone">
				<a class="lk-nav__link" href="lk-sale.html" data-page-target="sale">
					<span class="lk-nav__text ">Пресональные скидки</span>
				</a>
			</li>
			<li class="lk-nav__item  lk-nav__item--alone lk-nav__item--exit xs-only">
				<a class="lk-nav__link" href="#" data-page-target="exit">
					<span class="lk-nav__text ">Выход</span>
				</a>
			</li>
		</ul>
	</div>
	{% endif %}
</aside>
<!-- end lk__nav -->
