<!-- begin lk-order -->
<div class="lk__top-line">
	<div class="lk__title">Персональные скидки</div>
</div>

<div class="lk__box js-lk-box" data-page="sale">
	<div class="lk__box_title xs-only">Персональные скидки</div>

	<div class="lk__box_inner">

		<ul class="list">
			<li class="list__item lk__box_title">
				<span> Персональная скидка*</span>
				<span class="color-text--accent">4%</span></li>
			<li class="list__item">
				<span> Товаров приобретено на сумму</span>
				<span class="color-text--accent">14 541 руб.</span></li>
			<li class="list__item">
				<span> До скидки <strong>10%</strong> осталось</span>
				<span class="color-text--accent">459 руб.</span></li>
		</ul>

		<div class="lk__box_title">Условия предоставления скидок</div>

		<ul class="list">
			<li class="list__item list__item--medium color-text--gray-light">
				<span>Объем покупки, руб </span>
				<span>Скидка</span>
			</li>
			<li class="list__item list__item--medium">
				<span>до 3 000</span>
				<span>0%</span>
			</li>
			<li class="list__item list__item--medium">
				<span>3 000 - 10 000</span>
				<span>2%</span>
			</li>
			<li class="list__item list__item--medium">
				<span>10 000 - 15 000</span>
				<span>4%</span>
			</li>
			<li class="list__item list__item--medium">
				<span>15 000 - 25 000</span>
				<span>6%</span></li>
			<li class="list__item list__item--medium">
				<span>25 000 - 50 000</span>
				<span>8%</span>
			</li>
			<li class="list__item list__item--medium">
				<span>более 80 000</span>
				<span>10%</span>
			</li>
		</ul>

		<p class="lk__box_desc">*Персональная скидка - это скидка, размер которой индивидуален для каждого покупателя. Максимальная скидка - скидка, которую компания может предоставить клиенту (при данном объеме продаж валовая прибыль от сделки со скидкой будет равна валовой прибыли от сделки без скидкой, с вилу меньшего объема закупаемой продукции). Определение макмимальной скидки - это ответ на вопрос при какой скидке увеличеный объем продажи товаров (в силу более выгодной цены - объем продажи возрастает) принесет точно такую же (не меньшую) прибыль, чем продажа пусть и меньшей партии товара но без скидки. </p>
	</div>
</div>
