<!-- begin lk-order -->
<div class="lk__top-line">
	<div class="lk__title">Персональная скидка</div>
</div>

<div class="lk__box js-lk-box" data-page="sale">
	<div class="lk__box_inner">

		<ul class="list">
			<li class="list__item lk__box_title">
				<span> Персональная скидка*</span>
				<span class="color-text--accent">5%</span></li>
			<li class="list__item">
				<span> Товаров приобретено на сумму</span>
				<span class="color-text--accent">269 541 руб.</span></li>
			<li class="list__item">
				<span> До скидки <strong>10%</strong> осталось</span>
				<span class="color-text--accent">230 439 руб.</span></li>
		</ul>

		<div class="lk__box_title">Условия предоставления скидок</div>

		<ul class="list">
			<li class="list__item list__item--medium color-text--gray-light">
				<span>Объем покупки, руб </span>
				<span>Скидка</span></li>
			<li class="list__item list__item--medium">
				<span>до 200 000 </span>
				<span>0%</span></li>
			<li class="list__item list__item--medium">
				<span>200 000 - 500 000 </span>
				<span>5%</span></li>
			<li class="list__item list__item--medium">
				<span>500 000 - 800 000 </span>
				<span>10%</span></li>
			<li class="list__item list__item--medium">
				<span>800 000 - 1 000 000 </span>
				<span>15%</span></li>
			<li class="list__item list__item--medium">
				<span>1 000 000 - 1 500 000 </span>
				<span>20%</span></li>
			<li class="list__item list__item--medium">
				<span>более 1 500 000 </span>
				<span>25%</span></li>
		</ul>

		<p class="lk__box_desc">*Персональная скидка - это скидка, размер которой индивидуален для каждого покупателя. Максимальная скидка - скидка, которую компания может предоставить клиенту (при данном объеме продаж валовая прибыль от сделки со скидкой будет равна валовой прибыли от сделки без скидкой, с вилу меньшего объема закупаемой продукции). Определение макмимальной скидки - это ответ на вопрос при какой скидке увеличеный объем продажи товаров (в силу более выгодной цены - объем продажи возрастает) принесет точно такую же (не меньшую) прибыль, чем продажа пусть и меньшей партии товара но без скидки. </p>
	</div>
</div>
