<!-- begin lk-order -->
<div class="lk__top-line">
	<div class="lk__title">Настройки аккаунта</div>
</div>

<div class="lk__box js-lk-box" data-page="settings">
	<div class="lk__box_title xs-only">Petrov_1977</div>

	<form class="pedit">
		<div class="row">
			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Login:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='text')}}
					</div>
				</div>
			</div>

			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">E-mail:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='email')}}
					</div>
				</div>
			</div>
		</div>

		{% if lkOld %}
		<div class="row">
			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Имя:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='text')}}
					</div>
				</div>
			</div>

			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Фамилия:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='text')}}
					</div>
				</div>
			</div>

			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Отчество:</div>
					<div class="pedit__field">
						{{item.input(type='text')}}
					</div>
				</div>
			</div>

			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Телефон:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='tel', inputClass='js-phone-mask')}}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Пароль:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='password')}}
					</div>
				</div>
			</div>

			<div class="col-6 col-xs-12">
				<div class="pedit__item">
					<div class="pedit__title">Подтверждение пароля:<i>*</i></div>
					<div class="pedit__field">
						{{item.input(type='password')}}
					</div>
				</div>
			</div>
		</div>

		<p class="pedit__info-text">* - поля, отмеченные звёздочкой, обязательны для заполнения</p>

		<div class="form__box form__box--checkbox mb-30">
			Получать уведомления:
			{{ item.checkbox('По e-mail', 'ml-20') }}

			{% if lkOld %}
			{{ item.checkbox('По sms', 'ml-20') }}
			{% endif %}
		</div>

		<div class="button-box pt-30">
			<p>Нажимая на кнопку "Сохранить настройки профиля", я даю <strong>согласие на обработку персональных данных</strong></p>
			<button class="btn btn-accent pedit__btn">Сохранить настройки профиля</button>
		</div>
	</form>
</div>
